{% extends "labman_ud/base.html" %}
{% load staticfiles string_list %}



{% block header_css %}

    <link rel="stylesheet" href="{% static 'css/graph_builder.css' %}" />

{% endblock %}



{% block content %}

    <ul class="breadcrumb">
        <li><a href="{% url 'chart_index' %}">Charts</a></li>

        <li><a href="{% url 'publication_index' %}">Publications</a></li>

        <li class="active">
            Co-authorships
            {% if within_group %}
             within {{ RESEARCH_GROUP_SETTINGS.research_group_short_name }}
            {% endif %}
        </li>
    </ul>

    <form class="form-inline">
        <div class="form-group">
            <label for="name_input" class="sr-only">Researcher name</label>
            <input id="typea" type="text" class="form-control typeahead" id="name_input" placeholder="Researcher">
        </div>

        <button onclick="search_function()" class="btn btn-default">
            <i class="fa fa-search"></i>
        </button>
    </form>

    <br>

    <section></section>

    <br>

{% endblock %}



{% block scripts %}

    <script src="{% static 'js/d3.min.js' %}"></script>

    <script src="{% static 'js/graph_builder.js' %}"></script>
    <script src="{% static 'js/typeahead.bundle.js' %}"></script>
    <script src="{% static 'js/substring-matcher.js' %}"></script>

    <script>
        var search_strings = {{ names|string_list|safe }};

        $('.typeahead').typeahead({
            hint: true,
            highlight: true,
            minLength: 1
        },
        {
            name: 'search_strings',
            source: substringMatcher(search_strings)
        });
    </script>

    <script>
        var width = $('section').width();
        var height = width * 0.6;

        var options = {
            'container': {
                'width': width,
                'height': height,
            },
            'directed': false,
            'transition': {
                'duration': 500,
                'ease': 'linear',
            }
        };

        var graph = {{ data|safe }};

        buildGraph(graph, options, 'section');
    </script>

    <script>
        $('#charts-nav').addClass('active');
    </script>

{% endblock %}
