{% extends "labman_ud/base.html" %}



{% block content %}

    <ul class="breadcrumb">
        <li>Publications</li>

        <li>Egonetwork</li>

        <li class="active">{{ author.full_name }}</li>
    </ul>

    <br>

    <div id="egonetwork-graph" width="700" height="600"></div>

    <br>

{% endblock %}



{% block scripts %}

    <script src="{{ STATIC_PREFIX }}js/d3.v3.min.js"></script>

    <script>
        var graph = {{ data|safe }};

        var width = 700;
        var height = 600;

        var color = d3.scale.category20();

        var force = d3.layout.force()
            .linkStrength(function(d) { return Math.sqrt(d.weight); })
            .friction(0.5)
            .gravity(0.5)
            .charge(-3000)
            .linkDistance(125)
            .size([width, height]);

        var svg = d3.select("#egonetwork-graph").append("svg")
            .attr("width", width)
            .attr("height", height);

        var drawGraph = function(graph) {
            force
                .nodes(graph.nodes)
                .links(graph.links)
                .start();

            var link = svg.selectAll(".link")
                .data(graph.links)
                .enter()
                .append("line")
                .attr("class", "link")
                // .style("stroke-width", function(d) { return Math.sqrt(d.value); });
                .style("stroke-width", function(d) { return d.weight; });

            var gnodes = svg.selectAll('g.gnode')
                .data(graph.nodes)
                .enter()
                .append('g')
                .classed('gnode', true);

            var node = gnodes.append("circle")
                .attr("class", "node")
                // .attr("r", 10)
                .attr("r", function(d) {
                    if (d.name == "{{ author.full_name }}")
                        return 30;
                    else
                        return 10;
                })
                .style("fill", function(d) { return color(d.modularity); })
                .call(force.drag);

            var labels = gnodes.append("text")
                .text(function(d) { return d.name; });

            var papers = link.append("title")
                .text(function(d) { return d.weight; });

            force.on("tick", function() {
                link
                    .attr("x1", function(d) { return d.source.x; })
                    .attr("y1", function(d) { return d.source.y; })
                    .attr("x2", function(d) { return d.target.x; })
                    .attr("y2", function(d) { return d.target.y; });

                gnodes.attr("transform", function(d) {
                    return 'translate(' + [d.x, d.y] + ')';
                });

                labels.attr("transform", function(d) {
                    return 'translate(' + [16, 3] + ')';
                });
            });
        };

        drawGraph(graph);
    </script>

    <script>
        $('#charts-nav').addClass('active');
    </script>

{% endblock %}
