{% extends "labman_ud/base.html" %}
{% load staticfiles %}



{% block content %}

    <ul class="breadcrumb">
        <li><a href="{% url 'chart_index' %}">Charts</a></li>

        <li><a href="{% url 'publication_index' %}">Publications</a></li>

        <li class="active">Number of publications</li>
    </ul>

    <div class="chartdiv" id="number_of_publications"></div>

{% endblock %}



{% block scripts %}

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script>
        google.charts.load('current', {'packages':['corechart', 'line']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = new google.visualization.arrayToDataTable({{ publication_counts|safe }});

            var height = $('#number_of_publications').width() * 0.6;

            var options = {
                height: height,
                chartArea: {width: '95%', height: '60%', top: '10%'},
                pointSize: 3,
                focusTarget: 'category',
                colors: [
                    "#000", "#1f77b4", "#aec7e8", "#ff7f0e", "#ffbb78",
                    "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd"
                ],
                legend: {position: 'top'},
                hAxis: {
                    slantedText: 'true',
                    slantedTextAngle: '45',
                }
            };

            var chart = new google.visualization.LineChart(document.getElementById('number_of_publications'));
            chart.draw(data, options);
        };
    </script>

    <script>
        $('#charts-nav').addClass('active');
    </script>

{% endblock %}
