{% extends "labman_ud/base.html" %}
{% load staticfiles %}



{% block content %}

    <ul class="nav nav-pills threshold_pills" role="tablist">
        <li id="threshold_60" role="presentation">
            <a href="{% url 'check_names_similarity_default' %}">Default</a>
        </li>

        <li id="threshold_70" role="presentation">
            <a href="{% url 'check_names_similarity' 70 %}">> 70%</a>
        </li>

        <li id="threshold_80" role="presentation">
            <a href="{% url 'check_names_similarity' 80 %}">> 80%</a>
        </li>

        <li id="threshold_90" role="presentation">
            <a href="{% url 'check_names_similarity' 90 %}">> 90%</a>
        </li>
    </ul>

    <br>

    <table class="table table-striped table-bordered">
        <thead>
            <th>Full name #1</th>
            <th>Full name #2</th>
            <th>Similarity ratio</th>
            <th>Actions</th>
        </thead>

        <tbody>
            {% for item in similarities %}
                <tr>
                    <td>
                        <a  href="{% url 'assign_alias' item.test_person.id item.testing_person.id threshold_ratio %}" class="btn btn-primary btn-xs">
                            &emsp;
                        </a>
                        &emsp;
                        {{ item.test_person.full_name }}
                    </td>

                    <td>
                        <a  href="{% url 'assign_alias' item.testing_person.id item.test_person.id threshold_ratio %}" class="btn btn-info btn-xs">
                            &emsp;
                        </a>
                        &emsp;
                        {{ item.testing_person.full_name }}
                    </td>

                    <td>
                        {{ item.ratio }}
                    </td>

                    <td>
                        <a href="{% url 'ignore_relationship' item.test_person.id item.testing_person.id threshold_ratio %}" class="btn btn-warning btn-xs">
                            Mark as different persons
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>

    <a class="btn btn-danger" href="{% url 'reset_ignored_relationships' threshold_ratio %}">
        Reset ignored matches
    </a>

{% endblock %}



{% block scripts %}

    <script>
        $('#threshold_{{ threshold_ratio }}').addClass('active');
    </script>

{% endblock %}
