{% extends "projects/info_internal_project.html" %}



{% block project_content %}

    <div class="tab-pane active" id="project-assigned-persons">

        {% if project_managers %}
        <h5>Project manager{{ project_managers|pluralize }}</h5>

        <ul>
            {% for item in project_managers %}
                <li>
                    <a href="{% url determine_person_info item.slug %}">
                        {{ item.full_name }}
                    </a>
                    {% if item.working_period %}
                        &emsp;{{ item.working_period }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        <br>
        {% endif %}
        
        {% if principal_researchers %}
        <h5>Principal researcher{{ principal_researchers|pluralize }}</h5>

        <ul>
            {% for item in principal_researchers %}
                <li>
                    <a href="{% url determine_person_info item.slug %}">
                        {{ item.full_name }}
                    </a>
                    {% if item.working_period %}
                        &emsp;{{ item.working_period }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        <br>
        {% endif %}

        {% if researchers %}
        <h5>Researcher{{ researchers|pluralize }}</h5>

        <ul>
            {% for item in researchers %}
                <li>
                    <a href="{% url determine_person_info item.slug %}">
                        {{ item.full_name }}
                    </a>
                    {% if item.working_period %}
                        &emsp;{{ item.working_period }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

{% endblock %}



{% block scripts %}

    <script>
        $('.project_info').removeClass('active');
        $('.project_assigned_persons').addClass('active');
    </script>

{% endblock %}
