{% extends "projects/info.html" %}
{% load staticfiles %}



{% block project_content %}

    <div class="tab-pane active" id="project-assigned-persons">

        {% if project_managers %}
        <h5>Project manager{{ project_managers|pluralize }}</h5>

        <ul>
            {% for item in project_managers %}
                <li>
                    <a href="{% url 'determine_person_info' item.slug %}">
                        {{ item.full_name }}
                    </a>
                </li>
            {% endfor %}
        </ul>

        <br>
        {% endif %}

        {% if principal_researchers %}
        <h5>Principal researcher{{ principal_researchers|pluralize }}</h5>

        <ul>
            {% for item in principal_researchers %}
                <li>
                    <a href="{% url 'determine_person_info' item.slug %}">
                        {{ item.full_name }}
                    </a>
                </li>
            {% endfor %}
        </ul>

        <br>
        {% endif %}

        {% if researchers %}
        <h5>Researcher{{ researchers|pluralize }}</h5>

        <ul>
            {% for item in researchers %}
                <li>
                    <a href="{% url 'determine_person_info' item.slug %}">
                        {{ item.full_name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        {% endif %}

        <br>
        <br>

        <div id="chart_div" style="width: 1000px; height: {{ chart_height }}px;"></div>
    </div>

{% endblock %}



{% block project_scripts %}

    <script src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization', 'version':'1','packages':['timeline']}]}"></script>

    <script>
        var item_width = $("#project-assigned-persons").width();
        $("#chart_div").width(item_width)

        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var container = document.getElementById('chart_div');

            var chart = new google.visualization.Timeline(container);

            var dataTable = new google.visualization.DataTable();

            dataTable.addColumn({ type: 'string', id: 'Member' });
            dataTable.addColumn({ type: 'date', id: 'Start' });
            dataTable.addColumn({ type: 'date', id: 'End' });

            var timeline = [];

            {% for person in project_managers %}
                var start_year = {{ person.start_date|date:"Y" }};
                var start_month = {{ person.start_date|date:"m" }} - 1;    // JS date object starts months in 0
                var start_day = {{ person.start_date|date:"d" }};

                var start_date = new Date(start_year, start_month, start_day);

                var end_year = {{ person.end_date|date:"Y" }};
                var end_month = {{ person.end_date|date:"m" }} - 1;    // JS date object starts months in 0
                var end_day = {{ person.end_date|date:"d" }};

                var end_date = new Date(end_year, end_month, end_day);

                if (end_date > start_date) {
                    timeline.push(["{{ person.full_name }}", start_date, end_date]);
                }
            {% endfor %}

            {% for person in researchers %}
                var start_year = {{ person.start_date|date:"Y" }};
                var start_month = {{ person.start_date|date:"m" }} - 1;    // JS date object starts months in 0
                var start_day = {{ person.start_date|date:"d" }};

                var start_date = new Date(start_year, start_month, start_day);

                var end_year = {{ person.end_date|date:"Y" }};
                var end_month = {{ person.end_date|date:"m" }} - 1;    // JS date object starts months in 0
                var end_day = {{ person.end_date|date:"d" }};

                var end_date = new Date(end_year, end_month, end_day);

                if (end_date > start_date) {
                    timeline.push(["{{ person.full_name }}", start_date, end_date]);
                }
            {% endfor %}

            dataTable.addRows(timeline);

            chart.draw(dataTable);
        }
    </script>

    <script>
        $('.project_info').removeClass('active');
        $('.project_assigned_persons').addClass('active');
    </script>

{% endblock %}
