{% extends "projects/info.html" %}
{% load humanize staticfiles %}



{% block project_content %}

    {% for funding in fundings %}
        {% with forloop.counter as funding_loop %}
        {% for funding_program in funding_programs %}
            {% if funding_program.id == funding.funding_program.id %}

                <blockquote>
                    <p>
                        {{ funding_program.full_name }}

                        <a href="{% url 'funding_program_info' funding_program.slug %}">
                            <i class="fa fa-external-link"></i>
                        </a>

                        {% if funding.project_code %}
                            <span class="project-code" title="Project code">
                                {{ funding.project_code }}
                            </span>
                        {% endif %}
                    </p>

                    <footer>
                        {{ funding_program.organization.full_name }}

                        {% if funding_program.organization.sub_organization_of %}
                            ({{ funding_program.organization.sub_organization_of.full_name }})
                        {% endif %}
                    </footer>
                </blockquote>

                <br>

                <div class="row">

                    <div class="col-md-6">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>Year</th>
                                    <th>Funds</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for funding_amount in funding_amounts %}
                                    {% if funding_amount.funding.id = funding.id %}

                                        <tr>
                                            <td style="text-align: right;">
                                                {{ funding_amount.year }}
                                            </td>

                                            <td style="text-align: right;">
                                                {{ funding_amount.own_amount|intcomma|intword }} €
                                            </td>
                                        </tr>

                                    {% endif %}
                            {% endfor %}

                            {% if total_funds %}
                                <tr class="info">
                                    <td>
                                        <strong>Total funds</strong>
                                    </td>

                                    <td style="text-align: right;">
                                        <strong>{{ total_funds|intcomma|intword }} €</strong>
                                    </td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>

                        <div id="donut-chart_{{ funding_loop }}" class="donut-chart"></div>
                    </div>

                    <div class="col-md-6 centered">
                        {% for logo_item in funding_program_logos %}
                            <img class="funding-program-logo" src="{{ MEDIA_URL }}{{ logo_item.logo }}" title="{{ logo_item.name }}"/>
                            <br>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        {% endwith %}
    {% endfor %}

{% endblock %}



{% block project_scripts %}

    <script>
        $('#project_funding').addClass('active');
    </script>

    <script src="{% static 'js/d3.min.js' %}"></script>

    <script>
        var donut_chart_width = $('.donut-chart').width() - 25;

        var width = donut_chart_width,
            height = 225,
            radius = Math.min(width, height) / 2;

        {% for funding in fundings %}
            {% with forloop.counter as funding_loop %}
                var forloop_counter = {{ funding_loop }};
                var funding_id = {{ funding.id }};

                drawChart(forloop_counter, funding_id, width, height, radius)
            {% endwith %}
        {% endfor %}

        function drawChart(forloop_counter, funding_id, width, height, radius) {
            var color = d3.scale.category10();
            var data = [];

            {% for funding_amount in funding_amounts %}
                {% with funding_amount.funding.id as current_funding_id %}
                    var current_funding_id = {{ current_funding_id }};

                    if (current_funding_id == funding_id) {
                        data.push({year: "{{ funding_amount.year }}", amount: parseFloat({{ funding_amount.own_amount }})});
                    }
                {% endwith %}
            {% endfor %}

            var arc = d3.svg.arc()
                .outerRadius(radius - 10)
                .innerRadius(radius - 60);

            var pie = d3.layout.pie()
                .sort(null)
                .value(function(d) { return d.amount; });

            var svg = d3.select("#donut-chart_" + forloop_counter).append("svg")
                .attr("width", width)
                .attr("height", height + 10)
                .append("g")
                    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");


            var g = svg.selectAll(".arc")
                .data(pie(data))
                .enter().append("g")
                    .attr("class", "arc");

            g.append("path")
                .attr("d", arc)
                .style("fill", function(d) { return color(d.data.year); });

            g.append("rect")
                .attr("class", "label-boxes")
                .attr("transform", function(d) {
                    var centroid = arc.centroid(d);
                    var x = centroid[0] - 20;
                    var y = centroid[1] - 12;
                    return "translate(" + x + ", " + y + ")";
                })
                .attr("width", 40)
                .attr("height", 24)
                .attr("rx", "5")
                .attr("ry", "5")
                .style("stroke", "none")
                .style("fill", "#fff")
                .style("fill-opacity", ".5")
                .style("shape-rendering", "crispEdges")
                g.append("text")
                    .attr("class", "pie-chart-text")
                    .attr("transform", function(d) { return "translate(" + arc.centroid(d) + ")"; })
                    .attr("dy", ".35em")
                    .style("text-anchor", "middle")
                    .text(function(d) { return d.data.year; });
        };
    </script>

{% endblock %}
