{% extends "labman_ud/base.html" %}
{% load staticfiles rdf_link rand_int %}



{% block content %}

    <ol class="breadcrumb">
        <li>
            <a href="{% url 'project_index' %}">Projects</a>
        </li>

        <li>
            <a href="{% url 'view_project_type' project.project_type|slugify %}">
                {{ project.project_type }}
            </a>
        </li>

        <li class="active">
            {% rdf_icon project %}
            {{ project.full_name }}
        </li>
    </ol>

    <div class="entity-info-nav">
        <a id="project_overview" class="active" href="{% url 'project_info' project.slug %}">
            <i class="fa fa-eye"></i>
            <span class="hidden-xs hidden-sm">
                Overview
            </span>
        </a>

        {% if not is_internal %}
            <a id="project_funding" href="{% url 'project_funding_details' project.slug %}">
                <i class="fa fa-money"></i>
                <span class="hidden-xs hidden-sm">
                    Funding
                </span>
            </a>
        {% endif %}

        {% if not project.private_participant_details %}
        <a id="project_people" href="{% url 'project_assigned_persons' project.slug %}">
            <i class="fa fa-group"></i>
            <span class="hidden-xs hidden-sm">
                Participants
            </span>
        </a>
        {% endif %}

        {% if not is_internal %}
            <a id="project_consortium" href="{% url 'project_consortium_members' project.slug %}">
                <i class="fa fa-sitemap"></i>
                <span class="hidden-xs hidden-sm">
                    Consortium members
                </span>
            </a>
        {% endif %}

        {% if related_publications %}
            <a id="project_related_pubs" href="{% url 'project_related_publications' project.slug %}">
                <i class="fa fa-file-text"></i>
                <span class="hidden-xs hidden-sm">
                    {{ related_publications|length }} publication{{ related_publications|pluralize }}
                </span>
            </a>
        {% endif %}

        {% if related_news %}
            <a id="project_related_news" href="{% url 'project_related_news' project.slug %}">
                <i class="fa fa-newspaper-o"></i>
                <span class="hidden-xs hidden-sm">
                    {{ related_news|length }} news piece{{ related_news|pluralize }}
                </span>
            </a>
        {% endif %}
    </div>

    <div class="soften"></div>

    <div class="entity-info-content">
        {% block project_content %}

            <h3 id="entity-title">
                <i class="fa fa-quote-left"></i>
                {{ project.full_name }}
                <i class="fa fa-quote-right"></i>
            </h3>

            <div class="row entity-metadata">
                {% if logo %}
                    <div class="col-md-3 centered">
                        <img id="project-logo" class="img-responsive" src="{{ MEDIA_URL }}{{ logo }}"/>
                    </div>
                {% endif %}

                <div class="col-md-3">
                    <br>

                    <i class="fa fa-calendar"></i>
                    {{ project.start_year }} - {{ project.end_year }}
                    <a href="{% url 'view_project_status' project.status|slugify %}">
                        <i title="{{ project.status }}" class="fa fa-circle status-{{ project.status|slugify }}"></i>
                    </a>

                    {% if project.homepage %}
                        <br>
                        <br>

                        <a target="_blank" href="{{ project.homepage }}">
                            <i class="fa fa-globe"></i>Homepage
                        </a>
                    {% endif %}
                </div>

                <div id="tag-cloud-container" class="col-md-6">
                    <div id="project-tag-cloud" style="width: 100px; height: 50px;"></div>
                </div>
            </div>

            <blockquote>
                <p>
                    Description
                </p>

                <footer>
                    {{ project.description|safe }}
                </footer>
            </blockquote>

        {% endblock %}
    </div>

{% endblock %}



{% block scripts %}

    <script>
        $('#projects-nav').addClass('active');
    </script>

    <script>
        $('#project_overview').removeClass('active');
        $('#project_funding').removeClass('active');
        $('#project_people').removeClass('active');
        $('#project_consortium').removeClass('active');
        $('#project_related_pubs').removeClass('active');
    </script>

    <script>
        $('#project-tag-cloud').width($('#tag-cloud-container').width() + 'px');
        var custom_height = $('#project-tag-cloud').width() * 0.5;

        if (custom_height > 125) {
            custom_height = 125;
        }

        $('#tag-cloud-container').height(custom_height + 'px');
        $('#project-tag-cloud').height(custom_height + 'px');
    </script>

    <script src="{% static 'js/jqcloud-1.0.4.min.js' %}"></script>

    <script>
        var word_array = [
            {% for tag in tags %}
                {text: "{{ tag }}", weight: "{% randInt 2 8 %}", link:"{% url 'view_project_tag' tag.slug %}"},
            {% endfor %}
        ];

        $(function() {
            $("#project-tag-cloud").jQCloud(word_array);
        });
    </script>

    {% block project_scripts %}
         <script>
            $('#project_overview').addClass('active');
        </script>
    {% endblock %}

{% endblock %}
