{% extends "labman_ud/base.html" %}

{% block content %}

    <div id="project-header">
        <div class="row">
            <div class="col-md-9">
                <h3>
                    <a href="{% url 'project_index' %}"><img width="32" src="{{ STATIC_PREFIX }}img/back.png" /></a>
                    {{ project.full_name }}
                </h3>
            </div> <!-- end .col-md-9 -->

            <div class="col-md-3">
                <div class="centered">
                    <a target="_blank" href="{{ RDF_URI }}projects/{{ project.slug }}">
                        <img class="rdf-icon" alt="RDF description" title="RDF description" width="32" src="{{ STATIC_PREFIX }}img/rdf.png"/>
                    </a>
                </div>

                <br>

                <blockquote id="project-type" class="pull-left">
                    <p>
                        <a href="{% url 'view_project_type' project.project_type.slug %}">
                            {{ project.project_type.name }}
                        </a>
                    </p>
                </blockquote>

            </div>
        </div> <!-- end .row -->
    </div> <!-- end #project-header -->

    <div class="tabbable">

        <div class="col-md-3">
            {% if logo %}
                <div class="project-logo">
                    <img class="img-responsive" src="{{ MEDIA_PREFIX }}{{ logo }}"/>
                </div>
            {% endif %}

            <ul id="project-tabs" class="nav nav-pills nav-stacked">
                <li class="project_info active">
                    <a href="{% url 'project_info' project.slug %}">
                        <i class="fa fa-info fa-large"></i>&emsp;General information
                    </a>
                </li>

                <li class="project_funding_details">
                    <a href="{% url 'project_funding_details' project.slug %}">
                        <i class="fa fa-money fa-large"></i>&emsp;Funding details
                    </a>
                </li>

                <li class="project_assigned_persons">
                    <a href="{% url 'project_assigned_persons' project.slug %}">
                        <i class="fa fa-group fa-large"></i>&emsp;Employees
                    </a>
                </li>

                <li class="project_consortium_members">
                    <a href="{% url 'project_consortium_members' project.slug %}">
                        <i class="fa fa-sitemap fa-large"></i>&emsp;Consortium members
                    </a>
                </li>

                {% if related_publications %}
                    <li class="project_related_publications">
                        <a href="{% url 'project_related_publications' project.slug %}">
                            <i class="fa fa-file-text-o fa-large"></i>&emsp;{{ related_publications|length }} publication{{ related_publications|pluralize }}
                        </a>
                    </li>
                {% endif %}
            </ul> <!-- end #project-tabs -->

            <br>

            <div>
                <h6>Tags</h6>

                {% for tag in tags %}
                    <a class="project-tag" href="{% url 'view_project_tag' tag.slug %}">
                        <span class="label label-info">{{ tag.name }}</span>
                        <br>
                    </a>
                {% endfor %}
            </div>
        </div> <!-- end .col-md-3 project's info sidebar -->

        <div class="col-md-9">

            <div id="project-tab-content" class="tab-content project-template">

                {% block project_content %}
                    <div class="tab-pane active" id="project-info">

                        {% if project.homepage %}
                            <h5>Homepage:</h5>
                            <p>
                                <a target="_blank" href="{{ project.homepage }}">
                                    {{ project.homepage }}
                                </a>
                            </p>
                            <br>
                        {% endif %}

                        <h5>Duration:</h5>
                        <p>
                            {{ project.start_year }} - {{ project.end_year }}
                            &emsp;
                            {% ifequal project.status 'Not started' %}
                                <span class="label">{{ project.status }}</span>
                            {% endifequal %}
                            {% ifequal project.status 'Ongoing' %}
                                <span class="label label-info">{{ project.status }}</span>
                            {% endifequal %}
                            {% ifequal project.status 'Finished' %}
                                <span class="label label-success">{{ project.status }}</span>
                            {% endifequal %}
                        </p>

                        <br>

                        {% if project.description != "-" %}

                            <h5>Description:</h5>
                            <p>
                                {{ project.description }}
                            </p>

                            <br>
                        {% endif %}

                    </div>
                {% endblock %}

            </div> <!-- end #project-tab-content -->

        </div>

    </div>

{% endblock %}



{% block scripts %}

    <script>
        $('#projects-nav').addClass('active');
    </script>

    {% block project_scripts %}{% endblock %}

{% endblock %}
