{% extends "projects/info.html" %}
{% load staticfiles sanitize_types %}



{% block header_css %}

    <link rel="stylesheet" href="{% static 'css/bootstrap-table.min.css' %}" />

{% endblock %}



{% block project_content %}

    {% include 'publications/generic_related_publications_template.html' %}

{% endblock %}



{% block project_scripts %}

    <script>
        $('#project_related_pubs').addClass('active');
    </script>

    <script src="{% static 'js/bootstrap-table.min.js' %}"></script>

    <script>
        function queryParams() {
            return {
                type: 'owner',
                sort: 'updated',
                direction: 'desc',
                per_page: 100,
                page: 1
            };
        };
    </script>

{% endblock %}
