{% extends "projects_morelab/base.html" %}



{% block content %}

    <table class="table table-striped">
        <tbody>
            {% for project in projects %}
                <tr>
                    <td>
                        <a href="{% url incomes_by_project project.slug %}"><i class="icon-chevron-right"></i> {{ project.full_name }}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>
    <div class="center">
        <a class="btn btn-inverse" href="{% url chart_index %}">Go back</a>
    </div>
    <br>

{% endblock %}



{% block scripts %}
{% endblock %}
