{% extends "projects_morelab/base.html" %}
{% load i18n %}

{% block content %}

    <div id="chart-div">
        <div id="chart_div" style="width: 900px; height: 500px;"></div>
    </div>

    <br>
    <div class="center">
        <a class="btn btn-info" href="{% url project_info project.slug %}">View project's info</a>
    </div>
    <br>
    <div class="center">
        <a class="btn btn-inverse" href="{% url incomes_by_project_index %}">Go back</a>
    </div>
    <br>

{% endblock %}

{% block scripts %}

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script>
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Year', 'Incomes'],
                {% for project_income in project_incomes %}
                    ["{{ project_income.key }}", parseFloat({{ project_income.value }})],
                {% endfor %}
            ]);

            var options = {
                title: 'Income breakdown for {{ project.title }}',
            };

            // var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
            // var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>

{% endblock %}
