{% extends "projects_morelab/base.html" %}
{% load i18n %}

{% block content %}

    <ul>
        {% for project in projects %}
            <li>
                <a href="{% url incomes_by_project project.slug %}">
                    {{ project.title }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <br>
    <div class="center">
        <a class="btn btn-inverse" href="{% url chart_index %}">Go back</a>
    </div>
    <br>

{% endblock %}

{% block scripts %}
{% endblock %}
