{% extends "projects_morelab/base.html" %}
{% load i18n %}

{% block content %}

    <div id="chart-div">
        <div id="chart_div" style="width: 900px; height: 500px;"></div>
    </div>

    <br>
    <div class="center">
        <a class="btn btn-inverse" href="{% url incomes_by_year year %}">Go back</a>
    </div>
    <br>

{% endblock %}

{% block scripts %}

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script>
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Geographical scope', 'Incomes'],
                {% for project_income in project_incomes %}
                    ["{{ project_income.key }}", parseFloat({{ project_income.value }})],
                {% endfor %}
            ]);

            var options = {
                title: 'Income breakdown from {{ scope }} in the year {{ year }}',
                hAxis: {title: 'Geographical scope',  titleTextStyle: {color: 'black'}},
                vAxis: {title: 'Incomes in €',  titleTextStyle: {color: 'black'}},
            };

            // var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
            // var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, options);

            // Add selection handler.
            google.visualization.events.addListener(chart, 'select', selectHandler);

            function selectHandler() {
                var selection = chart.getSelection();
                for (var i = 0; i < selection.length; i++) {
                    var item = selection[i];
                    var scope = data.getValue(item.row, item.column-1);
                    window.location.replace("/sourceplanet/charts/incomes/" + {{ year }} + "/" +  scope);
                }
            }
        }
    </script>

{% endblock %}
