{% extends "projects_morelab/base.html" %}
{% load i18n %}

{% block content %}

    <div class="row-fluid main-page">
        <div class="span3">
            <a href="{% url total_incomes %}">
                <img src="{{ STATIC_PREFIX }}img/index/calendar.png">
                <br>
                Incomes by year
            </a>
        </div>

        <div class="span3 offset1">
            <a href="{% url incomes_by_project_index %}">
                <img src="{{ STATIC_PREFIX }}img/index/projects_income.png">
                <br>
                Incomes by project
            </a>
        </div>
    </div>

{% endblock %}

{% block scripts %}
{% endblock %}
