{% extends base_template %}



{% block content %}

    <div id="chart-div">
        <div id="chart_div" style="width: 1000px; height: 500px;"></div>
    </div>

    <br>
    <div class="center">
        <a class="btn btn-inverse" href="{% url total_incomes %}">Go back</a>
    </div>
    <br>

{% endblock %}



{% block scripts %}

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script>
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Year', 'Europe', 'Spain', 'Euskadi'],

                {% for income in total_incomes %}
                    {{ income }},
                {% endfor %}

            ]);

            var options = {
                title: 'DeustoTech INTERNET incomes by scope',
                hAxis: {title: 'Year',  titleTextStyle: {color: 'black'}},
                vAxis: {title: 'Incomes in €',  titleTextStyle: {color: 'black'}},
            };

            var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
            chart.draw(data, options);

            // Add selection handler.
            google.visualization.events.addListener(chart, 'select', selectHandler);

            function selectHandler() {
                var selection = chart.getSelection();
                for (var i = 0; i < selection.length; i++) {
                    var item = selection[i];
                    var scope = data.getValue(item.row, item.column-1);
                    window.location.replace('{{ path }}' + scope);
                }
            }
        }

    </script>

{% endblock %}
