{% extends base_template %}
{% load humanize %}



{% block content %}


    <div id="chart-div" class="centered">
        <h4>DeustoTech INTERNET total incomes</h4>

        <div id="chart_div" style="width: 1000px; height: 500px;"></div>
    </div>

    <br>

{% endblock %}



{% block scripts %}

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script>
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            // var data = google.visualization.arrayToDataTable([
            //     ['Year', 'Incomes'],
            //     {% for income in incomes %}
            //         ["{{ income.key }}", parseFloat({{ income.value }})],
            //     {% endfor %}
            // ]);

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Year');
            data.addColumn('number', 'Income');
            data.addColumn({type: 'string', role: 'tooltip'});
            data.addColumn({type: 'boolean', role: 'certainty'});
            data.addRows([
                {% for income in incomes %}
                    ['{{ income.key }}', {{ income.value }}, '{{ income.value|intcomma }} € in {{ income.key }}', {{ income.certainty|lower }}],
                {% endfor %}
            ]);

            var options = {
                hAxis: {title: 'Year',  titleTextStyle: {color: 'black'}, slantedTextAngle: 45, slantedText: true},
                vAxis: {title: 'Incomes in €',  titleTextStyle: {color: 'black'}},
                colors: ['#132da3'],
                connectSteps: false,
                legend: {position: 'none'},
                areaOpacity: 0.5,
            };

            var chart = new google.visualization.SteppedAreaChart(document.getElementById('chart_div'));
            chart.draw(data, options);

            // Add selection handler.
            google.visualization.events.addListener(chart, 'select', selectHandler);

            function selectHandler() {
                var selection = chart.getSelection();
                for (var i = 0; i < selection.length; i++) {
                    var item = selection[i];
                    var year = data.getValue(item.row, item.column-1);
                    window.location.replace('{{ path }}' + year);
                }
            }
        }

    </script>

{% endblock %}
