{% extends base_template %}



{% block content %}

    <div id="chart-div" class="centered">
        <h4>DeustoTech INTERNET incomes by scope</h4>

        <div id="chart_div" style="width: 1000px; height: 500px;"></div>
    </div>

    <br>
    <div class="center">
        <a class="btn btn-inverse" href="{% url total_incomes %}">Go back</a>
    </div>
    <br>

{% endblock %}



{% block scripts %}

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script>
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Year', 'Euskadi', 'Spain', 'Europe', 'Total'],

                {% for income in total_incomes %}
                    {{ income }},
                {% endfor %}

            ]);

            var options = {
                hAxis: {
                    title: 'Year',
                    titleTextStyle: {color: 'black'},
                    slantedText: true,
                    slantedTextAngle: 45,
                },
                vAxis: {
                    title: 'Incomes in €',
                    titleTextStyle: {color: 'black'},
                },
                // isStacked: true,
                colors: ['green', 'red', 'blue', 'black'],
                // seriesType: 'bars',
                seriesType: 'area',
                series: {3: {type: "line"}},
            };

            var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
            chart.draw(data, options);

            // Add selection handler.
            google.visualization.events.addListener(chart, 'select', selectHandler);

            function selectHandler() {
                var selection = chart.getSelection();
                for (var i = 0; i < selection.length; i++) {
                    var item = selection[i];
                    var year = data.getValue(item.row, 0);
                    window.location.replace('/charts/incomes/' + year);
                }
            }
        }

    </script>

{% endblock %}
