
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">
            <strong>Publisher:</strong>&emsp;{{ publication.publisher }}
        </h3>
    </div>

    <div class="panel-body">
        <dl id="pub-child-type-infobox" class="dl-horizontal">
            {% if publication.place %}
                <dt>Place</dt>

                <dd>
                    {{ publication.place }}
                </dd>
            {% endif %}

            {% if publication.isbn %}
                <dt>ISBN</dt>

                <dd>
                    {{ publication.isbn }}
                </dd>
            {% endif %}

            {% if publication.published %}
                <dt>Date</dt>

                <dd>
                    {{ publication.published }}
                </dd>

            {% else %}

                <dt>Year</dt>

                <dd>
                    {{ publication.year }}
                </dd>
            {% endif %}

            {% if publication.series %}
                <dt>Series</dt>

                <dd>
                    {{ publication.series }}
                </dd>
            {% endif %}

            {% if publication.series_number %}
                <dt>Series number</dt>

                <dd>
                    {{ publication.series_number }}
                </dd>
            {% endif %}

            {% if publication.number_of_pages %}
                <dt>Number of pages</dt>

                <dd>
                    {{ publication.number_of_pages }}
                </dd>
            {% endif %}
        </dl>
    </div>
</div>
