
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">
            <strong>Parent book:</strong>&emsp;{{ parent_publication.title }}
        </h3>
    </div>

    <div class="panel-body">
        <dl id="pub-child-type-infobox" class="dl-horizontal">
            {% if parent_publication.publisher %}
                <dt>Publisher</dt>

                <dd>
                    {{ parent_publication.publisher }}
                </dd>
            {% endif %}

            {% if parent_publication.isbn %}
                <dt>ISBN</dt>

                <dd>
                    {{ parent_publication.isbn }}
                </dd>
            {% endif %}

            {% if parent_publication.volume %}
                <dt>Volume</dt>

                <dd>
                    {{ parent_publication.volume }}
                </dd>
            {% endif %}

            {% if publication.pages %}
                <dt>Pages</dt>

                <dd>
                    {{ publication.pages }}
                </dd>
            {% endif %}

            {% if publication.year %}
                <dt>Year</dt>

                <dd>
                    {{ publication.year }}
                </dd>
            {% endif %}
        </dl>
    </div>
</div>
