
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Published in:</strong>&emsp;{{ parent_publication.title }}
    </div>

    <div class="panel-body">
        <div class="row">
            {% if parent_publication.publisher %}
                <div class="col-md-6">
                    <h5>Publisher:</h5>

                    <p>
                        {{ parent_publication.publisher }}
                    </p>

                    <br>
                </div>
            {% endif %}

            {% if parent_publication.isbn %}
                <div class="col-md-6">
                    <h5>ISBN:</h5>

                    <p>
                        {{ parent_publication.isbn }}
                    </p>

                    <br>
                </div>
            {% endif %}
        </div>

        <div class="row">
            {% if parent_publication.volume %}
                <div class="col-md-4">
                    <h5>Volume:</h5>

                    <p>
                        {{ parent_publication.volume }}
                    </p>

                    <br>
                </div>
            {% endif %}

            {% if publication.pages %}
                <div class="col-md-4">
                    <h5>Pages:</h5>

                    <p>
                        {{ publication.pages }}
                    </p>

                    <br>
                </div>
            {% endif %}

            {% if publication.year %}
                <div class="col-md-4">
                    <h5>Year:</h5>

                    <p>
                        {{ publication.year }}
                    </p>

                    <br>
                </div>
            {% endif %}
        </div>
    </div>
</div>
