
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">
            <strong>Parent proceedings:</strong>&emsp;{{ parent_publication.title }}
        </h3>
    </div>

    <div class="panel-body">
        <dl id="pub-child-type-infobox" class="dl-horizontal">
            {% if publication.presented_at and publication.presented_at.short_name != parent_publication.title %}
                <dt>Presented at</dt>

                <dd>
                    {{ publication.presented_at.short_name }} ({{ publication.presented_at.year }})
                </dd>
            {% endif %}

            {% if parent_publication.isbn %}
                <dt>ISBN</dt>

                <dd>
                    {{ parent_publication.isbn }}
                </dd>
            {% endif %}

            {% if parent_publication.year %}
                <dt>Year</dt>

                <dd>
                    {{ parent_publication.year }}
                </dd>
            {% endif %}

            {% if parent_publication.volume %}
                <dt>Volume</dt>

                <dd>
                    {{ parent_publication.volume }}
                </dd>
            {% endif %}

            {% if publication.pages %}
                <dt>Pages</dt>

                <dd>
                    {{ publication.pages }}
                </dd>
            {% endif %}

            {% if publication.doi %}
                <dt>DOI</dt>

                <dd>
                    <a target="_blank" href="http://dx.doi.org/{{ publication.doi }}">
                        {{ publication.doi }}
                    </a>
                </dd>
            {% endif %}
        </dl>
    </div>
</div>
