
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">
            <strong>Parent journal:</strong>&emsp;{{ parent_publication.title }}

            {% if publication.quartile %}
                <span class="pull-right label label-quartile label-{{ publication.quartile|slugify }}">
                    {{ publication.quartile }}
                </span>
            {% endif %}
        </h3>
    </div>

    <div class="panel-body">
        <dl id="pub-child-type-infobox" class="dl-horizontal">
            {% if publication.impact_factor %}
                <dt>Impact factor</dt>

                <dd>
                    {{ publication.impact_factor|floatformat:3 }} ({{ parent_publication.year }})
                </dd>
            {% endif %}

            {% if parent_publication.issn %}
                <dt>ISSN</dt>

                <dd>
                    {{ parent_publication.issn }}
                </dd>
            {% endif %}

            {% if parent_publication.year %}
                <dt>Year</dt>

                <dd>
                    {{ parent_publication.year }}
                </dd>
            {% endif %}

            {% if parent_publication.volume %}
                <dt>Volume</dt>

                <dd>
                    {{ parent_publication.volume }}
                </dd>
            {% endif %}

            {% if parent_publication.issue %}
                <dt>Issue</dt>

                <dd>
                    {{ parent_publication.issue }}
                </dd>
            {% endif %}

            {% if publication.pages %}
                <dt>Pages</dt>

                <dd>
                    {{ publication.pages }}
                </dd>
            {% endif %}

            {% if publication.doi %}
                <dt>DOI</dt>

                <dd>
                    <a target="_blank" href="http://dx.doi.org/{{ publication.doi }}">
                        {{ publication.doi }}
                    </a>
                </dd>
            {% endif %}
        </dl>
    </div>
</div>
