
<div class="row">
</div>

<br>

<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Published in:</strong>&emsp;{{ parent_publication.title }}
        {% if parent_publication.impact_factor %}
            <br>
            <strong>&emsp;Impact factor:</strong>&emsp;{{ parent_publication.impact_factor|floatformat:3 }} ({{ parent_publication.year }})
        {% endif %}
    </div>

    <div class="panel-body">
        <div class="row">
            {% if parent_publication.issn %}
                <div class="col-md-4">
                    <h5>ISSN:</h5>

                    <p>
                        {{ parent_publication.issn }}
                    </p>

                    <br>
                </div>
            {% endif %}

            {% if parent_publication.year %}
                <div class="col-md-4">
                    <h5>Year:</h5>

                    <p>
                        {{ parent_publication.year }}
                    </p>

                    <br>
                </div>
            {% endif %}

            {% if parent_publication.volume %}
                <div class="col-md-4">
                    <h5>Volume:</h5>

                    <p>
                        {{ parent_publication.volume }}
                    </p>

                    <br>
                </div>
            {% endif %}

            {% if parent_publication.issue %}
                <div class="col-md-4">
                    <h5>Issue:</h5>

                    <p>
                        {{ parent_publication.issue }}
                    </p>

                    <br>
                </div>
            {% endif %}

            {% if publication.pages %}
                <div class="col-md-4">
                    <h5>Pages:</h5>

                    <p>
                        {{ publication.pages }}
                    </p>

                    <br>
                </div>
            {% endif %}

            {% if publication.doi %}
                <div class="col-md-4">
                    <h5>DOI:</h5>

                    <p>
                        <a target="_blank" href="http://dx.doi.org/{{ publication.doi }}">
                            {{ publication.doi }}
                        </a>
                    </p>

                    <br>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Citation</strong>
    </div>

    <div class="panel-body">
        <p>
            {% for author in authors %}
                {{ author.full_name }}{% if not forloop.last %}, {% else %}.{% endif %}
            {% endfor %}
            {% if parent_publication.year %} ({{ parent_publication.year }}){% endif %}
             "<em>{{ publication.title }}</em>"
             In {{ parent_publication.title }}.
            {% if parent_publication.volume %} vol. {{ parent_publication.volume }}.{% endif %}
            {% if publication.pages %} p. {{ publication.pages }}.{% endif %}
            {% if publication.doi %} DOI: {{ publication.doi }}.{% endif %}
        </p>
    </div>
</div>
