{% extends "projects_morelab/base.html" %}
{% load i18n %}

{% block content %}

    <form enctype="multipart/form-data" action="" method="post" class="form-horizontal">
        {% csrf_token %}

        <legend>Añadir un nuevo proyecto</legend>

        {% if project_form.errors %}
            {% for field in project_form %}
                <div class="fieldWrapper">
                    {{ field.label }} - {{ field.errors }}
                </div>
            {% endfor %}
        {% endif %}

        <fieldset>

            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#general" data-toggle="tab">General</a></li>
                    <li><a href="#additional" data-toggle="tab">Información adicional</a></li>
                    <li><a href="#funding-program" data-toggle="tab">Programa de financiación</a></li>
                    <li><a href="#funding-amount" data-toggle="tab">Desglose de financiación</a></li>
                </ul>

                <div class="tab-content">

                    <!-- General form fields -->

                    <div class="tab-pane active" id="general">
                        <div class="control-group">
                            <label class="control-label">{{ project_form.project_type.label }}</label>
                            <div class="controls">
                                {{ project_form.project_type }}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">{{ project_form.title.label }}</label>
                            <div class="controls">
                                {{ project_form.title }}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">{{ project_form.description.label }}</label>
                            <div class="controls">
                                {{ project_form.description }}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">{{ project_form.homepage.label }}</label>
                            <div class="controls">
                                {{ project_form.homepage }}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">{{ project_form.start_year.label }}</label>
                            <div class="controls">
                                {{ project_form.start_year }}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">{{ project_form.end_year.label }}</label>
                            <div class="controls">
                                {{ project_form.end_year }}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">{{ project_form.status.label }}</label>
                            <div class="controls">
                                {{ project_form.status }}
                            </div>
                        </div>
                    </div>

                    <!-- End #general tab-pane -->

                    <!-- Observations, logos and more -->

                    <div class="tab-pane" id="additional">
                        <div class="control-group">
                            <label class="control-label">{{ project_form.currency.label }}</label>
                            <div class="controls">
                                {{ project_form.currency }}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">{{ project_form.observations.label }}</label>
                            <div class="controls">
                                {{ project_form.observations }}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">{{ project_form.logo.label }}</label>
                            <div class="controls">
                                {{ project_form.logo }}
                            </div>
                        </div>
                    </div>

                    <!-- End #additional tab-pane -->

                    <!-- Funding program information -->

                    <div class="tab-pane" id="funding-program">
                        {% for funding_field in funding_program_form %}
                            <div class="control-group">
                                <label class="control-label">{{ funding_field.label }}</label>
                                <div class="controls">
                                    {{ funding_field }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <!-- End #funding-program tab-pane -->

                    <!-- Funding amount information -->

                    <div class="tab-pane" id="funding-amount">
                        {% for funding_amount_form in funding_amount_formset.forms %}
                            <div class="control-group">
                                <label class="control-label">{{ funding_amount_form.amount.label }}</label>
                                <div class="controls">
                                    {{ funding_amount_form.amount }}
                                </div>
                            </div>
                        {% endfor %}
                        {{ funding_amount_formset.management_form }}
                    </div>

                    <!-- End #funding-amount tab-pane -->

                </div>
            </div>

            <div class="form-actions">
                <button type="submit" name="submit" class="btn btn-primary">Añadir</button>
                <button type="reset" class="btn">Limpiar</button>
                <a class="btn btn-danger" href="{% url employee_index %}">Cancelar</a>
            </div>
        </fieldset>
    </form>

{% endblock %}

{% block scripts %}
{% endblock %}
