{% extends "projects_morelab/base.html" %}
{% load i18n %}

{% block content %}

    <form enctype="multipart/form-data" action="" method="post" class="form-horizontal">
        {% csrf_token %}

        <legend>Añadir un nuevo proyecto</legend>

        <br />

        <fieldset>

            <div class="tabbable tabs-left">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#general" data-toggle="tab"><span class="badge">1</span> General</a></li>
                    <li><a href="#funding-program" data-toggle="tab" onclick="autofillDuration();"><span class="badge">3</span> Programa de financiación</a></li>
                    <li><a href="#funding-amount" data-toggle="tab" onclick="sortFundingAmountForms();"><span class="badge">4</span> Desglose de financiación</a></li>
                    <li><a href="#assigned-employees" data-toggle="tab"><span class="badge">5</span> Personas asignadas</a></li>
                    <li><a href="#consortium-members" data-toggle="tab"><span class="badge">6</span> Miembros del consorcio</a></li>
                    <li><a href="#submit" data-toggle="tab"><span class="badge">7</span> Archivar proyecto</a></li>
                </ul>

                <div class="tab-content">

                    <!-- General form fields -->

                    <div class="tab-pane active" id="general">

                        <div class="control-group">
                            <label class="control-label">{{ project_form.project_type.label }}</label>
                            <div class="controls">
                                {{ project_form.project_type }}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">{{ project_form.title.label }}</label>
                            <div class="controls">
                                {{ project_form.title }}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">{{ project_form.slug.label }}</label>
                            <div class="controls">
                                {{ project_form.slug }}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">{{ project_form.description.label }}</label>
                            <div class="controls">
                                {{ project_form.description }}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">{{ project_form.homepage.label }}</label>
                            <div class="controls">
                                {{ project_form.homepage }}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">{{ project_form.start_year.label }}</label>
                            <div class="controls">
                                {{ project_form.start_year }}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">{{ project_form.end_year.label }}</label>
                            <div class="controls">
                                {{ project_form.end_year }}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">{{ project_form.status.label }}</label>
                            <div class="controls">
                                {{ project_form.status }}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">{{ project_form.observations.label }}</label>
                            <div class="controls">
                                {{ project_form.observations }}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">{{ project_form.logo.label }}</label>
                            <div class="controls">
                                {{ project_form.logo }}
                            </div>
                        </div>
                    </div>

                    <!-- End #general tab-pane -->

                    <!-- Funding program information -->

                    <div class="tab-pane" id="funding-program">
                        {% for funding_field in funding_program_form %}
                            <div class="control-group">
                                <label class="control-label" id="label">{{ funding_field.label }}</label>
                                <div class="controls">
                                    {{ funding_field }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <!-- End #funding-program tab-pane -->

                    <!-- Funding amount information -->

                    <div class="tab-pane" id="funding-amount">
                        <div class="control-group">
                            <label class="control-label" id="label">{{ project_form.total_funds.label }}</label>
                            <div class="controls">
                                {{ project_form.total_funds }}
                            </div>
                        </div>

                        <div id="funding-amount-details">
                            {% for funding_amount_form in funding_amount_formset.forms %}
                                <div class="control-group">
                                    <label class="control-label">{{ funding_amount_form.amount.label }}</label>
                                    <div class="controls">
                                        {{ funding_amount_form.amount }}
                                    </div>
                                </div>
                            {% endfor %}
                            {{ funding_amount_formset.management_form }}
                        </div>
                    </div>

                    <!-- End #funding-amount tab-pane -->

                    <!-- End #assigned-employees tab-pane -->

                    <div class="tab-pane" id="assigned-employees">
                        {{ assigned_employee_formset.management_form }}
                        <table id="assigned_employee_formset" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                {% for assigned_employee_form in assigned_employee_formset.forms %}
                                    <tr>
                                        <th>{{ assigned_employee_form.employee.label }}</th>
                                        <td>{{ assigned_employee_form.employee }}</td>
                                        <th>{{ assigned_employee_form.role.label }}</th>
                                        <td>{{ assigned_employee_form.role }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <!-- End #assigned-employees tab-pane -->

                    <!-- End #consortium-members tab-pane -->

                    <div class="tab-pane" id="consortium-members">
                        <div class="control-group">
                            <label class="control-label" id="label">{{ project_leader_form.organization.label }}</label>
                            <div class="controls">
                                {{ project_leader_form.organization }}
                            </div>
                        </div>

                        <table id="consortium_member_formset" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                {% for consortium_member_form in consortium_member_formset.forms %}
                                    <tr>
                                        <th>{{ consortium_member_form.organization.label }}</th>
                                        <td>{{ consortium_member_form.organization }}</td>
                                    </tr>
                                {% endfor %}
                                {{ consortium_member_formset.management_form }}
                            </tbody>
                        </table>
                    </div>

                    <!-- End #consortium-members tab-pane -->

                    <!-- End #submit tab-pane -->

                    <div class="tab-pane" id="submit">
                        <div class="form-actions">
                            <button type="submit" name="submit" class="btn btn-primary">Añadir</button>
                            <button type="reset" class="btn">Limpiar</button>
                            <a class="btn btn-danger" href="{% url employee_index %}">Cancelar</a>
                        </div>
                    </div>

                    <!-- End #submit tab-pane -->

                </div>
            </div>

        </fieldset>
    </form>

{% endblock %}

{% block scripts %}

    <script src="{{ STATIC_PREFIX }}js/jquery.formset.js"></script>

    <script>
        $(function() {
            $('#assigned_employee_formset tbody tr').formset({
                prefix: '{{ assigned_employee_formset.prefix }}',
                addText: 'Añadir empleado',
                addCssClass: 'btn btn-info',
                deleteText: ' Eliminar',
                deleteCssClass: 'btn',
            });

            $('#consortium_member_formset tbody tr').formset({
                prefix: '{{ consortium_member_formset.prefix }}',
                addText: 'Añadir miembro del consorcio',
                addCssClass: 'btn btn-info',
                deleteText: ' Eliminar',
                deleteCssClass: 'btn',
            });
        });
    </script>

    <script>
        function sortFundingAmountForms() {
            var amount_forms = document.getElementById("funding-amount-details");
            amount_forms.style.visibility = 'hidden';
            var start_year = parseInt(document.getElementById("id_funding_program_form-start_year").value);
            var end_year = parseInt(document.getElementById("id_funding_program_form-end_year").value);
            if (end_year >= start_year) {
                for (var i = 0; i <= (end_year - start_year); i++) {
                    var amount_form = amount_forms.children[i];
                    amount_form.style.visibility = 'visible';
                    var label = amount_form.children[0];
                    label.innerHTML = "Año " + (start_year + i);
                }
            }
        }
    </script>

    <script>
        function autofillDuration() {
            try {
                var start_year = document.getElementById("id_project_form-start_year").value;
                if (start_year != "") {
                    document.getElementById("id_funding_program_form-start_year").value = start_year;
                    document.getElementById("id_funding_program_form-concession_year").value = start_year;
                }
            }
            catch (err) {
            }

            try {
                var end_year = document.getElementById("id_project_form-end_year").value;
                if (end_year != "") {
                    document.getElementById("id_funding_program_form-end_year").value = end_year;
                }
            }
            catch (err) {
            }
        }
    </script>

{% endblock %}
