<html>
    <body>

        <h2>
            {{ project.title }}
        </h2>

        {% if project.logo %}
            <img src="{{ MEDIA_PREFIX }} {{ project.logo }}"/>
        {% endif %}

        <p>
            <strong>Duration:</strong> {{ project.start_year }} - {{ project.end_year }}
        </p>

        {% if funding_program %}
            <p>
                <strong>Supported by:</strong> {{ funding_program.name }}, {{ funding_program.organization.name }}
            </p>
        {% endif %}

        <p>
            <strong>Funding amount for DeustoTech:</strong> {{ total_deusto.amount__sum }} €
            {% if project.total_funding_amount %}
                (from a total project funding of {{ project.total_funding_amount }})
            {% endif %}
        </p>

        {% if project_managers %}
            <p>
                <strong>Project manager{{ project_managers|pluralize }}:</strong>
                <ul>
                    {% for project_manager in project_managers %}
                        <li>{{ project_manager }}</li>
                    {% endfor %}
                </ul>
            </p>
        {% endif %}

        {% if principal_researchers %}
            <p>
                <strong>Principal researcher{{ principal_researchers|pluralize }}:</strong>
                <ul>
                    {% for principal_researcher in principal_researchers %}
                        <li>{{ principal_researcher }}</li>
                    {% endfor %}
                </ul>
            </p>
        {% endif %}

        <p>
            <strong>Consortium members:</strong>
            <ul>
                <li><strong>{{ project_leader.organization.name }}</strong></li>
                {% for organization in consortium_members %}
                    <li>{{ organization }}</li>
                {% endfor %}
            </ul>
        </p>

        <p style="margin-top: 1em; margin-bottom: 1em;">
            {{ project.description }}
        </p>

        <p>
            For further information, please visit the <a href="{{ project.homepage }}">project's website</a>.
        </p>

        <div style="border-top: 3px solid #CCCCCC; width: 100%; margin-top: 1em; margin-bottom: 1em;"></div>

        <p>
            {{ project.observations }}
        </p>

    </body>
</html>
