{% extends "labman_ud/base.html" %}



{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-8 well">
                {% if form.errors %}
                    <p>Your username and password didn't match. Please try again.</p>
                {% endif %}

                <form class="form-signin col-md-4" method="post" action="{% url 'django.contrib.auth.views.login' %}">
                {% csrf_token %}
                    {{ form.username }}
                    {{ form.password }}
                    <br>
                    <input class="btn btn-primary" type="submit" value="login" />
                    <input type="hidden" name="next" value="/" />
                </form>
            </div>
        </div> <!-- end .row -->
    </div> <!-- end .container -->

{% endblock %}
