{% extends "labman_ud/base.html" %}
{% load staticfiles %}



{% block content %}

    <div class="row">
        <div class="col-md-6 col-md-offset-3 well">
            <form class="form-inline center" role="form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
            {% csrf_token %}
                <div class="form-group">
                    <label class="sr-only" for="id_username">Username</label>
                    {{ form.username }}
                </div>

                <div class="form-group">
                    <label class="sr-only" for="id_password">Password</label>
                    {{ form.password }}
                </div>

                <button type="submit" class="btn btn-primary" value="login">Sign in</button>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>

        {% if form.errors %}
            <div class="alert alert-danger col-md-6 col-md-offset-3">
                <p class="center">
                    Your username and password didn't match. Please try again.
                </p>
            </div>
        {% endif %}
    </div>

{% endblock %}
