*.log
*.pot
*.pyc

*.DS_Store

labman_ud/settings.py

labman_ud/media/*

labman_ud/static_prod/*

labman_ud.sublime-project
labman_ud.sublime-workspace

*.db

*.json

migrations/

labman_ud/labman_ud/settings/dev.py
labman_ud/labman_ud/settings/prod.py

labman_ud/collected_static/

.htaccess
.htpasswd
