*.log
*.pot
*.pyc

*.DS_Store

projects_morelab/settings.py
projects_morelab/prod/settings.py
projects_morelab/dev/settings.py
*settings.py

/media/projects/*
/media/organizations/*
/media/funding_calls/*

projects_morelab.sublime-project
projects_morelab.sublime-workspace

projectsDB.sqlite
