*.log
*.pot
*.pyc

*.swp

.htaccess
.htpasswd

labman_ud/labman_ud/wsgi.py

# Mac OS
*.DS_Store

# Settings
labman_ud/labman_ud/settings/*.py

# Media and static files
labman_ud/media/
labman_ud/collected_static/

# Test database files
*.db
*.sqlite3

# South migrations and database fixtures
migrations/
fixtures/

# Sublime Text project configuration
*.sublime-project
*.sublime-workspace

celerybeat-schedule
