Django==1.7
Pillow==2.6.1
SPARQLWrapper==1.6.4
TweetPony==1.4.0
Unipath==1.0
amqp==1.4.6
anyjson==0.3.3
billiard==3.3.0.18
celery==3.1.16
decorator==3.4.0
django-cleanup==0.1.10
django-debug-toolbar==1.2.1
django-extensions==1.4.4
django-logentry-admin==0.1.4
django-pagination-bootstrap==1.0.5
django-suit==0.2.11
django-wysiwyg-redactor==0.4.0
docutils==0.12
gunicorn==19.1.1
html5lib==0.999
inflection==0.2.1
isodate==0.5.0
kombu==3.0.23
networkx==1.9.1
numpy==1.9.0
psycopg2==2.5.4
pygraphviz==1.2
pyparsing==2.0.3
python-dateutil==2.2
pytz==2014.7
rdflib==4.1.2
redis==2.10.3
requests==2.4.3
scipy==0.14.0
six==1.8.0
sqlparse==0.1.13
