{% extends "projects_morelab/base.html" %}

{% block content %}


    <div class="row-fluid">
	<div class="span4"></div>
        <div class="span4">

            <form action="" method="post" class="form-horizontal">
                {% csrf_token %}

                <legend>Login</legend>

                <br />

                <fieldset>

                    {% if form.errors %}
                        <div class="alert alert-error">
                            <p>Your username and password didn't match, please try again.</p>
                        </div>
                    {% endif %}

                    <br>

                    <div class="control-group">
                        <label class="control-label" id="label">{{ form.username.label }}</label>
                        <div class="controls">
                            {{ form.username }}
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" id="label">{{ form.password.label }}</label>
                        <div class="controls">
                            {{ form.password }}
                        </div>
                    </div>

                    {% if next %}
                        <input type="hidden" name="next" value="{{ next }}" />
                    {% else %}
                        <input type="hidden" name="next" value="/sourceplanet/" />
                    {% endif %}
                    <input class="btn btn-primary" type="submit" value="Login" />

                </fieldset>
	    </form>
        </div>
	<div class="span4"></div>
    </div>

{% endblock %}
