{% extends "projects_morelab/base.html" %}

{% block content %}

    <h2>
        <a href="{% url organization_index %}"><img width="32" src="{{ STATIC_PREFIX }}img/back.png" /></a>
        {{ organization.name}}

        {% if organization.logo %}
            <img class="organization-logo" src="{{ MEDIA_URL }}{{ organization.logo }}" />
        {% endif %}
    </h2>

    {% if organization.homepage %}
        <br>

        <a class="btn btn-small btn-inverse" target="_blank" href="{{ organization.homepage }}">
            <i class="icon-globe icon-white"></i> Visit homepage
        </a>
    {% endif %}

    {% if user.is_authenticated %}
        <a class="btn btn-small btn-inverse" href="{% url edit_organization organization.slug %}"><i class="icon-edit icon-white"></i> Edit</a>
    {% endif %}

    <br>
    <br>

    <div class="row-fluid">

        <div class="span6">
            <h6>Project leader in</h6>

            <table class="table table-striped">
                <tbody>
                    {% for project in projects_leaded %}
                        <tr>
                            <td>
                                <a href="{% url project_info project.slug %}"><i class="icon-chevron-right"></i> {{ project.title }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="span6">
            <h6>Consortium member in</h6>

            <table class="table table-striped">
                <tbody>
                    {% for project in projects %}
                        <tr>
                            <td>
                                <a href="{% url project_info project.slug %}"><i class="icon-chevron-right"></i> {{ project.title }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

{% endblock %}

{% block scripts %}
{% endblock %}
