{% extends "projects_morelab/base.html" %}

{% block content %}

    <div class="row-fluid" id="main-page">

        <div class="span4">
            <a href="{% url employee_index %}">
                <img src="{{ STATIC_PREFIX }}img/employee.png">
                <br>
                Employee management
            </a>
        </div>

        <div class="span4">
            <a href="{% url project_index %}">
                <img src="{{ STATIC_PREFIX }}img/project.png">
                <br>
                Project management
            </a>
        </div>

        <div class="span4">
            <a href="{% url organization_index %}">
                <img src="{{ STATIC_PREFIX }}img/organization.png">
                <br>
                Organization management
            </a>
        </div>

    </div>

{% endblock %}

{% block scripts %}
{% endblock %}
