{% extends "labman_ud/base.html" %}

{% block content %}

        <div class="row">
            <div class="col-md-9">
                <h3>
                    <a href="{% url 'award_index' %}">
                        <img width="32" src="{{ STATIC_URL }}img/back.png" />
                    </a>

                    {{ award.full_name }}
                </h3>
            </div> <!-- end .col-md-9 -->
        </div>

        <br><br>

        <div class="row">
            <div class="col-md-3">
                <ul id="project-tabs" class="nav nav-pills nav-stacked">
                    <li {% if current_link = 'info' %}class="active"{% endif %}>
                        <a href="{% url 'award_info' award.slug %}">
                            <i class="fa fa-info fa-large"></i>&emsp;General information
                        </a>
                    </li>

                    {% if related_projects %}
                    <li {% if current_link = 'related_projects' %}class="active"{% endif %}>
                        <a href="{% url 'award_related_projects' award.slug %}">
                            <i class="fa fa-file-text-o fa-large"></i>&emsp;{{ related_projects|length }} project{{ related_projects|pluralize }}
                        </a>
                    </li>
                    {% endif %}

                    {% if related_publications %}
                    <li {% if current_link = 'related_publications' %}class="active"{% endif %}>
                        <a href="{% url 'award_related_publications' award.slug %}">
                            <i class="fa fa-file-text-o fa-large"></i>&emsp;{{ related_publications|length }} publication{{ related_publications|pluralize }}
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>

            <div class="col-md-9">
                <div id="publication-tab-content" class="tab-content publication-template">
                    <div class="tab-pane active">
                        {% block award_contents %}
                            <h5>Recipients:</h5>

                            {% for recipient in recipients %}
                                {% if recipient.is_active %}
                                    <a href="{% url 'member_info' recipient.slug %}">
                                        {{ recipient.full_name }}{% if not forloop.last %},{% endif %}
                                    </a>
                                {% else %}
                                    <a href="{% url 'person_info' recipient.slug %}">
                                        {{ recipient.full_name }}{% if not forloop.last %},{% endif %}
                                    </a>
                                {% endif %}
                                &emsp;
                            {% endfor %}

                            <div class="row">
                                {% if award.date %}
                                <div class="col-md-2">
                                    <h5>Date</h5>
                                    {{ award.date }}
                                </div>
                                {% endif %}
                                {% if award.supporting_organization %}
                                <div class="col-md-5">
                                    <h5>Entity</h5>
                                    {{ award.supporting_organization }}
                                </div>
                                {% endif %}
                                {% if award.event %}
                                <div class="col-md-5">
                                    <h5>Event</h5>
                                    {{ award.event.full_name }}
                                </div>
                                {% endif %}
                            </div>

                            <h5>Description:</h5>
                            {{ award.description|safe }}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>

{% endblock %}



