{% extends "labman_ud/base.html" %}
{% load staticfiles sanitize_types awardee_names %}



{% block header_css %}

    <link rel="stylesheet" href="{% static 'css/bootstrap-table.min.css' %}" />

{% endblock %}



{% block content %}


    <ol class="breadcrumb">
        <li>
            <a href="{% url 'award_index' %}">Awards</a>
        </li>

        <li class="active">
            {{ award.short_name }}
        </li>
    </ol>

    <div class="entity-info-content">
        <blockquote>
            <p>
                {{ award.full_name }}
            </p>

            <footer>
                {% if award.date %}
                    <strong>Date:</strong>&nbsp;
                    {{ award.date }}
                    <br>
                {% endif %}

                {% if award.supporting_organization %}
                    <strong>Entity:</strong>
                    <a href="{% url 'organization_info' award.supporting_organization.slug %}">
                        {{ award.supporting_organization }}
                    </a>
                    <br>
                {% endif %}

                {% if award.event %}
                    <strong>Event:</strong>&nbsp;
                    {{ award.event.full_name }}
                    <br>
                {% endif %}

                <strong>Awardees:</strong>&nbsp;
                {% awardee_names award %}
            </footer>
        </blockquote>

        <br>

        <div class="row">
            {{ award.description|safe }}
        </div>

        <br>

        {% if related_publications %}
            {% include 'publications/generic_related_publications_template.html' %}
        {% endif %}
    </div>

{% endblock %}



{% block scripts %}

    <script src="{% static 'js/bootstrap-table.min.js' %}"></script>

    <script>
        function queryParams() {
            return {
                type: 'owner',
                sort: 'updated',
                direction: 'desc',
                per_page: 100,
                page: 1
            };
        };
    </script>

{% endblock %}
