{% extends "labman_ud/base.html" %}
{% load humanize staticfiles %}



{% block content %}

    <ul class="breadcrumb">
        <li><a href="{% url 'chart_index' %}">Charts</a></li>

        <li><a href="{% url 'project_index' %}">Projects</a></li>

        <li class="active">Total incomes by scope</li>
    </ul>

    <div id="chart_div_container" class="centered">
        <h4>Total project funds by scope</h4>

        <div id="chart_div"></div>
    </div>

{% endblock %}



{% block scripts %}

    <script>
        var chart_div_width = $('#chart_div_container').width();
        var chart_div_height = chart_div_width / 2;

        $('#chart_div').css('width', chart_div_width + 'px');
        $('#chart_div').css('height', chart_div_height + 'px');
    </script>

    <script src="https://www.google.com/jsapi"></script>

    <script>
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = new google.visualization.DataTable();

            data.addColumn('string', 'Year');
            {% for scope in geographical_scope_names %}
                data.addColumn('number', '{{ scope }}')
                data.addColumn({type: 'boolean', role: 'certainty'})
            {% endfor %}
            data.addColumn('number', 'Total');
            data.addColumn({type: 'boolean', role: 'certainty'});


            data.addRows({{ total_incomes|lower|safe }});

            var options = {
                bar: {
                    groupWidth: '75%',
                },
                isStacked: true,
                colors: ['blue', 'green', 'red', 'black'],
                hAxis: {
                    title: 'Year',
                    titleTextStyle: {color: 'black'},
                    slantedText: true,
                    slantedTextAngle: 45,
                },
                vAxis: {
                    title: 'Incomes in €',
                    titleTextStyle: {color: 'black'},
                },
                focusTarget: 'category',
            };

            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
            chart.draw(data, options);

            google.visualization.events.addListener(chart, 'select', selectHandler);

            function selectHandler() {
                var selection = chart.getSelection();
                for (var i = 0; i < selection.length; i++) {
                    var item = selection[i];
                    var year = data.getValue(item.row, 0);

                    window.location.replace("{% url 'funding_incomes_by_year' '0101' %}".replace("0101", year));
                };
            };
        };

    </script>

    <script>
        $('#charts-nav').addClass('active');
    </script>

{% endblock %}
