{% extends "labman_ud/base.html" %}
{% load staticfiles %}



{% block content %}

    <div class="row tabbable">
        <div class="col-md-3">
            <ul id="about-tabs" class="nav nav-pills nav-stacked">

                {% for about_section in about_sections %}
                    <li class="{{ about_section.slug }}{% if forloop.first %} active{% endif %}">
                        <a href="#{{ about_section.slug }}" aria-controls="{{ about_section.slug }}" role="tab" data-toggle="pill">
                            {% if about_section.icon_class %}
                                <i class="fa {{ about_section.icon_class }} fa-large"></i>
                            {% endif %}
                            &emsp;{{ about_section.title }}
                        </a>
                    </li>
                {% endfor %}

                <li class="collaborations">
                    <a href="#collaborations" aria-controls="collaborations" role="tab" data-toggle="pill">
                        <i class="fa fa-link fa-large"></i>
                        &emsp;Collaborations
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-md-9">
            <div id="about-tab-content" class="tab-content">

                {% for about_section in about_sections %}
                    <div role="tabpanel" class="tab-pane{% if forloop.first %} active{% endif %}" id="{{ about_section.slug }}">
                        {{ about_section.content|safe }}
                    </div>
                {% endfor %}

                <div role="tabpanel" class="tab-pane" id="collaborations">

                    <div class="row">
                        <br>

                        <div class="col-md-4 col-md-offset-1">
                            <div class="thumbnail">
                                <a class="collaborations-item" href="{% url 'organization_index' %}">
                                    <img src="{% static 'img/handshake.png' %}" />

                                    <p class="caption">
                                        Full list of <strong>organizations</strong> we have collaborated with.
                                    </p>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-4 col-md-offset-2">
                            <div class="thumbnail">
                                <a class="collaborations-item" href="{% url 'person_index' %}">
                                    <img src="{% static 'img/meeting.png' %}" />

                                    <p class="caption">
                                        Full list of <strong>people</strong> we have worked or published with.
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}



{% block scripts %}

    <script>
        $('#about-nav').addClass('active');
    </script>

{% endblock %}
