{% load staticfiles sanitize_types %}

<!DOCTYPE html>
    <head>
        <!--[if IE]>
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <![endif]-->

        <title>
            {{ RESEARCH_GROUP_SETTINGS.research_group_short_name }}
            {% if web_title %}
             - {{ web_title }}
            {% endif %}
        </title>

        {% if RESEARCH_GROUP_SETTINGS.favicon %}
            <link rel="shortcut icon" href="{{ RESEARCH_GROUP_SETTINGS.favicon.url }}" />
        {% endif %}

        <meta charset="utf-8" />

        <meta name="robots" content="index, follow" />
        <meta name="keywords" content="{{ SEO_AND_ANALYTICS.meta_keywords }}" />

        <meta name="description" content="{{ SEO_AND_ANALYTICS.meta_description }}" />
        <meta name="author" content="" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        {% include 'labman_ud/twitter_card.html' %}

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />

        <link rel="stylesheet" href="{% static 'css/style.css' %}" />

        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />

        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

        {% block header_css %}{% endblock %}
    </head>

    <body>

        <div id="wrap">
            <div class="container">


            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button id="coll-btn" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsible-navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <a class="navbar-brand" href="{% url 'home' %}">
                            {% if RESEARCH_GROUP_SETTINGS.research_group_official_logo %}
                                <img id="brand-logo" alt="MORElab-icon" src="{{ RESEARCH_GROUP_SETTINGS.research_group_official_logo.url }}"/>
                            {% endif %}

                            <span id="brand-text">
                                {{ RESEARCH_GROUP_SETTINGS.research_group_short_name }}
                            </span>
                        </a>
                    </div>

                    <div class="collapse navbar-collapse" id="collapsible-navbar">
                        <ul class="nav navbar-nav">
                            <li id="news-nav">
                                <a href="{% url 'news_index' %}">
                                    <i class="fa fa-newspaper-o fa-grey"></i>
                                    News
                                </a>
                            </li>

                            <li id="projects-nav" class="dropdown">
                                <a href="{% url 'project_index' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                    <i class="fa fa-gears fa-grey"></i>
                                    Projects <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="{% url 'project_index' %}">
                                            {{ NUMBER_OF_PROJECTS }} projects
                                        </a>
                                    </li>

                                    <li class="divider"></li>

                                    {% for type, number in PROJECT_TYPES.items %}
                                        <li>
                                            <a href="{% url 'view_project_type' type|slugify %}">
                                                {{ number }} {{ type|sanitize|lower }}{{ number|pluralize }}
                                            </a>
                                        </li>
                                    {% endfor %}

                                    <li class="divider"></li>

                                    <li class="rss-link">
                                        <span>
                                            <a href="{% url 'project_feed' %}">
                                                <i class="fa fa-rss"></i>&emsp;Subscribe
                                            </a>
                                        </span>
                                    </li>
                                </ul>
                            </li>

                            <li id="publications-nav" class="dropdown">
                                <a href="{% url 'publication_index' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <i class="fa fa-book fa-grey"></i>
                                    Publications <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="{% url 'publication_index' %}">
                                            {{ NUMBER_OF_PUBLICATIONS }} publications
                                        </a>
                                    </li>

                                    <li class="divider"></li>

                                    {% for type, number in PUBLICATION_TYPES.items %}
                                        <li>
                                            <a href="{% url 'view_publication_type' type %}">
                                                {{ number }} {{ type|sanitize|lower }}{{ number|pluralize }}
                                            </a>
                                        </li>
                                    {% endfor %}

                                    {% if THESES %}
                                        <li class="divider"></li>

                                        <li>
                                            <a href="{% url 'phd_dissertations_index' %}">
                                                {{ THESES|length }} PhD dissertation{{ THESES|pluralize}}
                                            </a>
                                        </li>
                                    {% endif %}

                                    <li class="divider"></li>

                                    <li class="rss-link">
                                        <span>
                                            <a href="{% url 'publication_feed' %}">
                                                <i class="fa fa-rss"></i>&emsp;Subscribe
                                            </a>
                                        </span>
                                    </li>
                                </ul>
                            </li>

                            <li id="members-nav">
                                <a href="{% url 'members' %}">
                                    <i class="fa fa-users fa-grey"></i>
                                    Members
                                </a>
                            </li>

                            <li id="charts-nav">
                                <a href="{% url 'chart_index' %}">
                                    <i class="fa fa-bar-chart fa-grey"></i>
                                    Charts
                                </a>
                            </li>

                            <li id="about-nav">
                                <a href="{% url 'about' %}">
                                    <i class="fa fa-info-circle fa-grey"></i>
                                    About
                                </a>
                            </li>
                        </ul>

                        <div class="login-box">
                            {% if user.is_authenticated %}
                                <a href="{% url 'logout_view' %}" title="Sign out" type="button" class="btn btn-labeled btn-danger btn-xs pull-right">
                                    <i class="fa fa-user"></i>
                                    &nbsp;
                                    {% if user.first_name %}
                                        {{ user.first_name }} {{ user.last_name }}
                                    {% else %}
                                        {{ user.username }}
                                    {% endif %}
                                    <span class="btn-label btn-label-right">
                                        <i class="fa fa-sign-out"></i>
                                    </span>
                                </a>
                            {% else %}
                                <a href="{% url 'login_view' %}" type="button" class="btn btn-labeled btn-primary btn-xs pull-right">
                                    Sign in
                                    <span class="btn-label btn-label-right">
                                        <i class="fa fa-sign-in"></i>
                                    </span>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>













               <!-- <div class="masthead">
                    <div class="registered-user">
                        {% if user.is_authenticated %}
                            <span>
                                <strong>
                                    {% if user.first_name %}
                                        {{ user.first_name }} {{ user.last_name }}
                                    {% else %}
                                        {{ user.username }}
                                    {% endif %}
                                </strong>
                            </span>
                            &emsp;
                            <a class="btn btn-danger btn-xs" href="{% url 'logout_view' %}">Logout</a>
                        {% else %}
                            <a class="text-muted" href="{% url 'login_view' %}">Log in</a>
                        {% endif %}
                    </div>

                    <div>
                        <a href="{% url 'home' %}">
                            <h1 id="principal-h1">
                                {% if RESEARCH_GROUP_SETTINGS.research_group_official_logo %}
                                    <img alt="MORElab-icon" src="{{ RESEARCH_GROUP_SETTINGS.research_group_official_logo.url }}" width="100"/>
                                {% endif %}
                                {{ RESEARCH_GROUP_SETTINGS.research_group_full_name }}
                            </h1>
                        </a>
                    </div>

                    <ul class="nav nav-justified">
                        <li id="news-nav">
                            <a href="{% url 'news_index' %}">
                                <i class="fa fa-newspaper-o fa-grey"></i>
                                &emsp;News
                            </a>
                        </li>

                        <li id="projects-nav">
                            <a href="{% url 'project_index' %}">
                                <i class="fa fa-gears fa-grey"></i>
                                &emsp;Projects
                            </a>
                        </li>

                        <li id="publications-nav">
                            <a href="{% url 'publication_index' %}">
                                <i class="fa fa-book fa-grey"></i>
                                &emsp;Publications
                            </a>
                        </li>

                        <li id="members-nav">
                            <a href="{% url 'members' %}">
                                <i class="fa fa-users fa-grey"></i>
                                &emsp;Members
                            </a>
                        </li>

                        <li id="charts-nav">
                            <a href="{% url 'chart_index' %}">
                                <i class="fa fa-bar-chart fa-grey"></i>
                                &emsp;Charts
                            </a>
                        </li>

                        <li id="about-nav">
                            <a href="{% url 'about' %}">
                                <i class="fa fa-info-circle fa-grey"></i>
                                &emsp;About
                            </a>
                        </li>
                    </ul>

                </div> -->

                <div id="main-container" class="container">
                    {% block content %}{% endblock %}
                </div> <!-- end main-container -->

            </div> <!-- first container -->

            <div id="push"></div>
        </div> <!-- end wrap -->

        <footer>
            {% include 'labman_ud/footer.html' %}
        </footer>

        <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>

        <script>
            var new_width = ($('#brand-logo').width() * 48) / $('#brand-logo').height();

            $('#brand-logo').height('48px');
            $('#brand-logo').width(new_width + 'px');

            $('#brand-text').css("padding-left", 10 + new_width + "px");
        </script>

        <script>
            $(window).resize(function() {
                if ($('#coll-btn').is(":visible")) {
                    $('#brand-text').text('{{ RESEARCH_GROUP_SETTINGS.research_group_short_name }}');
                }
                else {
                    $('#brand-text').text('{{ RESEARCH_GROUP_SETTINGS.research_group_full_name }}');
                };
            });
        </script>

        {% if SEO_AND_ANALYTICS.google_analytics_account %}
            <script>
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', '{{ SEO_AND_ANALYTICS.google_analytics_account }}']);
                _gaq.push(['_trackPageview']);

                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
            </script>
        {% endif %}

        {% block scripts %}{% endblock %}

    </body>
</html>
