{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% get_media_prefix as MEDIA_PREFIX %}

<!doctype html>
    <!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
    <!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
    <!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
    <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <title>MORElab Research Group</title>
        <link rel="shortcut icon" href="{{ STATIC_PREFIX }}img/favicon.ico">

        <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <meta name="robots" content="index, follow" />
        <meta name="keywords" content="morelab, internet, deustotech, deusto, deusto institute of technology, research, investigación, tecnológico fundación deusto, mobile, context, aware, semantic, aal, ambient assisted living, future internet, smartlab, smart environments, smart, fuzzy, wireless, internet of things, semantic web, faculty of engineering, university of deusto, ict, linked data, linked open data" />

        <meta name="description" content="MoreLab, the research group behind the INTERNET unit of DeustoTech at Deusto Institute of Technology at the Faculty of Engineering of the University of Deusto. The aim of our group is to contribute with ICT innovations and research towards improving users quality of life through more intelligent and personalised environments and services.">
        <meta name="author" content="">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/bootstrap.min.css"/>
        <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/justified-nav.css"/>

        <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/style.css"/>

        <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/nv.d3.css"/>

        <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/font-awesome.min.css"/>

        <!--[if IE 7]>
            <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/font-awesome-ie7.min.css">
        <![endif]-->

        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

        {% block header_css %}{% endblock %}
    </head>

    <body>

        <div id="wrap">
            <div class="container">

                <div class="masthead">

                    <div>
                        <a href="{% url home %}">
                            <h1 id="principal-h1">
                                <img src="{{ STATIC_PREFIX }}img/morelab.png" width="100"/>
                                DeustoTech INTERNET + TELECOM units
                            </h1>
                        </a>
                    </div>

                    <ul class="nav nav-justified">
                        <li id="projects-nav">
                            <a href="{% url project_index %}">
                                <img src="{{ STATIC_PREFIX }}img/index/project_micro.png"/>
                                Projects
                            </a>
                        </li>

                        <li id="publications-nav">
                            <a href="{% url publication_index %}">
                                <img src="{{ STATIC_PREFIX }}img/index/publication_micro.png"/>
                                Publications
                            </a>
                        </li>

                        <li id="about-nav">
                            <a href="{% url about %}">
                                <img src="{{ STATIC_PREFIX }}img/index/info_micro.png"/>
                                About
                            </a>
                        </li>

                        <li id="members-nav">
                            <a href="{% url members %}">
                                <img src="{{ STATIC_PREFIX }}img/index/person_micro.png"/>
                                Members
                            </a>
                        </li>

                        <li id="charts-nav">
                            <a href="{% url chart_index %}">
                                <img src="{{ STATIC_PREFIX }}img/index/chart_micro.png"/>
                                Charts
                            </a>
                        </li>

                        <!-- <li id="semantic-search-nav">
                            <a href="{% url semantic_search %}">
                                <img src="{{ STATIC_PREFIX }}img/index/search_micro.png"/>
                                Semantic search
                            </a>
                        </li> -->
                    </ul> <!-- end .nav .nav-justified -->
                    
                    {% if user.is_authenticated %}
                    <div class="registered-user">
                        <span>Welcome, {{ user.username }}</span>
                    </div>
                    {% endif %}

                </div> <!-- end .masthead -->

                <div id="main-container" class="container">
                    {% block content %}{% endblock %}
                </div> <!-- end main-container -->

            </div> <!-- first container -->

            <div id="push"></div>
        </div> <!-- end wrap -->

        <footer>
            <div class="soften"></div>

            <div class="row">
                <div class="col-md-4 footer-object">
                    <div class="col-md-4 hidden-xs footer-icon">
                        <img src="{{ STATIC_PREFIX }}img/footer/placemarker-mini.png"/>
                    </div>

                    <div class="col-md-8 footer-description">
                        <h4>
                            Visit
                            <a target="_blank" href="http://goo.gl/maps/qNEIz">(view on map)</a>
                        </h4>

                        <address>
                            Engineering faculty - 4<sup>th</sup> floor<br>
                            Avda. Universidades, 24<br>
                            Bilbao (Bizkaia)<br>
                            48007 - Spain
                        </address>
                    </div>
                </div>

                <div class="col-md-4 footer-object">
                    <div class="col-md-4 hidden-xs footer-icon">
                        <img src="{{ STATIC_PREFIX }}img/footer/phone-mini.png"/>
                    </div>

                    <div class="col-md-8 footer-description">
                        <h4>Call</h4>

                        <p>
                            944 13 90 03 <strong>ext:</strong> 2548
                        </p>
                    </div>
                </div>

                <div class="col-md-4 footer-description footer-object">
                    <h4>&emsp;Social</h4>

                    <div class="footer-social">
                        <a target="_blank" href="https://github.com/morelab">
                            <img src="{{ STATIC_PREFIX }}img/footer/github-color.png" width="75"/>
                        </a>

                        <a target="_blank" href="http://twitter.com/morelab_ud">
                            <img src="{{ STATIC_PREFIX }}img/footer/twitter-color.png" width="75"/>
                        </a>

                        <a target="_blank" href="http://www.slideshare.net/tag/morelab">
                            <img src="{{ STATIC_PREFIX }}img/footer/slideshare-color.png" width="75"/>
                        </a>

                        <a target="_blank" href="http://www.youtube.com/user/deustomorelab">
                            <img src="{{ STATIC_PREFIX }}img/footer/youtube-color.png" width="75"/>
                        </a>
                    </div>
                </div>
            </div>
        </footer>

    </body>

    <script src="{{ STATIC_PREFIX }}js/jquery-1.10.2.min.js"></script>
    <script src="{{ STATIC_PREFIX }}js/bootstrap.min.js"></script>

    <script type="text/javascript">
/*
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-15127034-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
*/
    </script>

    {% block scripts %}
    {% endblock %}

</html>
