{% load staticfiles %}

<!DOCTYPE html>
    <head>
        <!--[if IE]>
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <![endif]-->

        <title>
            {{ RESEARCH_GROUP_SETTINGS.research_group_short_name }}
            {% if web_title %}
             - {{ web_title }}
            {% endif %}
        </title>

        {% if RESEARCH_GROUP_SETTINGS.favicon %}
            <link rel="shortcut icon" href="{{ RESEARCH_GROUP_SETTINGS.favicon.url }}" />
        {% endif %}

        <meta charset="utf-8" />

        <meta name="robots" content="index, follow" />
        <meta name="keywords" content="{{ SEO_AND_ANALYTICS.meta_keywords }}" />

        <meta name="description" content="{{ SEO_AND_ANALYTICS.meta_description }}" />
        <meta name="author" content="" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        {% include 'labman_ud/twitter_card.html' %}

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/justified-nav.css' %}" />

        <link rel="stylesheet" href="{% static 'css/style.css' %}" />

        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />

        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

        {% block header_css %}{% endblock %}
    </head>

    <body>

        <div id="wrap">
            <div class="container">

                <div class="masthead">
                    <div class="registered-user">
                        {% if user.is_authenticated %}
                            <span>
                                <strong>
                                    {% if user.first_name %}
                                        {{ user.first_name }} {{ user.last_name }}
                                    {% else %}
                                        {{ user.username }}
                                    {% endif %}
                                </strong>
                            </span>
                            &emsp;
                            <a class="btn btn-danger btn-xs" href="{% url 'logout_view' %}">Logout</a>
                        {% else %}
                            <a class="text-muted" href="{% url 'login_view' %}">Log in</a>
                        {% endif %}
                    </div>

                    <div>
                        <a href="{% url 'home' %}">
                            <h1 id="principal-h1">
                                {% if RESEARCH_GROUP_SETTINGS.research_group_official_logo %}
                                    <img alt="MORElab-icon" src="{{ RESEARCH_GROUP_SETTINGS.research_group_official_logo.url }}" width="100"/>
                                {% endif %}
                                {{ RESEARCH_GROUP_SETTINGS.research_group_full_name }}
                            </h1>
                        </a>
                    </div>

                    <ul class="nav nav-justified">
                        <li id="news-nav">
                            <a href="{% url 'news_index' %}">
                                <i class="fa fa-newspaper-o fa-grey"></i>
                                &emsp;News
                            </a>
                        </li>

                        <li id="projects-nav">
                            <a href="{% url 'project_index' %}">
                                <i class="fa fa-gears fa-grey"></i>
                                &emsp;Projects
                            </a>
                        </li>

                        <li id="publications-nav">
                            <a href="{% url 'publication_index' %}">
                                <i class="fa fa-book fa-grey"></i>
                                &emsp;Publications
                            </a>
                        </li>

                        <li id="members-nav">
                            <a href="{% url 'members' %}">
                                <i class="fa fa-users fa-grey"></i>
                                &emsp;Members
                            </a>
                        </li>

                        <li id="charts-nav">
                            <a href="{% url 'chart_index' %}">
                                <i class="fa fa-bar-chart fa-grey"></i>
                                &emsp;Charts
                            </a>
                        </li>

                        <li id="about-nav">
                            <a href="{% url 'about' %}">
                                <i class="fa fa-info-circle fa-grey"></i>
                                &emsp;About
                            </a>
                        </li>
                    </ul> <!-- end .nav .nav-justified -->

                </div> <!-- end .masthead -->

                <div id="main-container" class="container">
                    {% block content %}{% endblock %}
                </div> <!-- end main-container -->

            </div> <!-- first container -->

            <div id="push"></div>
        </div> <!-- end wrap -->

        <footer>
            {% include 'labman_ud/footer.html' %}
        </footer>

        <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>

        {% if SEO_AND_ANALYTICS.google_analytics_account %}
            <script>
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', '{{ SEO_AND_ANALYTICS.google_analytics_account }}']);
                _gaq.push(['_trackPageview']);

                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
            </script>
        {% endif %}

        {% block scripts %}{% endblock %}

    </body>
</html>
