{% extends "labman_ud/base.html" %}
{% load staticfiles %}



{% block content %}

    <div class="row">
        <div class="col-md-8">
            {% if RESEARCH_GROUP_SETTINGS.research_group_team_image %}
                <img id="research-group-team-image" class="img-responsive" src="{{ RESEARCH_GROUP_SETTINGS.research_group_team_image.url }}" alt="{{ RESEARCH_GROUP_SETTINGS.research_group_short_name }} team picture">
            {% endif %}

            <div id="research-group-description">
                {{ RESEARCH_GROUP_SETTINGS.research_group_description|safe }}
            </div>
        </div>

        <div class="col-md-4">
            <h2>
                &emsp;<i class="fa fa-newspaper-o fa-grey"></i>
                Latest news
                <a class="pull-right" href="{% url 'news_index' %}"><small>All news</small></a>
            </h2>

            <div class="soften-limited"></div>

            {% for news in latest_news %}
                <div class="well latest-news">
                    <strong>
                        <i class="fa fa-chevron-right fa-grey"></i>&emsp;{{ news.title|safe }}
                    </strong>

                    <p>
                        {{ news.created|date:"l, d F Y" }}
                    </p>

                    <a class="btn btn-primary" href="{% url 'view_news' news.slug %}">
                        Read more
                    </a>
                </div>

            {% endfor %}
        </div>
    </div>

{% endblock %}



{% block scripts %}
{% endblock %}
