
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:hover {
    text-decoration: none;
}

html, body {
    height: 100%;
}

h5, h6 {
    font-weight: bold;
}

.navbar .nav {
    display: table;
}

.navbar .nav li {
    display: table-cell;
    width: 1%;
    float: none;
}

.navbar .nav li a {
    margin: 0;
}

.nav-justified {
    margin-bottom: 2.5em;
}

.nav-justified > li > a {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #999;
}

.nav-justified li a:hover {
    background-image: -webkit-linear-gradient(top, #d8d8d8 0%, #d8d8d8 100%);
}

#principal-h1 {
    font-family: 'Open Sans', cursive;
    color: #999;
}

#principal-h1 > img {
    margin: 0.5em;
}

/*#main-index {
    background: url('../img/morelab.png') no-repeat fixed center;
    background-size: 20%;
}*/

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -3em;
}

textarea {
    width: 90%;
}

.centered {
    text-align: center;
}

.main-page > .span3 > a {
    text-align: center;
    display: block;
}

.accordion-toggle {
    text-decoration: none;
}

.accordion-toggle:hover {
    text-decoration: none;
}

div.jqcloud {
  margin: auto;
}

h4 {
    padding-top: 1em;
}

.tag {
    margin-top: 0.5em;
    list-style-type: none;
}

#document_download {
    margin: 0.5em;
}

#document_download > img {
    margin-bottom: 1em;
}

#publication-type {
    float: right
}

#document-download-button {
    margin-top: 0.7em;
    margin-bottom: 0.5em;
}

#publication-abstract {
    text-align: justify;
}

.project-tag {
    display: block;
    margin: 0.25em 0;
}

#project-type {
    float: right
}

.vertical-alignment > td {
    vertical-align: middle;
}

#number_of_publications {
    height: 500px;
}

#funding_program_full_name {
    padding-top: 0em;
    padding-left: 7.5em;
    font-weight: normal;
}

.organization-logo {
    max-height: 75px;
    margin-bottom: 1em;
}

.funding-program-logo {
    margin: 1em 0;
    height: 75px;
}

#main-container {
    display: block;
    min-height: 500px;
}

.edit-organization-logo {
    margin: 1em;
    width: 25%;
}

.center {
    display: block;
    text-align: center;
    width: 100%;
}

#logo-left {
    float: left;
    margin-left: 15em;
}

#logo-right {
    float: right;
    margin-right: 15em;
}

.tabbable {
    margin-top: 1.5em;
}

.tab-content {
    min-height: 500px;
}

ul.nav.nav-tabs {
    min-height: 500px;
}

#member-tabs {
    min-height: 0;
    margin-bottom: 1.5em;
}

#member-tabs > li {
    margin: 0 1em;
    border: 1px solid #428bca;
    border-radius: 7px;
}

.tab-divider {
    border-top: #ddd 1px solid;
    padding-bottom: 3px;
    margin-left: 2em;
}

#about-tab-content > .tab-pane {
    border: 1px solid #999;
    border-radius: 0.5em;
    padding: 1.5em;
}

#about-tab-content > .tab-pane > p {
    text-align: justify;
}

.publication-template {
    padding-left: 1.5em;
}

.publication-template p {
    margin-left: 1.5em;
}

#publication-tab-content > .tab-pane {
    border: 1px solid #999;
    border-radius: 0.5em;
    padding: 1.5em;
}

#publication-tab-content > .tab-pane > p {
    text-align: justify;
}

#project-header {
    display: block;
}

.project-logo {
    width: 100%;
    text-align: center;
    margin-bottom: 1.5em;
}

.project-logo > .img-responsive {
    width: 90%;
    display: inline;
}

.project-template {
    padding-left: 1.5em;
}

.project-template p {
    margin-left: 1.5em;
}

#project-tab-content > .tab-pane {
    border: 1px solid #999;
    border-radius: 0.5em;
    padding: 1.5em;
}

#project-tab-content > .tab-pane > p {
    text-align: justify;
}

#pr_funding_details ul {
    padding-left: 2.5em;
}

.tab-left-btn {
    margin-top: 2em;
    margin-left: 40px;
}

#edit-from-info {
   margin-left: 70px;
}

#employees-form th {
    width: 85px;
    font-weight: normal;
}

#assigned_employee_formset {
    width: 100%;
}

#consortium-members-form th {
    width: 125px;
    font-weight: normal;
}

.dynamic-form {
    margin-bottom: 20px;
    display: block;
}

.dynamic-form th {
    width: 100px;
    padding-top: 5px;
    padding-right: 10px;
    text-align: right;
    font-weight: normal;
}

.dynamic-form td {
    margin-left: 180px;
}

.delete-formset-row {
    margin-left: 1em;
}

.form-actions > button > a {
    margin: 0 1em;
}

.left {
    float: left;
    width: 50%;
    text-align: center;
}

.left a {
    margin-top: 6em;
}

.right {
    float: right;
    width: 50%;
    text-align: center;
}

.pagination {
    float: right;
}

.center {
    text-align: center;
}

/*.form-actions button, a {
    margin: 0 1em;
}*/

#funding-call-info > a {
    margin: 0;
}

.rdf-icon {
    margin-left: 3px;
    margin-top: -3px;
    margin-right: 5px;
}

.semantic-searcher-results li a {
    line-height: 24px;
}

#chart_div {
    margin: 0 auto;
}

#query-form .control-label {
    width: 100px;
}

#query-form .controls {
    margin-left: 115px;
}

#sparql-query > pre {
    font-size: 10px;
}

#push {
    height: 3em;
}

footer {
    text-align: center;
    width: 100%;
    line-height: 2.5em;
    min-height: 2.5em;
    margin: 0 auto;
    padding-bottom: 2em;
}

footer > a {
    color: #999;
    padding-left: 1em;
    padding-right: 1em;
}

.footer-description > h4 {
    padding-top: 0;
    text-align: left;
}

.footer-description > h4 > a {
    font-size: 12px;
}

.footer-description > address, p {
    text-align: left;
}

.footer-icon > img {
    width: 50%;
}

.footer-social {
    text-align: left;
}

.footer-social > a {
    margin: 0;
}

.footer-social img {
    -webkit-filter: grayscale(1);
}

.footer-social img:hover {
    -webkit-filter: grayscale(0);
}

.form-search {
    margin-top: 5px;
    margin-bottom: 0;
}

.footer-object {
    padding: 0 1.5em;
}

.circular, .head-internet-image, .head-telecom-image {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 2px solid #999;
    padding: 3px;
    margin-bottom: 1em;
}

.circular:hover, .head-internet-image:hover, .head-telecom-image:hover {
    border: 2px solid #222;
}

#team-image {
    box-shadow: 2px 2px 3px black;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

#team-desc {
    text-align: justify;
    font-weight: 200;
    line-height: 1.4em;
    font-size: 16px;
}

.member {
    margin-bottom: 3em;
    padding-bottom: 3em;
    max-height: 300px;
}

.member-name, .head-internet-name, .head-telecom-name {
    font-weight: bold;
}

.member-position, .head-internet-position, .head-telecom-position {
    font-style: italic;
    color: #999;
}

#member-name > h1 {
    text-align: center;
}

#member-name > p {
    text-align: center;
    font-style: italic;
    color: #999;
}

#profile-picture {
    width: 85%;
    box-shadow: 2px 2px 3px black;
    margin: 0.5em;
    margin-bottom: 0.75em;
    -webkit-border-top-left-radius: 50px;
    -webkit-border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 0.5em solid #eee;
}

#member-company {
    margin-bottom: 0.75em;
}

.personal-website {
    margin: 1em 0;
}

#member-tab-content > .tab-pane {
    border: 1px solid #999;
    border-radius: 0.5em;
    padding: 1.5em;
}

#member-biography-tab-pane {
    text-align: justify;
}

#member-tab-content > .tab-pane > p {
    text-align: justify;
}

#contact-member {
    margin-bottom: 1em;
}

#contact-member > img {
    margin: 0 1.5em;
}

#contact-member > a {
    margin: 0;
}

#news-body {
    border: 1px solid #999;
    border-radius: 0.5em;
    padding: 1.5em;
}

#news-body > p {
    text-align: justify;
}

.soften {
    height: 5px;
    margin: 3em 0 1.5em 0;
    background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, .2), transparent);
    background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, .2), transparent);
    background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, .2), transparent);
    background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, .2), transparent);
    border: 0;
}

.soften-limited {
    height: 5px;
    margin: 1em 0;
    background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, .2), transparent);
    background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, .2), transparent);
    background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, .2), transparent);
    background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, .2), transparent);
    border: 0;
}

.latest-news {
    margin: 1.5em;
}

.latest-news > .soften {
    margin-top: 1.5em;
}

.latest-news > p {
    font-size: 0.8em;
    text-align: right;
    margin-top: 1.5em;
}

.medals-layout img {
    margin-right: 1em;
}

.funding-amount {
    text-align: right;
}

.bibtex-button {
    margin-top: 1.5em;
}

.bibtex-button > img {
    margin: 0.5em 1.5em;
}

.chart-section {
    margin: 1em;
    min-height: 200px;
}

.chart-section > h4 {
    padding-top: 0;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

.graph-label {
    text-shadow: 1px 1px white, -1px -1px white;
    text-shadow: 0 0 0.3em #ddd, 0 0 0.3em #ddd, 0 0 0.3em #ddd;
}

#clean-filters {
    color: #999;
}

#clean-filters:hover {
    color: #666;
}

.indicator-image {
    margin: 0.5em;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
}

.dl-horizontal > .day-number {
    width: 50px;
    font-size: 18px;

}

.dl-horizontal > .news-title {
    margin-left: 100px;
}

.registered-user {
    margin-bottom: 0.75em;
    text-align: right;
}

.funding-row {
    min-height: 225px;
}

.pie-chart-text {
    font: normal 1em Arial;
}
