@media(max-width:767px){
    #total_funds_select_panel {
        padding-bottom: 15px;
    }
}

@-moz-document url-prefix() {
    #expand-form-panel {
        position: absolute;
    }
}

.inline-group td.original p { display:none; }
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:hover {
    text-decoration: none;
}

html, body {
    height: 100%;
}

body {
    padding-top: 65px;
}

h5, h6 {
    font-weight: bold;
}

#form-section {
    margin: 0 1em;
}

#search-text {
    float: left;
    margin-right: 1em;
    width: calc(100% - 3.6em);
}

#extended-form {
    padding-top: 1em;
    display: none;
}

#extended-form-title {
    display: none;
}

#publication_to_year {
    display: none;
}

.publication-authors {
    display: inline-block;
}

.publication-authors p span {
    margin: 0 0.75em;
    border: 1px solid #ccc;
    background-color: #eee;
    color: #777;
}

#between_panel {
    text-align: center;
}

#between_section {
    display: none;
}

.glyphicon-remove {
    vertical-align: bottom;
    font-size: 18px;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.typeahead.dropdown-menu {
    min-width: calc(100% - 30px);
}

.publication-authors p span i {
    margin-right: 0.25em;
}

.publication-authors p {
    font-size: 0.75em;
    margin: 0;
}

#author-list {
    display: block;
    color: #777;
    font-weight: bold;
    padding-bottom: 1em;
}

#author-list i {
    margin-left: 1em;
}

#project-list {
    display: block;
    color: #777;
    font-weight: bold;
    padding-bottom: 1em;
}

#project-list i {
    margin-left: 1em;
}

.project-code {
    margin-left: 1.5em;
    font-weight: bold;
    font-size: 0.75em;
    color: #777;
}

.rss-link {
    text-align: center;
    margin-bottom: 9px;
}

.rss-link a {
    background-color: #f60;
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #FFF;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}

.status-not-started {
    color: #999;
    margin-left: 0.75em;
}

.status-ongoing {
    color: #5cb85c;
    margin-left: 0.75em;
}

.status-finished {
    color: #f22;
    margin-left: 0.75em;
}

#brand-logo {
    position: absolute;
    top: 1px;
    left: 10px;
    visibility: hidden;
}

#brand-text {
    font-weight: bold;
}

.breadcrumb > li.active > a {
    color: #999;
}

.login-box {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.navbar-nav > li > a > i {
    margin-right: 0.5em;
}

.navbar-default .navbar-nav > li > a:hover {
    background-color: #eee;
}

.navbar-default .navbar-nav > .active > a {
    background-color: #ddd;
}

#principal-h1 {
    font-family: 'Open Sans', cursive;
    color: #999;
    margin-top: 0;
}

#principal-h1 > img {
    margin: 0.5em;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -3em;
}

textarea {
    width: 90%;
}

.centered {
    text-align: center;
}

.main-page > .span3 > a {
    text-align: center;
    display: block;
}

.accordion-toggle {
    text-decoration: none;
}

.accordion-toggle:hover {
    text-decoration: none;
}

div.jqcloud {
  margin: auto;
}

h4 {
    padding-top: 1em;
}

.tag {
    margin-top: 0.5em;
    list-style-type: none;
}

#document-download {
    margin: 0.5em;
    max-width: 75px;
}

#publication-type {
    float: right
}

#publication-abstract {
    text-align: justify;
}

#project-tag-cloud, #publication-tag-cloud, #dataset-tag-cloud {
    border: 1px solid #ccc;
    border-radius: 0.75em;
}

#project-type {
    float: right
}

#entity-title {
    padding-bottom: 1.5em;
    margin-left: 1.5em;
}

.entity-info-nav {
    text-align: center;
    padding: 0.75em 0;
}

.entity-info-nav > a {
    margin: 0.5em;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
}

.entity-info-nav > a:hover {
    background-color: #ebebeb;
    border-color: #adadad;
}

.entity-info-nav > a.active {
    color: #fff;
    background-color: #3276b1;
    border-color: #285e8e;
}

.entity-info-nav > a > span {
    margin-left: 0.75em;
}

.entity-info-content {
    margin: 0 0.5em;
}

.entity-metadata {
    padding-bottom: 1em;
}

.entity-metadata i {
    margin-right: 1em;
}

table > tbody > tr.vertical-alignment > td {
    vertical-align: middle;
}

#number_of_publications {
    height: 500px;
}

#number_of_projects {
    height: 500px;
}

i.fa.fa-external-link {
    font-size: 0.6em;
    position: relative;
    bottom: 0.6em;

}

.organization-logo {
    max-height: 75px;
    margin-bottom: 1em;
}

.funding-program-logo {
    margin: 1em 0;
    max-width: 75%;
}

#main-container {
    display: block;
    min-height: 500px;
    padding: 0.5em;
    background-color: white;
}

.container {
    padding: 0;
}

.edit-organization-logo {
    margin: 1em;
    width: 25%;
}

.center {
    display: block;
    text-align: center;
    width: 100%;
}

#logo-left {
    float: left;
    margin-left: 15em;
}

#logo-right {
    float: right;
    margin-right: 15em;
}

.tabbable {
    margin-top: 1.5em;
}

.tab-content {
    min-height: 500px;
}

ul.nav.nav-tabs {
    min-height: 500px;
}

#extended-form-tabs {
    min-height: 0;
    margin-top: 1.5em;
    display: none;
}

#member-tabs {
    min-height: 0;
}

#member-tabs > li {
    margin-right: 1.5em;
    margin-bottom: 1.5em;
    border: 1px solid #428bca;
    border-radius: 7px;
}

.tab-divider {
    border-top: #ddd 1px solid;
    padding-bottom: 3px;
    margin-left: 2em;
}

#about-tabs {
    margin: 1em;
}

#about-section {
    margin: 1.5em;
}

.publication-template {
    padding-left: 1.5em;
}

.publication-template p {
    margin-left: 1.5em;
}

#publication-tab-content > .tab-pane {
    border: 1px solid #999;
    border-radius: 0.5em;
    padding: 1.5em;
}

#publication-tab-content > .tab-pane > p {
    text-align: justify;
}

.overview-header {
    padding-bottom: 1.5em;
}

#project-description {
    padding: 0 15px;
    margin: 1em;
    border-left: 5px solid #eee;
    text-align: justify;
}

#project-header {
    display: block;
}

#project-logo {
    max-height: 125px;
}

.project-logo > .img-responsive {
    width: 90%;
    display: inline;
}

.project-template {
    padding-left: 1.5em;
}

.project-template p {
    margin-left: 1.5em;
}

#project-tab-content > .tab-pane {
    border: 1px solid #999;
    border-radius: 0.5em;
    padding: 1.5em;
}

#project-tab-content > .tab-pane > p {
    text-align: justify;
}

#pr_funding_details ul {
    padding-left: 2.5em;
}

.tab-left-btn {
    margin-top: 2em;
    margin-left: 40px;
}

#edit-from-info {
   margin-left: 70px;
}

#employees-form th {
    width: 85px;
    font-weight: normal;
}

#assigned_employee_formset {
    width: 100%;
}

#consortium-members-form th {
    width: 125px;
    font-weight: normal;
}

.dynamic-form {
    margin-bottom: 20px;
    display: block;
}

.dynamic-form th {
    width: 100px;
    padding-top: 5px;
    padding-right: 10px;
    text-align: right;
    font-weight: normal;
}

.dynamic-form td {
    margin-left: 180px;
}

.delete-formset-row {
    margin-left: 1em;
}

.form-actions > button > a {
    margin: 0 1em;
}

.left {
    float: left;
    width: 50%;
    text-align: center;
}

.left a {
    margin-top: 6em;
}

.right {
    float: right;
    width: 50%;
    text-align: center;
}

.pagination {
    float: right;
}

.center {
    text-align: center;
}

/*.form-actions button, a {
    margin: 0 1em;
}*/

#funding-call-info > a {
    margin: 0;
}

.rdf-icon {
    margin-left: 3px;
    margin-top: -3px;
    margin-right: 5px;
    width: 16px;
    height: 16px;
}

.semantic-searcher-results li a {
    line-height: 24px;
}

#chart_div {
    margin: 0 auto;
}

#query-form .control-label {
    width: 100px;
}

#query-form .controls {
    margin-left: 115px;
}

#sparql-query > pre {
    font-size: 10px;
}

#push {
    height: 3em;
}

footer {
    text-align: left;
    width: 100%;
    min-height: 2.5em;
    margin: 0 auto;
    background-color: white;
}

footer > a {
    color: #999;
    padding-left: 1em;
    padding-right: 1em;
}

footer h4 {
    padding-top: 0.5em;
    margin-bottom: 1em;
    font-weight: bold;
}

.footer-content {
    padding-left: 2em;
}

.footer-content img {
    padding: 0;
    margin: 5px;
    -webkit-filter: grayscale(1);
}

.footer-content img:hover {
    -webkit-filter: grayscale(0);
}

.footer-object {
    padding: 0;
    padding-left: 3em;
}

#map-link {
    font-size: 0.75em;
    font-weight: normal;
}

.form-search {
    margin-top: 5px;
    margin-bottom: 0;
}

.circular {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 2px solid #999;
    padding: 3px;
    margin-bottom: 1em;
}

.circular:hover {
    border: 2px solid #222;
}

.label.deustotech-societal-challenges {
    background-color: #449284;
}

.label.deustotech-telecom {
    background-color: #9168a1;
}

.label.morelab {
    background-color: #1f3459;
}

.circle-deustotech-societal-challenges {
    color: #449284;
}

.circle-deustotech-telecom {
    color: #9168a1;
}

.circle-morelab {
    color: #1f3459;
}

#member-count {
    margin: 0;
}

#unit-selector {
    padding: 0;
    padding-left: 0.75em;
}

#research-group-team-image {
    box-shadow: 2px 2px 3px black;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    width: 100%;
}

#research-group-description > p {
    text-align: justify;
    font-weight: 200;
    line-height: 1.4em;
    font-size: 16px;
}

.member {
    margin-bottom: 2.5em;
    padding-bottom: 2.5em;
    max-height: 300px;
}

.member-name {
    font-weight: bold;
}

.member-position {
    font-style: italic;
    color: #999;
}

#member-name > h1 {
    text-align: center;
}

#member-name > p {
    text-align: center;
    font-style: italic;
    color: #999;
}

#profile-picture {
    width: 85%;
    box-shadow: 2px 2px 3px black;
    margin: 0.5em;
    margin-bottom: 0.75em;
    -webkit-border-top-left-radius: 50px;
    -webkit-border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 0.5em solid #eee;
}

#member-company {
    margin-bottom: 0.75em;
}

.personal-website {
    margin: 1em 0;
}

#member-tab-content > .tab-pane {
    border: 1px solid #999;
    border-radius: 0.5em;
    padding: 1.5em;
}

#member-biography-tab-pane {
    text-align: justify;
}

#member-tab-content > .tab-pane > p {
    text-align: justify;
}

#contact-member {
    margin-bottom: 1em;
}

#contact-member > img {
    margin: 0 1.5em;
}

#contact-member > a {
    margin: 0;
}

#news-body {
    border: 1px solid #999;
    border-radius: 0.5em;
    padding: 1.5em;
}

#news-body > p {
    text-align: justify;
}

.soften {
    height: 5px;
    margin-top: 1em;
    margin-bottom: 1.5em;
    background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, .2), transparent);
    background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, .2), transparent);
    background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, .2), transparent);
    background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, .2), transparent);
    border: 0;
}

.well.latest-news {
    padding: 1em 0.75em 0.5em;
}

.latest-news {
    margin: 1.5em;
}

.latest-news > p {
    font-size: 0.8em;
    text-align: right;
    margin-top: 1.5em;
    margin-bottom: 0;
}

.medals-layout img {
    margin-right: 1em;
}

.funding-amount {
    text-align: right;
}

.bibtex-button {
    margin-top: 1.5em;
}

.bibtex-button > img {
    margin: 0.5em 1.5em;
}

.chart-section {
    margin: 1em;
    min-height: 200px;
}

.chart-section > h4 {
    padding-top: 0;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

.graph-label {
    text-shadow: 1px 1px white, -1px -1px white;
    text-shadow: 0 0 0.3em #ddd, 0 0 0.3em #ddd, 0 0 0.3em #ddd;
}

#clean-filters {
    color: #999;
}

#clean-filters:hover {
    color: #666;
}

.indicator-image {
    margin: 0.5em;
}

.highlight, .publication-authors p span.highlight {
    background-color: yellow;
    font-weight: bold;
    border: none;
    margin: 0;
}

.dl-horizontal > .day-number {
    width: 50px;
    font-size: 18px;

}

.dl-horizontal > .news-title {
    margin-left: 100px;
}

.registered-user {
    text-align: right;
}

.funding-row {
    min-height: 225px;
}

.pie-chart-text {
    font: normal 1em Arial;
}

.similarity-buttons {
    padding-top: 20px;
}

.donut-label {
    margin-top: 2.5em;
    margin-bottom: 0.75em;
    text-align: center;
    font-style: italic;
    color: #666;
    height: 3.5em;
}

.donut-chart-percentage {
    font-family: "RamaGothicM-Heavy",Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,"Helvetica Inserat","Bitstream Vera Sans Bold","Arial Black",sans-serif;
    font-size: 5rem;
    font-weight: 400;
    line-height: 12rem;
    fill: black;
}

path.color0 {
    /*fill: #1072b8;*/
    fill: #428bca;
}

path.color1 {
    fill: #ccc;
}

.phd-thesis-abstract ul.nav.nav-tabs, .tab-content {
    min-height: 0;
}

.phd-thesis-abstract p {
    text-align: justify;
}

.thesis-title {
    text-align: center;
    font-style: italic;
    color: #999;
}

#powered-by-labman {
    padding-top: 0.75em;
    padding-bottom: 0.5em;
    margin-top: 1em;
    background-color: #e3e3e3;
    text-align: center;
}

.row {
    margin: 0;
}

i.fa-grey {
    color: #999;
}

i.fa-green {
    color: #00cc00;
}

i.fa-red {
    color: #ff0000;
}

i.fa-yellow {
    color: #ffbb33;
}

blockquote footer {
    margin-bottom: 0;
    min-height: 0;
}

.threshold_pills > li > a {
    padding: 3px 15px;
    margin-right: 1em;
}

#parse_btn {
    text-decoration: none;
    color: #428bca;
    text-align: right;
    white-space: nowrap;
    font-weight: 700;
    padding: 0;
}

#parse_btn:hover {
    text-decoration: none;
    color: #2a6496;
}

#pub-child-type-infobox > dd {
    padding-bottom: 0.75em;
    padding-left: 0.5em;
}

#rankings {
    padding-bottom: 1em;
}

.ranking-icon {
    max-width: 50%;
    max-height: 100px;
    margin-bottom: 0.5em;
}

.ranking-name {
    font-size: 1em;
    padding: 0.5em 1.25em;
}

.img-responsive {
    display: inline;
}

.collaborations-item {
    text-align: center;
}

.collaborations-item > img {
    width: 45%;
    margin: 1.5em;
}

.employee-item {
    text-align: center;
}

.blockquote-role {
    font-size: 85%;
    color: #777;
}

.news-related i {
    margin: 0 0.5em;
}

.label-quartile {
    font-size: 1.25em;
    margin-top: -6px;
}

.label-q1 {
    background-color: #3369e8;
}

.label-q2 {
    background-color: #d50f25;
}

.label-q3 {
    background-color: #eeb211;
}

.label-q4 {
    background-color: #009925;
}

.uncertain {
  fill: #7e7e7e;
}

.confirmed {
    fill: #4285F4;
}

.axis text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

g.y.axis > g.tick > line {
    stroke: #eee;
}

.year {
    color: #f4b400;
}
