
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:hover {
    text-decoration: none;
}

textarea {
    width: 90%;
}

.main-page > .span3 > a {
    text-align: center;
    display: block;
}

.accordion-toggle {
    text-decoration: none;
}

.accordion-toggle:hover {
    text-decoration: none;
}

h3 {
    text-align: center;
}

h4 {
    padding-top: 1em;
}

.organization-logo {
    float: right;
    max-height: 75px;
}

.funding-program-logo {
    float: right;
    max-height: 75px;
}

#main-container {
    display: block;
    min-height: 500px;
    padding-top: 10em;
}

#main-container2 {
    display: block;
    min-height: 500px;
    padding-top: 1em;
}

.edit-organization-logo {
    margin: 1em;
    width: 25%;
}

.center {
    display: block;
    text-align: center;
    width: 100%;
}

#logo-left {
    float: left;
    margin-left: 15em;
}

#logo-right {
    float: right;
    margin-right: 15em;
}

.tab-content {
    min-height: 500px;
}

ul.nav.nav-tabs {
    min-height: 500px;
}

.tab-divider {
    border-top: #ddd 1px solid;
    padding-bottom: 3px;
    margin-left: 2em;
}

.project-logo {
    display: block;
    width: 100%;
    text-align: center;
}

.project-logo > img {
    width: 40%;
}

.project-template {
    margin-top: 1.5em;
    padding-left: 1.5em;
}

.project-template p {
    margin-left: 1.5em;
}

#pr_funding_details ul {
    padding-left: 2.5em;
}

.tab-left-btn {
    margin-top: 2em;
    margin-left: 40px;
}

#edit-from-info {
   margin-left: 70px;
}

#employees-form th {
    width: 85px;
    font-weight: normal;
}

#assigned_employee_formset {
    width: 100%;
}

#consortium-members-form th {
    width: 125px;
    font-weight: normal;
}

.dynamic-form {
    margin-bottom: 20px;
    display: block;
}

.dynamic-form th {
    width: 100px;
    padding-top: 5px;
    padding-right: 10px;
    text-align: right;
    font-weight: normal;
}

.dynamic-form td {
    margin-left: 180px;
}

.delete-formset-row {
    margin-left: 1em;
}

.form-actions > button > a {
    margin: 0 1em;
}

.left {
    float: left;
    width: 50%;
    text-align: center;
}

.left a {
    margin-top: 6em;
}

.right {
    float: right;
    width: 50%;
    text-align: center;
}

.pagination {
    float: right;
}

.center {
    text-align: center;
}

.form-actions button, a {
    margin: 0 1em;
}

#funding-call-info > a {
    margin: 0;
}

.rdf-icon {
    margin-left: 3px;
    margin-top: -3px;
}

.semantic-searcher-results li a {
    line-height: 24px;
}

#chart_div {
    margin: 0 auto;
}

#query-form .control-label {
    width: 100px;
}

#query-form .controls {
    margin-left: 115px;
}

#sparql-query > pre {
    font-size: 10px;
}

footer {
    text-align: center;
    width: 100%;
    line-height: 8em;
    min-height: 11em;
    background-color: whiteSmoke;
    border-top: #999 0.5em solid;
    margin: 0 auto;
}

footer img {
    margin: 1em;
}

.form-search {
    margin-top: 5px;
    margin-bottom: 0px;
}

sub {
    font-weight: bold;
    color: white;
}
