{% extends "labman_ud/base.html" %}
{% load staticfiles %}



{% block content %}
    <ul class="breadcrumb">
        <li><a href="{% url 'chart_index' %}">Charts</a></li>

        <li><a href="{% url 'members' %}">Members</a></li>

        <li class="active">Group timeline</li>
    </ul>

    <div class="text-center">
        {% for algorithm in algorithms %}
            <a href="{% url 'group_timeline' %}?sort={{ algorithm }}" class="btn {% if algorithm == current_algorithm %}btn-primary{% else %}btn-default{% endif %}">{{ algorithm }}</a>
        {% endfor %}
    </div>

    <div id="chart-div" class="centered">
        <h4>Group timeline</h4>

        <div id="chart_div" style="width: 1000px; height: {{ chart_height }}px;"></div>
    </div>

    <br>

{% endblock %}



{% block scripts %}

    <script src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization', 'version':'1','packages':['timeline']}]}"></script>
    <script>
        google.setOnLoadCallback(drawChart);

        function drawChart() {
          var container = document.getElementById('chart_div');

          var chart = new google.visualization.Timeline(container);

          var dataTable = new google.visualization.DataTable();

          dataTable.addColumn({ type: 'string', id: 'Member' });
          dataTable.addColumn({ type: 'date', id: 'Start' });
          dataTable.addColumn({ type: 'date', id: 'End' });

          dataTable.addRows([
            {% for member_info in members %}
                [ "{{ member_info.member }}", new Date({{ member_info.start_year }}, {{ member_info.start_month }}, 1), new Date({{ member_info.end_year }}, {{ member_info.end_month }}, 1) ],
            {% endfor %}
          ]);

          var all_colors = ["#428bca", "#5cb85c", "#999"];
          var units = [];
          {% for unit in distinct_units %}
            units.push("{{ unit }}");
          {% endfor %}
          var color_per_unit = {}
          $(units).each(function(pos, unit) {
            color_per_unit[unit] = all_colors[pos];
          });

          var options = {
            colors : [
            {% for member_info in members %}
                color_per_unit["{{ member_info.organization }}"]{% if not forloop.last %},{% endif %}
            {% endfor %}
            ]
          };

          chart.draw(dataTable, options);
        }
    </script>

    <script>
        $('#charts-nav').addClass('active');
    </script>

{% endblock %}
