{% extends "labman_ud/base.html" %}
{% load staticfiles %}



{% block content %}

    <ul class="breadcrumb">
        <li><a href="{% url 'chart_index' %}">Charts</a></li>

        <li><a href="{% url 'members' %}">Members</a></li>

        <li class="active">Projects timeline</li>
    </ul>

    <br>

    <blockquote>
        <p>
            {{ projects_timeline|length }} project{{ projects_timeline|pluralize }} in <a href="{% url 'determine_person_info' person.slug %}">{{ person.full_name }}</a>'s timeline
        </p>

        {% for role, value in role_items.items %}
            &emsp;
            <i class="fa fa-circle fa-circle-{{ role|slugify }}"></i>
            &emsp;
            <span class="blockquote-role">{{ role }}</span>
            <br>
        {% endfor %}
    </blockquote>

    <div id="chart-div" class="centered">
        <div id="chart_div" style="width: 1000px; height: {{ chart_height }}px;"></div>
    </div>

    <br>

{% endblock %}



{% block scripts %}

    <script>
        {% for role_name, value in role_items.items %}
            {% for role in roles %}
                {% if role_name == role.name %}
                    $('.fa-circle-{{ role.slug }}').css('color', '#{{ role.rgb_color }}');
                {% endif %}
            {% endfor %}
        {% endfor %}
    </script>

    <script src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization', 'version':'1','packages':['timeline']}]}"></script>

    <script>
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var container = document.getElementById('chart_div');

            var chart = new google.visualization.Timeline(container);

            var dataTable = new google.visualization.DataTable();

            dataTable.addColumn({ type: 'string', id: 'Member' });
            dataTable.addColumn({ type: 'string', id: 'Role' });
            dataTable.addColumn({ type: 'date', id: 'Start' });
            dataTable.addColumn({ type: 'date', id: 'End' });

            var projects_timeline = [];

            {% for project in projects_timeline %}
                var start_year = {{ project.start_date|date:"Y" }};
                var start_month = {{ project.start_date|date:"m" }} - 1;    // JS date object starts months in 0
                var start_day = {{ project.start_date|date:"d" }};

                var start_date = new Date(start_year, start_month, start_day);

                {% if project.end_date %}
                    var end_year = {{ project.end_date|date:"Y" }};
                    var end_month = {{ project.end_date|date:"m" }} - 1;    // JS date object starts months in 0
                    var end_day = {{ project.end_date|date:"d" }};
                {% else %}
                    var end_year = new Date().getFullYear();
                    var end_month = new Date().getMonth();
                    var end_day = new Date().getDate();
                {% endif %}

                var end_date = new Date(end_year, end_month, end_day);

                projects_timeline.push(["{{ project.short_name }}", "{{ project.role }}", start_date, end_date]);
            {% endfor %}

            dataTable.addRows(projects_timeline);

            var options = {
                timeline: { showBarLabels: false},
                {% if role_colors %}
                    colors: {{ role_colors|safe }},
                {% endif %}
            };

            chart.draw(dataTable, options);
        }
    </script>

    <script>
        $('#charts-nav').addClass('active');
    </script>

{% endblock %}
