
<p>
    MoreLab provides 3D solutions for Rapid Prototyping and Rapid Manufacturing in educational, industrial, medical and reverse engineering fields. With us you can gain access to different 3D printer technologies, materials and prototype characteristics.
</p>

<div class="row">
    <img class="img-responsive col-md-8 col-md-offset-2"src="{{ STATIC_PREFIX }}img/prototyping/3D_solutions.jpg"/>
</div>

<br>

<p>
    Our 3D printers can print up to 350 x 250 x 200 mm, with a maximum of 0.0875 mm resolution using standard inkjet technology to create parts layer-by-layer [ZPrinter 650] and up to 270 x 205 x 210 mm, with a maximum of 0.35 mm resolution with the FDM (Fused Deposition Material) technology [RapMan 3.0].
</p>

<p>
    The ZPrinter 650 is the only solution which allows us to print prototypes in full color and hyperrealist quality. Large parts, premium colors and high resolution are just a few of the key advantages of this kind of technology.
</p>

<p>
    We offer high quality rapid prototyping services for the most demanding applications at affordable costs. We can help you to move your rapid prototype concept to CAD model and to prototype.
</p>

<p>
    For personalized cost estimations, export the 3D model as an *.STL file and send it to szilard.kados [at] deusto [dot] es and we will contact you as soon as possible with the best 3D solution for you and your company.
</p>

<div class="row">
    <img class="img-responsive col-md-8 col-md-offset-2"src="{{ STATIC_PREFIX }}img/prototyping/3D_modelling.jpg"/>
</div>
