<h1>Research vacant</h1>

<h3>Research assistant in social data mining:</h3>

    <p>
        We are seeking for a new Computer Science Engineer or computing-related Engineer with the following skills to take part in research projects dealing with social data mining:
    </p>

    <ul>
        <li>
            Java and/or Python programming
        </li>

        <li>
            Artificial Intelligence awareness
        </li>

        <li>
            Interest and basic knowledge on Natural Language Processing (NLP)
        </li>

        <li>
            Basic knowledge of Machine Learning
        </li>
    </ul>

    <p>
        Some other desirable skills are:
    </p>

    <ul>
        <li>
            Knowledge of Semantic Web and Linked Data
        </li>

        <li>
            Interest on undertaking a PhD  or research on Opinion Mining
        </li>

        <li>
            Linux system administration
        </li>

        <li>
            Knowledge of scripting and web programming</li>
    </ul>

    <strong>12-18K €, 1 year grant or contract</strong>

    <p>
        Please contact with:
    </p>

    <a href="mailto:dipina@deusto.es">dipina [at] deusto [dot] es</a>
