{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% get_media_prefix as MEDIA_PREFIX %}

<!doctype html>
    <!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
    <!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
    <!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
    <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <title>MORElab information management</title>
        <link rel="shortcut icon" href="{{ STATIC_PREFIX }}img/favicon.ico">

        <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/bootstrap.css"/>
        <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/bootstrap-responsive.css"/>
        <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/style.css"/>

        <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/nv.d3.css"/>
    </head>

    <body>

        <div id="wrap">

            <div class="navbar navbar-fixed-top navbar-inverse">
                <div class="navbar-inner">
                    <div class="container"><!-- Collapsable nav bar -->
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>

                        <!-- Your site name for the upper left corner of the site -->
                        <a class="brand" href="{% url home %}">LabMan UD</a>

                        <!-- Start of the nav bar content -->
                        <div class="nav-collapse"><!-- Other nav bar content -->

                            <ul class="nav">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        MORElab
                                        <b class="caret"></b>
                                    </a>

                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="{% url project_index %}">
                                                <img src="{{ STATIC_PREFIX }}img/index/project_micro.png"/>
                                                Projects
                                            </a>
                                        </li>

                                        <li>
                                            <a href="">
                                                <img src="{{ STATIC_PREFIX }}img/index/demo_micro.png"/>
                                                Demos
                                            </a>
                                        </li>

                                        <li>
                                            <a href="{% url publication_index %}">
                                                <img src="{{ STATIC_PREFIX }}img/index/publication_micro.png"/>
                                                Publications
                                            </a>
                                        </li>

                                        <li>
                                            <a href="">
                                                <img src="{{ STATIC_PREFIX }}img/index/event_micro.png"/>
                                                Events
                                            </a>
                                        </li>

                                        <li>
                                            <a href="{% url person_index %}">
                                                <img src="{{ STATIC_PREFIX }}img/index/person_micro.png"/>
                                                Persons
                                            </a>
                                        </li>

                                        <li>
                                            <a href="{% url organization_index %}">
                                                <img src="{{ STATIC_PREFIX }}img/index/organization_micro.png"/>
                                                Organizations
                                            </a>
                                        </li>

                                        <li>
                                            <a href="{% url funding_program_index %}">
                                                <img src="{{ STATIC_PREFIX }}img/index/funding_program_micro.png"/>
                                                Funding programs
                                            </a>
                                        </li>
                                    </ul>
                                </li> <!-- end MORElab dropdown -->

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <img src="{{ STATIC_PREFIX }}img/index/chart_micro.png"/>
                                        Charts
                                        <b class="caret"></b>
                                    </a>

                                    <ul class="dropdown-menu">

                                        <li class="nav-header">Incomes</li>

                                        <li>
                                            <a href="{% url total_incomes %}">
                                                <img src="{{ STATIC_PREFIX }}img/index/event_micro.png"/>
                                                Breakdown by year
                                            </a>
                                        </li>

                                        <li>
                                            <a href="{% url incomes_by_project_index %}">
                                                <img src="{{ STATIC_PREFIX }}img/index/project_micro.png"/>
                                                By project
                                            </a>
                                        </li>

                                        <li>
                                            <a href="{% url total_incomes_by_scope %}">
                                                <img src="{{ STATIC_PREFIX }}img/index/map_micro.png"/>
                                                Breakdown by scope
                                            </a>
                                        </li>

                                        <li class="divider-horizontal"></li>

                                        <li class="nav-header">Publications</li>

                                        <li>
                                            <a href="">
                                                <img src=""/>
                                                Author's relationship
                                            </a>
                                        </li>

                                        <li>
                                            <a href="{% url number_of_publications%}">
                                                <img src=""/>
                                                Number of publications
                                            </a>
                                        </li>


                                    </ul>
                                </li> <!-- end Charts dropdown -->

                                <li>
                                    <a href="{% url semantic_search %}">
                                        <img src="{{ STATIC_PREFIX }}img/index/search_micro.png"/>
                                        Semantic search
                                    </a>
                                </li>
                            </ul>

                            <!-- The drop down menu -->
                            <ul class="nav pull-right">
                                <li>
                                    <a target="_blank" href="/admin">
                                        Admin
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div id="main-container" class="container">
                {% block content %}{% endblock %}
            </div>

            <div id="push"></div>
        </div>

        <footer>
            <a target="_blank" href="http://www.morelab.deusto.es/">
                MORElab
            </a>

            <a target="_blank" href="http://www.deustotech.deusto.es/">
                DeustoTech
            </a>
        </footer>

    </body>

    <script src="{{ STATIC_PREFIX }}js/jquery-1.8.2.min.js"></script>
    <script src="{{ STATIC_PREFIX }}js/bootstrap.js"></script>

    {% block scripts %}
    {% endblock %}

</html>
