{% extends "labman_ud/base.html" %}



{% block content %}

    <div class="row-fluid">
        <div class="span4 well">
            <a href="{% url project_index %}">
                <h2>
                    <img src="{{ STATIC_PREFIX }}img/index/mini_project.png">
                    Projects
                </h2>

                <p>
                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                </p>
            </a>
        </div>

        <div class="span4 offset4 well">
            <a href="{% url chart_index %}">
                <h2>
                    <img src="{{ STATIC_PREFIX }}img/index/mini_chart.png">
                    Charts
                </h2>

                <p>
                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                </p>
            </a>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span4 well">
            <a href="{% url project_index %}">
                <h2>
                    <img src="{{ STATIC_PREFIX }}img/index/mini_publication.png">
                    Publications
                </h2>

                <p>
                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                </p>
            </a>
        </div>

        <div class="span4 offset4 well">
            <a href="{% url semantic_search %}">
                <h2>
                    <img src="{{ STATIC_PREFIX }}img/index/mini_search.png">
                    Semantic search
                </h2>

                <p>
                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                </p>
            </a>
        </div>
    </div>

{% endblock %}



{% block scripts %}
{% endblock %}
