{% extends "labman_ud/base.html" %}
{% load staticfiles %}



{% block header_css %}
    <link rel="alternate" type="application/atom+xml" title="Atom feed" href="{% url 'news_feed' %}">
{% endblock %}



{% block content %}

    <blockquote>
        <p><a href="{% url 'news_feed' %}"><i class="fa fa-rss"></i>&emsp;Subscribe</a></p>
    </blockquote>

    {% for key, value in news.items %}
        <blockquote>
            <p><i class="fa fa-calendar"></i>&emsp;{{ key }}</p>

            <dl class="dl-horizontal">
                {% for item in value %}
                    <dt class="day-number">{{ item.log_created|date:"d" }}</dt>
                    <dd class="news-title"><a href="{% url 'view_news' item.slug %}">{{ item.title }}</a></dd>
                {% endfor %}
            </dl>
        </blockquote>
    {% endfor %}

{% endblock %}



{% block scripts %}
    <script>
        $('#news-nav').addClass('active');
    </script>
{% endblock %}
