{% extends "labman_ud/base.html" %}



{% block content %}

    <h2>{{ news.title|safe }}</h2>

    <h6>Published on {{ news.created|date:"l, d F Y - H:i" }}</h6>

    <br>
    <br>

    <!-- <a href="" onclick="window.open(
            'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),
            'facebook-share-dialog',
            'width=626,height=436'
        ); return false;">
        Share on Facebook
    </a> -->

    <div class="row">
        <div class="{% if related %}col-md-8 {% endif %} news-body">
            {{ news.content|safe }}
        </div>

        {% if related %}
            <div class="col-md-3 well pull-right">
                <h5>Related:</h5>

                {% if related_persons %}
                    {% for person in related_persons %}
                        <i class="fa fa-user fa-large"></i>&emsp;
                        {% if person.is_active %}
                            <a href="{% url member_info person.slug %}">
                                {{ person.full_name }}
                            </a>
                        {% else %}
                            <a href="{% url person_info person.slug %}">
                                {{ person.full_name }}
                            </a>
                        {% endif %}
                        <br>
                    {% endfor %}
                    <br>
                {% endif %}

                {% if related_projects %}
                    {% for project in related_projects %}
                        <i class="fa fa-gears fa-large"></i>&emsp;
                        <a href="{% url project_info project.slug %}">
                            {{ project.short_name }}
                        </a>
                        <br>
                    {% endfor %}
                    <br>
                {% endif %}

                {% if related_publications %}
                    {% for publication in related_publications %}
                        <i class="fa fa-file-text-o fa-large"></i>&emsp;
                        <a href="{% url publication_info publication.slug %}">
                            {{ publication.title }}
                        </a>
                        <br>
                    {% endfor %}
                    <br>
                {% endif %}
            </div>
        {% endif %}
    </div>

    <ul>
        {% for tag in tags %}
            <li>{{ tag.name }}</li>
        {% endfor %}
    </ul>

{% endblock %}



{% block scripts %}
{% endblock %}
