{% extends "labman_ud/base.html" %}
{% load staticfiles %}



{% block content %}

    <h2>{{ news_piece.title|safe }}</h2>

    <h6>Published on {{ news_piece.created|date:"l, d F Y - H:i" }}</h6>

    <br>
    <br>

    <div class="row">
        <div id="news-body" {% if has_related %}class="col-md-8"{% endif %}>
            {{ news_piece.content|safe }}
        </div>

        {% if has_related %}
            <div class="col-md-3 well pull-right news-related">
                {% if news_piece.persons.all %}
                    {% for person in news_piece.persons.all %}
                        <a href="{% url 'determine_person_info' person.slug %}">
                            <i class="fa fa-user fa-large"></i>
                            {{ person.full_name }}
                        </a>
                        <br>
                    {% endfor %}
                    <br>
                {% endif %}

                {% if news_piece.projects.all %}
                    {% for project in news_piece.projects.all %}
                        <a href="{% url 'project_info' project.slug %}">
                            <i class="fa fa-gears fa-large"></i>
                            {{ project.short_name }}
                        </a>
                        <br>
                    {% endfor %}
                    <br>
                {% endif %}

                {% if news_piece.publications.all %}
                    {% for publication in news_piece.publications.all %}
                        <a href="{% url 'publication_info' publication.slug %}">
                            <i class="fa fa-file-text-o fa-large"></i>
                            {{ publication.title }}
                        </a>
                        <br>
                    {% endfor %}
                    <br>
                {% endif %}
            </div>
        {% endif %}
    </div>

{% endblock %}



{% block scripts %}

    <script>
        $( "#news-body img").each(function() {
            $(this).addClass("news-img-responsive");
        });
    </script>

{% endblock %}
