{% extends "labman_ud/base.html" %}
{% load staticfiles %}



{% block content %}

    <div class="row">
        <div class="col-md-4">
            <div class="well chart-section">
                <h4><i class="fa fa-money fa-grey"></i>&emsp;Funding</h4>

                <div class="soften-limited"></div>

                <ul>
                    <li>
                        <a href="{% url 'funding_total_incomes' %}">Total incomes</a>
                    </li>

                    <li>
                        <a href="{% url 'funding_total_incomes_by_scope' %}">Total incomes by scope</a>
                    </li>

                    <li>
                        <a href="{% url 'funding_incomes_by_project_index' %}">Total incomes by project</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-4">
            <div class="well chart-section">
                <h4><i class="fa fa-gears fa-grey"></i>&emsp;Projects</h4>

                <div class="soften-limited"></div>

                <ul>
                    <li>
                        <a href="{% url 'projects_number_of_projects' %}">Number of projects</a>
                    </li>

                    <li>
                        <a href="{% url 'project_collaborations' %}">Collaborations</a>
                    </li>

                    <ul>
                        <li>
                            <a href="{% url 'project_collaborations_within_group' %}">Collaborations within {{ RESEARCH_GROUP_SETTINGS.research_group_short_name }}</a>
                        </li>
                    </ul>
                </ul>
            </div>
        </div>

        <div class="col-md-4">
            <div class="well chart-section">
                <h4><i class="fa fa-book fa-grey"></i>&emsp;Publications</h4>

                <div class="soften-limited"></div>

                <ul>
                    <li>
                        <a href="{% url 'publications_number_of_publications' %}">Number of publications</a>
                    </li>

                    <li>
                        <a href="{% url 'publication_coauthorships' %}">Co-authorship</a>
                    </li>

                    <ul>
                        <li>
                            <a href="{% url 'publication_coauthorships_within_group' %}">Co-authorship within {{ RESEARCH_GROUP_SETTINGS.research_group_short_name }}</a>
                        </li>
                    </ul>
                </ul>
            </div>
        </div>

        <div class="col-md-4">
            <div class="well chart-section">
                <h4><i class="fa fa-users fa-grey"></i>&emsp;People</h4>

                <div class="soften-limited"></div>

                <ul>
                    <li>
                        <a href="{% url 'group_timeline' %}">Group timeline</a>
                    </li>

                    <li>
                        <a href="{% url 'gender_distribution' %}">Gender distribution</a>
                    </li>

                    <li>
                        <a href="{% url 'position_distribution' %}">Position distribution</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


{% endblock %}



{% block scripts %}

    <script>
        $('#charts-nav').addClass('active');
    </script>

{% endblock %}
