{% extends "projects_morelab/base.html" %}
{% load i18n %}

{% block content %}

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>zz</th>
                <th>País</th>
                <th>Homepage</th>
                <th>Editar</th>
                <th>Borrar</th>
            </tr>
        </thead>

        <tbody>
            {% for organization in organizations %}
                <tr>
                    <td><img src="{{ MEDIA_PREFIX }}{{ organization.logo.name }}" width="75"/>{{ organization.name }}</td>
                    <td>{{ organization.country }}</td>
                    <td><a class="btn btn-mini" target="_blank" href="{{ organization.homepage }}">URL</a></td>
                    <td><a class="btn btn-mini" href="editar/{{ organization.slug }}">Editar</a></td>
                    <td><a class="btn btn-mini" href="eliminar/{{ organization.slug }}">Borrar</a></td>
                </tr>
            {% empty %}
                <tr>No hay ninguna organización.</tr>
            {% endfor %}
        </tbody>
    </table>

    <a class="btn" href="{% url add_organization %}">Añadir organización</a>

{% endblock %}

{% block scripts %}
{% endblock %}
