{% extends "projects_morelab/base.html" %}
{% load i18n %}

{% block content %}

    <h2>
        <a href="{% url organization_index %}"><img width="32" src="{{ STATIC_PREFIX }}img/back.png" /></a>
        {{ organization.name}}
    </h2>

    <br>

    <div class="row-fluid">

        <div class="span6">
            <h6>Project leader in</h6>

            <ul>
                {% for project in projects_leaded %}
                    <li>
                        <a href="{% url info_project project.slug %}">{{ project.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="span6">
            <h6>Consortium member in</h6>

            <ul>
                {% for project in projects %}
                    <li>
                        <a href="{% url info_project project.slug %}">{{ project.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>

{% endblock %}

{% block scripts %}
{% endblock %}
