{% extends "labman_ud/base.html" %}
{% load staticfiles rdf_link %}



{% block content %}

    <ol class="breadcrumb">
        <li>
            <a href="{% url 'organization_index' %}">Organizations</a>
        </li>

        <li>
            <a href="{% url 'view_organization_type' organization.organization_type|slugify %}">
                {{ organization.organization_type }}
            </a>
        </li>

        <li class="active">
            {% rdf_icon organization %}
            {{ organization.short_name }}
        </li>
    </ol>

    <div class="entity-info-content">
        <blockquote>
            <p>
                {{ organization.full_name }}
            </p>

            {% if organization.homepage %}
                <footer>
                    <a target="_blank" href="{{ organization.homepage }}">
                        {{ organization.homepage }}
                    </a>
                </footer>
            {% endif %}
        </blockquote>

        {% if projects_leaded %}

            <div class="panel panel-primary">
                <div class="panel-heading">
                    Project leader in {{ projects_leaded|length }} project{{ projects_leaded|pluralize }}
                </div>

                <table class="table table-striped table-hover table-condensed">
                    <thead>
                        <th class="col-md-10">Project name</th>
                        <th class="col-md-2">Period</th>
                    </thead>

                    <tbody>
                        {% for project in projects_leaded %}
                            <tr>
                                <td class="col-md-10">
                                    <a href="{% url 'project_info' project.slug %}">
                                        &emsp;{{ project.full_name }}
                                    </a>
                                </td>

                                <td class="col-md-2">
                                    {{ project.start_year }} - {{ project.end_year }}
                                    <a href="{% url 'view_project_status' project.status|slugify %}">
                                        <i title="{{ project.status }}" class="fa fa-circle status-{{ project.status|slugify }}"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        {% endif %}

        {% if projects %}

            <div class="panel panel-info">
                <div class="panel-heading">
                    Consortium member in {{ projects|length }} project{{ projects|pluralize }}
                </div>

                <table class="table table-striped table-hover table-condensed">
                    <thead>
                        <th class="col-md-10">Project name</th>
                        <th class="col-md-2">Period</th>
                    </thead>

                    <tbody>
                        {% for project in projects %}
                            <tr>
                                <td class="col-md-10">
                                    <a href="{% url 'project_info' project.slug %}">
                                        &emsp;{{ project.full_name }}
                                    </a>
                                </td>

                                <td class="col-md-2">
                                    {{ project.start_year }} - {{ project.end_year }}
                                    <a href="{% url 'view_project_status' project.status|slugify %}">
                                        <i title="{{ project.status }}" class="fa fa-circle status-{{ project.status|slugify }}"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        {% endif %}
    </div>


{% endblock %}



{% block scripts %}
{% endblock %}
