{% extends "projects_morelab/base.html" %}
{% load i18n %}
{% load humanize %}

{% block content %}

    <a class="pull-right" target="_blank" href="http://dev.morelab.deusto.es/sourceplanet/d2r/resource/project/{{ project.slug }}">
        <img class="rdf-icon" alt="RDF description" title="RDF description" width="32" src="{{ STATIC_PREFIX }}img/rdf.png"/>
    </a>

    <h2>
        <a href="{% url project_index %}"><img width="32" src="{{ STATIC_PREFIX }}img/back.png" /></a>
        {{ project.title }}
    </h2>

    <br>

    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#pr_general_info" data-toggle="tab"><i class="icon-info-sign"></i> General information</a></li>
            <li><a href="#pr_funding_details" data-toggle="tab"><i class="icon-list"></i> Funding details</a></li>
            <li><a href="#pr_assigned_employees" data-toggle="tab"><i class="icon-user"></i> Employees</a></li>
            <li><a href="#pr_consortium_members" data-toggle="tab"><i class="icon-home"></i> Consortium members</a></li>

            {% if user.is_authenticated %}
                <a id="generate-email-from-info" class="btn btn-small btn-inverse tab-left-btn" href="../email/{{ project.slug }}"><i class="icon-envelope icon-white"></i> Generate email</a>
                <br>
                <a id="edit-from-info" class="btn btn-small btn-inverse tab-left-btn" href="../edit/{{ project.slug }}"><i class="icon-edit icon-white"></i> Edit</a>
            {% endif %}
        </ul>

        <div class="tab-content project-template">

            <!-- begin tab-pane #pr_general_info -->

            <div class="tab-pane active" id="pr_general_info">

                {% if project.logo %}
                    <div class="project-logo">
                        <img src="{{ MEDIA_URL }}{{ project.logo }}" height="150" />
                    </div>
                {% endif %}

                {% if project.homepage %}
                    <h5>Homepage:</h5>
                    <p>
                        <a target="_blank" href="{{ project.homepage }}">
                            {{ project.homepage }}
                        </a>
                    </p>
                    <br>
                {% endif %}

                <h5>Proyect type:</h5>
                <p>
                     {{ project.project_type }}
                </p>

                <br>

                <h5>Duration:</h5>
                <p>
                    {{ project.start_year }} - {{ project.end_year }}
                    <br>
                    {% ifequal project.status 'Not started' %}
                        <span class="label">{{ project.status }}</span>
                    {% endifequal %}
                    {% ifequal project.status 'In development' %}
                        <span class="label label-info">{{ project.status }}</span>
                    {% endifequal %}
                    {% ifequal project.status 'Finished' %}
                        <span class="label label-success">{{ project.status }}</span>
                    {% endifequal %}
                </p>

                <br>

                <h5>Description:</h5>
                <p>
                    {{ project.description }}
                </p>

                <br>

                {% if user.is_authenticated %}
                    {% if project.observations %}
                        <h5>Observations:</h5>
                        <p>
                            {{ project.observations }}
                        </p>
                    {% endif %}
                {% endif %}

            </div>

            <!-- end tab-pane #pr_general_info -->

            <!-- begin tab-pane #pr_funding_details -->

            <div class="tab-pane" id="pr_funding_details">

                {% if funding_program.logo %}
                    <div class="funding-program-logo">
                        <img src="{{ MEDIA_URL }}{{ funding_program.logo }}" />
                    </div>
                {% endif %}

                <h5>Supported by:</h5>
                <p>
                    {{ funding_program.full_name }}, {{ funding_program.organization.name }}
                </p>

                <br>

                <h5>Project code:</h5>
                <p>
                    {% if project.project_code %}
                        {{ project.project_code }}
                    {% else %}
                        No information available
                    {% endif %}
                </p>

                <br>

                <h5>Funding duration:</h5>
                <p>
                    {% if funding_program.concession_year %}
                        Funding conceeded in {{ funding_program.concession_year }}, to fund the {{ project.start_year }} - {{ project.end_year }} period.
                    {% else %}
                        No information available
                    {% endif %}
                </p>

                <br>

                <h5>Funding amount:</h5>
                {% if project.total_funds %}
                    <p>
                         The project is valued in {{ project.total_funds|intcomma|intword }} €, DeustoTech receiving {{ project.total_funds_deusto|intcomma|intword }} € in the following way:
                    </p>
                {% endif %}

                {% if funding_amounts %}
                    <ul>
                        {% for funding_amount in funding_amounts %}
                            <li><strong>Year {{ funding_amount.year }}:</strong> {{ funding_amount.amount|intcomma|intword }} €</li>
                        {% endfor %}
                    </ul>

                    <br>

                    <div id="chart-div">
                        <div id="chart_div" style="width: 850px; height: 500px;"></div>
                    </div>
                {% else %}
                    <p>
                        No information available
                    </p>
                {% endif %}

            </div>

            <!-- end tab-pane #pr_funding_details -->

            <!-- begin tab-pane #pr_assigned_employees -->

            <div class="tab-pane" id="pr_assigned_employees">

                {% if principal_researchers %}
                    <h5>Principal researcher{{ principal_researchers|pluralize }}:</h5>
                    <ul>
                        {% for principal_researcher in principal_researchers %}
                            <li>
                                <a target="_blank" href="{% url employee_info principal_researcher.slug %}">
                                    {{ principal_researcher.name }} {{ principal_researcher.first_surname }} {{ principal_researcher.second_surname }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>

                    <br>
                {% endif %}

                {% if project_managers %}
                    <h5>Project manager{{ project_managers|pluralize }}:</h5>
                    <ul>
                        {% for project_manager in project_managers %}
                            <li>
                                <a target="_blank" href="{% url employee_info project_manager.slug %}">
                                    {{ project_manager.name }} {{ project_manager.first_surname }} {{ project_manager.second_surname }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>

                    <br>
                {% endif %}

                {% if researchers %}
                    <h5>Researcher{{ researchers|pluralize }}:</h5>
                    <ul>
                        {% for researcher in researchers %}
                            <li>
                                <a target="_blank" href="{% url employee_info researcher.slug %}">
                                    {{ researcher.name }} {{ researcher.first_surname }} {{ researcher.second_surname }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

            </div>

            <!-- end tab-pane #pr_assigned_employees -->

            <!-- begin tab-pane #pr_consortium_members -->

            <div class="tab-pane" id="pr_consortium_members">

                <h5>Project leader:</h5>
                <ul>
                    <li>
                        <a target="_blank" href="{% url organization_info project.project_leader.slug %}">
                            {{ project.project_leader.name }}
                        </a>
                    </li>
                </ul>

                <br>

                {% if consortium_members %}
                    <h5>Consortium members:</h5>
                    <ul>
                        {% for consortium_member in consortium_members %}
                            <li>
                                <a target="_blank" href="{% url organization_info consortium_member.organization.slug %}">
                                    {{ consortium_member.organization.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

            </div>

            <!-- end tab-pane #pr_consortium_members -->

        </div>

    </div>

{% endblock %}

{% block scripts %}

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script>
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Year', 'Incomes'],
                {% for funding_amount in funding_amounts %}
                    ["{{ funding_amount.year }}", parseFloat({{ funding_amount.amount }})],
                {% endfor %}
            ]);

            var options = {
                title: 'Income breakdown',
            };

            // var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
            // var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>

{% endblock %}
