{% load humanize %}

<html>
    <body>

        <h2>
            {{ project.title }}
        </h2>

        {% if project.logo %}
            <img src="http://dev.morelab.deusto.es/{{ project.logo.url }}" width="150" />
        {% endif %}

        <p>
            <strong>Duration:</strong> {{ project.start_year }} - {{ project.end_year }}
        </p>

        {% if funding_program.name %}
            <p>
                <strong>Supported by:</strong> {{ funding_program.full_name }}, {{ funding_program.organization.name }}
            </p>
        {% endif %}

        {% if funding_program.concession_year %}
            <p>
                <strong>Conceeded in:</strong> {{ funding_program.concession_year }}, with a geographical scope for {{ funding_program.geographical_scope }}
            </p>
        {% endif %}

        {% if project.total_funds %}
            <p>
                <strong>Funding amount for DeustoTech:</strong> {{ project.total_funds_deusto|intcomma|intword }} €
                    (from a total project funding of {{ project.total_funds|intcomma|intword }})
            </p>
        {% endif %}

        {% if project_managers %}
            <p>
                <strong>Project manager{{ project_managers|pluralize }}:</strong>
                <ul>
                    {% for project_manager in project_managers %}
                        <li>{{ project_manager }}</li>
                    {% endfor %}
                </ul>
            </p>
        {% endif %}

        {% if principal_researchers %}
            <p>
                <strong>Principal researcher{{ principal_researchers|pluralize }}:</strong>
                <ul>
                    {% for principal_researcher in principal_researchers %}
                        <li>{{ principal_researcher }}</li>
                    {% endfor %}
                </ul>
            </p>
        {% endif %}

        <p>
            <strong>Consortium members:</strong>
            <ul>
                <li><strong>{{ project_leader.name }}</strong></li>
                {% for organization in consortium_members %}
                    <li>{{ organization }}</li>
                {% endfor %}
            </ul>
        </p>

        <p style="margin-top: 1em; margin-bottom: 1em;">
            {{ project.description }}
        </p>

        <p>
            For further information, please visit the <a href="{{ project.homepage }}">project's website</a>.
        </p>

        <div style="border-top: 3px solid #CCCCCC; width: 100%; margin-top: 1em; margin-bottom: 1em;"></div>

        <p>
            {{ project.observations }}
        </p>

    </body>
</html>
