{% extends "labman_ud/base.html" %}

{% block content %}

    <div class="row-fluid">

        <div class="span4">
            <form id="query-form" class="form-horizontal" action="" method="POST">
            {% csrf_token %}
                <fieldset>

                    {% for field in form %}

                        {% if field.label != 'And or' %}

                            {% if field.errors %}
                                <div class="control-group error">
                                    <label class="control-label" for="inputError">{{ field.label }}</label>
                                    <div class="controls">
                                        {{ field }}
                                        <span class="help-inline">{{ field.errors|striptags }}</span>
                                    </div>
                                </div>

                            {% else %}
                                <div class="control-group">
                                    <label class="control-label">{{ field.label }}</label>
                                    <div class="controls">
                                        {{ field }}
                                    </div>
                                </div>
                            {% endif %}

                        {% endif %}

                    {% endfor %}

                    <div class="control-group">
                        <label class="control-label">Authors relationship</label>
                        <div class="controls">
                            <label class="radio" for="id_and_or_0">
                                <input type="radio" name="and_or" id="id_and_or_0" value="AND" checked>
                                AND
                            </label>

                            <label class="radio" for="id_and_or_1">
                                <input type="radio" name="and_or" id="id_and_or_1" value="OR" checked>
                                OR
                            </label>
                        </div>
                    </div>

                    <button type="submit" name="submit" class="btn btn-primary center"><i class="fa fa-ok fa-white"></i> Query</button>

                </fieldset>
            </form>
        </div>

        <div class="span8" id="sparql-query">

            <p>
                SPARQL query to launch over the <a target="_blank" href="http://dev.morelab.deusto.es/sourceplanet/d2r/snorql/">SPARQL endpoint</a>
            </p>



            <div class="row-fluid">

                <div class="accordion" id="accordion">

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a id="sparql-title" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#sparql_query" onclick="changeTitle();">
                                <i class="fa fa-chevron-down"></i> Show SPARQL query
                            </a>
                        </div>

                        <div id="sparql_query" class="accordion-body collapse">
                            <div class="accordion-inner row-fluid">

                                <p class="alert alert-info">
                                    Prefixes are omitted because they are already included in the snorql configuration.
                                </p>

                                <pre>

    SELECT DISTINCT ?project WHERE
    {
        ?project rdf:type swrcfe:Project .
        {% if title != "" %}
        ?project dc:title ?title .
        FILTER regex(?title, "{{ title }}", "i") .
        {% endif %}
        {% if status != "Any" %}?project swrcfe:hasStatus "{{ status }}" .
        {% endif %}
    {% if scope != "All" %}?project swrcfe:hasFundingProgram ?fundingProgram .
        ?fundingProgram swrcfe:hasGeographicalScope "{{ scope }}" .
        {% endif %}
        ?project swrcfe:hasStartYear ?startYear .
        FILTER (?startYear >= "{{ start_year }}"^^xsd:gYear) .
        ?project swrcfe:hasEndYear ?endYear .
        FILTER (?endYear <= "{{ end_year }}"^^xsd:gYear) .
        {% if and_or == 'AND' %}{% for researcher in researchers %}
        ?project swrcfe:hasResearcher &lt;http://dev.morelab.deusto.es/sourceplanet/d2r/page/employee/{{ researcher.slug }}&gt; .{% endfor %}
        {% else %}{% for researcher in researchers %}
        { ?project swrcfe:hasResearcher &lt;http://dev.morelab.deusto.es/sourceplanet/d2r/page/employee/{{ researcher.slug }}&gt; }{% if not forloop.last %}
         UNION{% endif %}{% endfor %}{% endif %}
    }
                                </pre>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <br>

            <h6>{{ projects|length }} result{{ projects|pluralize }}:</h6>

            <table class="table table-striped">
                <tbody>
                    {% for project in projects %}
                        <tr>
                            <td>
                                <a target="_blank" href="{{ RDF_URI }}projects/{{ project.slug }}">
                                    <img class="rdf-icon" alt="RDF description" title="RDF description" width="16" src="{{ STATIC_PREFIX }}img/rdf.png"/>
                                </a>

                                <a target="_blank" href="{% url project_info project.slug %}">{{ project.full_name }}</a>
                            </td>
                        </tr>
                    {% empty %}
                        No projects match your query
                    {% endfor %}
                </tbody>
            </table>

        </div>

    </div>

{% endblock %}

{% block scripts %}

    <script>
        $(document).ready(function() {
            {% if and_or == 'AND' %}
                $("#id_and_or_0").attr('checked', 'checked');
            {% else %}
                $("#id_and_or_1").attr('checked', 'checked');
            {% endif %}

            $("#sparql-query").hide();
            {% if active %}
                $("#sparql-query").show();
            {% endif %}
        });
    </script>



    <script>
        $('#id_researchers').attr('size', 10);
    </script>



    <script>
        function changeTitle() {
            title = $('#sparql-title').html();
            if (title.indexOf('Show') !== -1) {
                $('#sparql-title').html('<i class="fa fa-chevron-up"></i> Hide SPARQL query');
            }
            else {
                $('#sparql-title').html('<i class="fa fa-chevron-down"></i> Show SPARQL query');
            }
        }
    </script>

    <script>
        $('#semantic-search-nav').addClass('active');
    </script>

{% endblock %}
