{% extends "members/info.html" %}
{% load staticfiles awardee_names %}



{% block member_content %}

    <div class="tab-pane active">

        {% if awards %}
            {% for key, value in awards.items %}
                <blockquote>
                    <p><i class="fa fa-calendar"></i>&emsp;{{ key }}</p>

                    <dl class="dl-horizontal">
                        {% for item in value %}
                            <dt class="day-number">{{ item.date|date:"d" }}</dt>
                            <dd class="news-title">
                                <a href="{% url 'award_info' item.slug %}">{{ item.full_name }}</a>
                                <small>
                                    {% awardee_names item %}
                                </small>
                            </dd>
                        {% endfor %}
                    </dl>
                </blockquote>
            {% endfor %}
        {% else %}
            <p>
                {{ member.full_name }} does not have any award yet.
            </p>
        {% endif %}

    </div>

{% endblock %}



{% block people_scripts %}

    <script>
        $('.member_biography').removeClass('btn-primary');
        $('.member_biography').addClass('btn-default');

        $('.member_awards').removeClass('btn-default');
        $('.member_awards').addClass('btn-primary');
    </script>

{% endblock %}
