{% extends "members/info.html" %}
{% load staticfiles %}



{% block member_content %}

<div class="centered">
    <h4><img src="{% static 'img/bibtex.png' %}" width="150" /></h4>
    <a href="{% url 'member_bibtex_download' member.slug %}"><img src="{% static 'img/document_download.png' %}" width="30"/> Download</a>
</div>
<br>
<pre>{{ bibtex }}</p>

{% endblock %}



{% block people_scripts %}

    <script>
        $('.member_biography').removeClass('btn-primary');
        $('.member_biography').addClass('btn-default');

        $('.member_publications').removeClass('btn-default');
        $('.member_publications').addClass('btn-primary');
    </script>

{% endblock %}
