{% extends "labman_ud/base.html" %}



{% block content %}

    <div class="centered">
        <h2>{{ former_members|length }} former member{{ former_members|pluralize }}</h2>
    </div>

    <br>

    <div class="row">
        {% for former_member in former_members %}

            {% if forloop.counter0|divisibleby:4 %}{% endif %}

                <div class="col-md-3 former_member" {% if forloop.counter0|divisibleby:4 %}style="margin-left:0;"{% endif %}>
                    <div class="centered">
                        {% if former_member.profile_picture_url %}
                            <img class="circular" src="{{ MEDIA_PREFIX }}{{ former_member.profile_picture_url }}"/>
                        {% else %}
                            {% if former_member.gender == 'Female' %}
                                <img class="circular" src="{{ STATIC_PREFIX }}img/female.png"/>
                            {% else %}
                                <img class="circular" src="{{ STATIC_PREFIX }}img/male.png"/>
                            {% endif %}
                        {% endif %}
                        <br>
                        <span class="member-name">{% if former_member.title %}{{former_member.title}} {% endif %}{{ former_member.full_name }}</span>
                        <br>
                        <span class="member-position">{{ former_member.position }}</span>
                    </div>
                </div>
        {% endfor %}
    </div>

{% endblock %}



{% block scripts %}

    <script>
        $('#members-nav').addClass('active');
    </script>

{% endblock %}
