{% extends "labman_ud/base.html" %}



{% block content %}

    <div class="pull-right">
        Filters:&emsp;
        <a href="{% url members_by_organization 'deustotech-internet' %}">
            <span class="label label-primary">DeustoTech - Internet</span>
        </a>
        &emsp;
        <a href="{% url members_by_organization 'deustotech-telecom' %}">
            <span class="label label-success">DeustoTech - Telecom</span>
        </a>
    </div>

    <br>

    <div class="centered">
        <h2>
            {% if organization_slug %}
                {{ members|length + 1 }}
            {% else %}
                {{ members|length + 2 }}
            {% endif %} member{{ members|pluralize }}
            {% if organization %}
             in <em>'{{ organization.short_name }}'</em>
            {% endif %}
        </h2>
    </div>

    <br>

    <div class="row">
        {% if not organization_slug or organization_slug == 'deustotech-internet' %}
            <div id="head_of_internet" class="col-md-3 member">
                <div class="centered">
                    <a href="{% url member_info head_of_internet.slug %}">
                        {% if head_of_internet.profile_picture_url %}
                            <img class="circular" src="{{ MEDIA_PREFIX }}{{ head_of_internet.profile_picture_url }}"/>
                        {% else %}
                            {% if head_of_internet.gender == 'Female' %}
                                <img class="circular" src="{{ STATIC_PREFIX }}img/female.png"/>
                            {% else %}
                                <img class="circular" src="{{ STATIC_PREFIX }}img/male.png"/>
                            {% endif %}
                        {% endif %}
                    </a>
                    <br>
                    <span class="member-name">
                        <a target="_blank" href="{{ RDF_URI }}persons/{{ head_of_internet.slug }}">&emsp;
                            <img class="rdf-icon" alt="RDF description" title="RDF description" width="14" src="{{ STATIC_PREFIX }}img/rdf.png"/>
                        </a>
                        {% if head_of_internet.title %}{{head_of_internet.title}} {% endif %}{{ head_of_internet.full_name }}
                    </span>
                    <br>
                    <span class="member-position">{{ head_of_internet.position }}</span>
                    <br>
                    <span class="label label-primary">DeustoTech - Internet</span>
                </div>
            </div>
        {% endif %}

        {% if not organization_slug or organization_slug == 'deustotech-telecom' %}
            <div id="head_of_telecom" class="col-md-3 member">
                <div class="centered">
                    <a href="{% url member_info head_of_telecom.slug %}">
                        {% if head_of_telecom.profile_picture_url %}
                            <img class="circular" src="{{ MEDIA_PREFIX }}{{ head_of_telecom.profile_picture_url }}"/>
                        {% else %}
                            {% if head_of_telecom.gender == 'Female' %}
                                <img class="circular" src="{{ STATIC_PREFIX }}img/female.png"/>
                            {% else %}
                                <img class="circular" src="{{ STATIC_PREFIX }}img/male.png"/>
                            {% endif %}
                        {% endif %}
                    </a>
                    <br>
                    <span class="member-name">
                        <a target="_blank" href="{{ RDF_URI }}persons/{{ head_of_telecom.slug }}">&emsp;
                            <img class="rdf-icon" alt="RDF description" title="RDF description" width="14" src="{{ STATIC_PREFIX }}img/rdf.png"/>
                        </a>
                        {% if head_of_telecom.title %}{{head_of_telecom.title}} {% endif %}{{ head_of_telecom.full_name }}
                    </span>
                    <br>
                    <span class="member-position">{{ head_of_telecom.position }}</span>
                    <br>
                    <span class="label label-success">DeustoTech - Telecom</span>
                </div>
            </div>
        {% endif %}

        <div>
            <a class="btn btn-large btn-primary pull-right" href="{% url former_members %}">Former members</a>
        </div>
    </div>

    <br>

    <div class="row">
        {% for member in members %}

            {% if forloop.counter0|divisibleby:4 %}{% endif %}

                <div class="col-md-3 member" {% if forloop.counter0|divisibleby:4 %}style="margin-left:0;"{% endif %}>
                    <div class="centered">
                        <a href="{% url member_info member.slug %}">
                            {% if member.profile_picture_url %}
                                <img class="circular" src="{{ MEDIA_PREFIX }}{{ member.profile_picture_url }}"/>
                            {% else %}
                                {% if member.gender == 'Female' %}
                                    <img class="circular" src="{{ STATIC_PREFIX }}img/female.png"/>
                                {% else %}
                                    <img class="circular" src="{{ STATIC_PREFIX }}img/male.png"/>
                                {% endif %}
                            {% endif %}
                        </a>
                        <br>
                        <span class="member-name">
                            <a target="_blank" href="{{ RDF_URI }}persons/{{ member.slug }}">&emsp;
                                <img class="rdf-icon" alt="RDF description" title="RDF description" width="14" src="{{ STATIC_PREFIX }}img/rdf.png"/>
                            </a>
                            {% if member.title %}{{member.title}} {% endif %}{{ member.full_name }}
                        </span>
                        <br>
                        <span class="member-position">{{ member.position }}</span>
                        <br>
                        {% if member.company == 'DeustoTech - Internet' %}
                            <span class="label label-primary">{{ member.company }}</span>
                        {% endif %}

                        {% if member.company == 'DeustoTech - Telecom' %}
                            <span class="label label-success">{{ member.company }}</span>
                        {% endif %}
                    </div>
                </div>
        {% endfor %}
    </div>

{% endblock %}



{% block scripts %}

    <script>
        $('#members-nav').addClass('active');
    </script>

    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/konami.js"></script>

    <script type="text/javascript">
        var success = function() {
            var images = $("img.circular").map(function () { return this; });

            {% for member_konami_profile_picture in member_konami_profile_pictures %}
                $.each(images, function(i) {
                    if (i == {{ forloop.counter0 }}) {
                        if ("{{ member_konami_profile_picture|safe }}" != "") {
                            images[i].src = "{{ MEDIA_PREFIX }}/{{ member_konami_profile_picture|safe }}";
                        }

                        if (images[i].src.indexOf("/img/female.png") >= 0) {
                            images[i].src = "{{ STATIC_PREFIX }}img/lovelace.png";
                        }

                        if (images[i].src.indexOf("/img/male.png") >= 0) {
                            images[i].src = "{{ STATIC_PREFIX }}img/einstein.png";
                        }
                    };
                });
            {% endfor %}

            var positions = $(".member-position").map(function () { return this; });

            {% for konami_position in member_konami_positions %}
                $.each(positions, function(i) {
                    if (i == {{ forloop.counter0 }}) {
                        if ("{{ konami_position|safe }}" != "") {
                            positions[i].innerHTML = "{{ konami_position|safe }}";
                        }
                    };
                });
            {% endfor %}
        };

        var konami = new Konami(success);

    </script>

{% endblock %}
