{% extends "labman_ud/base.html" %}



{% block content %}

    <div id="member-name">
        <h1>
            {% if member.title %}
                {{ member.title }}
            {% endif %}
            
            {{ member.full_name }}
        </h1>

        {% if position %}
            <p>
                {{ position }}
            </p>
        {% endif %}
    </div> <!-- end #member-name -->

    <br>

    <div class="tabbable">

        <div class="col-md-3">
            {% if member.profile_picture %}
                <img id="profile-picture" src="{{ MEDIA_PREFIX }}{{ member.profile_picture }}"/>
            {% else %}
                {% if member.gender == 'Female' %}
                    <img id="profile-picture" src="{{ STATIC_PREFIX }}img/female.png"/>
                {% else %}
                    <img id="profile-picture" src="{{ STATIC_PREFIX }}img/male.png"/>
                {% endif %}
            {% endif %}

            <div id="contact-member">
                {% if member.email %}
                    &emsp;<i class="icon-envelope-alt icon-large" style="color: #999;"></i>&emsp;<a href="mailto:{{ member.email }}">{{ member.email }}</a>
                    <br>
                {% endif %}

                {% if member.phone_number %}
                    <br>
                    &emsp;<i class="icon-phone icon-large" style="color: #999;"></i>&emsp;{{ member.phone_number }} - <strong>ext: </strong> {{ member.phone_extension }}
                    <br>
                {% endif %}

                {% if member.personal_website %}
                    <br>
                    &emsp;<i class="icon-globe icon-large" style="color: #999;"></i>&emsp;<a target="_blank" href="{{ member.personal_website }}">Personal website</a>
                    <br>
                {% endif %}

                <div class="soften"></div>
            </div> <!-- end #contact-member -->

            <ul id="member-tabs" class="nav nav-pills nav-stacked">
                <li class="active">
                    <a href="#member-biography-tab-pane" data-toggle="tab">
                        <i class="icon-user icon-large"></i>&emsp;Biography
                    </a>
                </li>

                <li>
                    <a href="#member-projects-tab-pane" data-toggle="tab">
                        <i class="icon-gears icon-large"></i>&emsp;Projects
                    </a>
                </li>

                {% if has_publications %}
                    <li>
                        <a href="#member-publications-tab-pane" data-toggle="tab">
                            <i class="icon-file-text-alt icon-large"></i>&emsp;Publications
                        </a>
                    </li>
                {% endif %}

                {% if accounts %}
                    <li>
                        <a href="#member-profiles-tab-pane" data-toggle="tab">
                            <i class="icon-cloud icon-large"></i>&emsp;Profiles
                        </a>
                    </li>
                {% endif %}

                <li>
                    <a href="#member-graphs-tab-pane" data-toggle="tab">
                        <i class="icon-bar-chart icon-large"></i>&emsp;Graphs
                    </a>
                </li>
            </ul> <!-- end #member-tabs -->
        </div> <!-- end .col-md-3 member section sidebar -->

        <div class="col-md-9">
            <div id="member-tab-content" class="tab-content">

                <div class="tab-pane active" id="member-biography-tab-pane">
                    {% if member.biography %}
                        {{ member.biography|safe }}
                    {% else %}
                        No biography... yet.
                    {% endif %}
                </div> <!-- end #member-biography-tab-pane .tab-pane -->

                <div class="tab-pane" id="member-projects-tab-pane">
                    {% include 'members/projects.html' %}
                </div> <!-- end #member-projects-tab-pane .tab-pane -->

                <div id="member-publications-tab-pane" class="tab-pane">
                    {% include 'members/publications.html' %}
                </div> <!-- end #member-publications-tab-pane .tab-pane -->

                <div id="member-profiles-tab-pane" class="tab-pane">
                    {% include 'members/profiles.html' %}
                </div> <!-- end #member-profiles-tab-pane .tab-pane -->

                <div id="member-graphs-tab-pane" class="tab-pane">
                    {% include 'members/graphs.html' %}
                </div> <!-- end #member-graphs-tab-pane .tab-pane -->

            </div> <!-- end #about-tab-content -->
        </div>
    </div> <!-- end .row .tabbable -->
    
{% endblock %}



{% block scripts %}

    <script>
        $('#members-nav').addClass('active');
    </script>

    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/konami.js"></script>

    <script>
        var success = function() {
            var image = document.getElementById("profile-picture");
            var image_source = image.src;
            
            if (image_source.indexOf("/media/persons/") >= 0) {
                var konami_source = image_source.replace("/media/persons/", "/media/konami_code_persons/");
                konami_source = konami_source.replace(".jpg", ".gif");
                konami_source = konami_source.replace(".png", ".gif");
                image.src = konami_source;
            }

            if (image_source.indexOf("/img/female.png") >= 0) {
                image.src = "/static/img/lovelace.png";
            }

            if (image_source.indexOf("/img/male.png") >= 0) {
                image.src = "/static/img/einstein.png";
            }
        };
    
        var konami = new Konami(success);
    </script>

{% endblock %}
