{% extends "labman_ud/base.html" %}



{% block content %}

    <div id="member-name">
        <h1 id="member-name">
            {% if member.title %}
                {{ member.title }}
            {% endif %}

            {{ member.full_name }}
        </h1>

        {% if position %}
            <p id="member-position">
                {{ position }}
            </p>
        {% endif %}
    </div> <!-- end #member-name -->

    <br>

    <div class="tabbable">

        <div class="col-md-3">
            {% if member.profile_picture %}
                <img id="profile-picture" src="{{ MEDIA_PREFIX }}{{ member.profile_picture }}"/>
            {% else %}
                {% if member.gender == 'Female' %}
                    <img id="profile-picture" src="{{ STATIC_PREFIX }}img/female.png"/>
                {% else %}
                    <img id="profile-picture" src="{{ STATIC_PREFIX }}img/male.png"/>
                {% endif %}
            {% endif %}

            <div id="member-company" class="centered">
                {% if company == 'DeustoTech - Internet' %}
                    <span class="label label-primary">{{ company }}</span>
                {% endif %}

                {% if company == 'DeustoTech - Telecom' %}
                    <span class="label label-success">{{ company }}</span>
                {% endif %}

                {% if company == 'MORElab' %}
                    <span class="label label-default">{{ company }}</span>
                {% endif %}
            </div>

            <div id="working-period" class="centered">
                {% if first_job.start_date %}
                    {{ first_job.start_date|date:"F, Y" }}
                {% else %}
                    ?
                {% endif %}
                &emsp;-&emsp;
                {% if last_job.end_date %}
                    {{ last_job.end_date|date:"F, Y" }}
                {% else %}
                    Present
                {% endif %}
            </div>

            <div id="contact-member">
                {% if member.is_active %}
                    {% if member.email %}
                        &emsp;<i class="fa fa-envelope-o fa-large" style="color: #999;"></i>&emsp;<a href="mailto:{{ member.email }}">{{ member.email }}</a>
                        <br>
                    {% endif %}

                    {% if member.phone_number %}
                        <br>
                        &emsp;<i class="fa fa-phone fa-large" style="color: #999;"></i>&emsp;{{ member.phone_number }}{% if member.phone_extension %} - <strong>ext: </strong> {{ member.phone_extension }}{% endif %}
                        <br>
                    {% endif %}
                {% endif %}



                {% if member.personal_website %}
                    <div class="personal-website">
                    &emsp;<i class="fa fa-globe fa-large" style="color: #999;"></i>&emsp;<a target="_blank" href="{{ member.personal_website }}">Personal website</a>
                    <div>
                {% endif %}
                <br>
                    <img class="rdf-icon" alt="RDF description" title="RDF description" width="14" src="{{ STATIC_PREFIX }}img/rdf.png"/><a target="_blank" href="{{ RDF_URI }}people/{{ member.slug }}">&emsp;RDF Description
                </a>

                <div class="soften"></div>
            </div> <!-- end #contact-member -->

            <ul id="member-tabs" class="nav nav-pills nav-stacked">
                <li class="member_biography active">
                    <a href="{% url member_info member.slug %}">
                        <i class="fa fa-user fa-large"></i>&emsp;Biography
                    </a>
                </li>

                <li class="member_projects">
                    <a href="{% url member_projects member.slug %}">
                        <i class="fa fa-gears fa-large"></i>&emsp;Projects
                    </a>
                </li>

                <li class="member_publications">
                    <a href="{% url member_publications member.slug %}">
                        <i class="fa fa-file-text-o fa-large"></i>&emsp;Publications
                    </a>
                </li>

                <li class="member_profiles">
                    <a href="{% url member_profiles member.slug %}">
                        <i class="fa fa-cloud fa-large"></i>&emsp;Profiles
                    </a>
                </li>

                <li class="member_graphs">
                    <a href="{% url member_graphs member.slug %}">
                        <i class="fa fa-bar-chart-o fa-large"></i>&emsp;Graphs
                    </a>
                </li>
            </ul> <!-- end #member-tabs -->
        </div> <!-- end .col-md-3 member section sidebar -->

        <div class="col-md-9">
            <div id="member-tab-content" class="tab-content">

                {% block member_content %}
                    <div class="tab-pane active" id="member-biography-tab-pane">
                        {% if member.biography %}
                            {{ member.biography|safe }}
                        {% else %}
                            No biography... yet.
                        {% endif %}
                    </div>
                {% endblock %}

            </div> <!-- end #about-tab-content -->
        </div>
    </div> <!-- end .row .tabbable -->

{% endblock %}



{% block scripts %}

    <script>
        $('#members-nav').addClass('active');
    </script>

    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/konami.js"></script>

    <script>
        var success = function() {
            var image = document.getElementById("profile-picture");
            var image_source = image.src;

            if (image_source.indexOf("/media/persons/") >= 0) {
                image.src = "{{ MEDIA_PREFIX }}/{{ member.profile_konami_code_picture }}";
            }

            if (image_source.indexOf("/img/female.png") >= 0) {
                image.src = "/static/img/lovelace.png";
            }

            if (image_source.indexOf("/img/male.png") >= 0) {
                image.src = "/static/img/einstein.png";
            }

            var name = document.getElementById("member-name");

            if ("{{ member.gender }}" == "Female") {
                name.innerHTML = name.innerHTML.replace("Dr.", "Lady");
            }
            else {
                name.innerHTML = name.innerHTML.replace("Dr.", "Lord");
            }

            var position = document.getElementById("member-position");

            if ("{{ member.konami_code_position|safe }}" != "") {
                position.innerHTML = "{{ member.konami_code_position|safe }}";
            }
        };

        var konami = new Konami(success);
    </script>

    {% block people_scripts %}{% endblock %}

{% endblock %}
