{% extends "labman_ud/base.html" %}



{% block content %}

    <div class="pull-right">
        Filters:&emsp;
        <a href="{% url members_by_organization 'deustotech-internet' %}">
            <span class="label label-primary">DeustoTech - Internet</span>
        </a>
        &emsp;
        <a href="{% url members_by_organization 'deustotech-telecom' %}">
            <span class="label label-success">DeustoTech - Telecom</span>
        </a>
    </div>

    <br>

    <div class="centered">
        <h2>
            {% if organization_slug %}
                {{ members|length|add:"1" }}
            {% else %}
                {{ members|length|add:"2" }}
            {% endif %} member{{ members|pluralize }}
            {% if organization %}
             in <em>'{{ organization.short_name }}'</em>
            {% endif %}
        </h2>
    </div>

    <br>

    <div class="row">
        {% if not organization_slug or organization_slug == 'deustotech-internet' %}
            <div id="head_of_internet" class="col-md-3 member">
                <div class="centered">
                    <a href="{% url member_info head_of_internet.slug %}">
                        {% if head_of_internet.profile_picture_url %}
                            <img class="head-internet-image" src="{{ MEDIA_PREFIX }}{{ head_of_internet.profile_picture_url }}"/>
                        {% else %}
                            {% if head_of_internet.gender == 'Female' %}
                                <img class="head-internet-image" src="{{ STATIC_PREFIX }}img/female.png"/>
                            {% else %}
                                <img class="head-internet-image" src="{{ STATIC_PREFIX }}img/male.png"/>
                            {% endif %}
                        {% endif %}
                    </a>
                    <br>
                    <span class="head-internet-name">
                        <a target="_blank" href="{{ RDF_URI }}people/{{ head_of_internet.slug }}">&emsp;
                            <img class="rdf-icon" alt="RDF description" title="RDF description" width="14" src="{{ STATIC_PREFIX }}img/rdf.png"/>
                        </a>
                        {% if head_of_internet.title %}{{head_of_internet.title}} {% endif %}{{ head_of_internet.full_name }}
                    </span>
                    <br>
                    <span class="head-internet-position">{{ head_of_internet.position }}</span>
                    <br>
                    <span class="label label-primary">DeustoTech - Internet</span>
                </div>
            </div>
        {% endif %}

        {% if not organization_slug or organization_slug == 'deustotech-telecom' %}
            <div id="head_of_telecom" class="col-md-3 member">
                <div class="centered">
                    <a href="{% url member_info head_of_telecom.slug %}">
                        {% if head_of_telecom.profile_picture_url %}
                            <img class="head-telecom-image" src="{{ MEDIA_PREFIX }}{{ head_of_telecom.profile_picture_url }}"/>
                        {% else %}
                            {% if head_of_telecom.gender == 'Female' %}
                                <img class="head-telecom-image" src="{{ STATIC_PREFIX }}img/female.png"/>
                            {% else %}
                                <img class="head-telecom-image" src="{{ STATIC_PREFIX }}img/male.png"/>
                            {% endif %}
                        {% endif %}
                    </a>
                    <br>
                    <span class="head-telecom-name">
                        <a target="_blank" href="{{ RDF_URI }}people/{{ head_of_telecom.slug }}">&emsp;
                            <img class="rdf-icon" alt="RDF description" title="RDF description" width="14" src="{{ STATIC_PREFIX }}img/rdf.png"/>
                        </a>
                        {% if head_of_telecom.title %}{{head_of_telecom.title}} {% endif %}{{ head_of_telecom.full_name }}
                    </span>
                    <br>
                    <span class="head-telecom-position">{{ head_of_telecom.position }}</span>
                    <br>
                    <span class="label label-success">DeustoTech - Telecom</span>
                </div>
            </div>
        {% endif %}

        <div>
            <a class="btn btn-large btn-primary pull-right" href="{% url former_members %}">
                <i class="fa fa-step-backward"></i>&emsp;Former members
            </a>
            <div class="col-md-3 pull-right">
                <input name="text" maxlength="50" placeholder="Member name" type="text" class="form-control" id="search_box" />
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        {% for member in members %}

            {% if forloop.counter0|divisibleby:4 %}{% endif %}

                <div class="col-md-3 member" {% if forloop.counter0|divisibleby:4 %}style="margin-left:0;"{% endif %}>
                    <div class="centered">
                        <a href="{% url member_info member.slug %}">
                            {% if member.profile_picture_url %}
                                <img class="circular" src="{{ MEDIA_PREFIX }}{{ member.profile_picture_url }}"/>
                            {% else %}
                                {% if member.gender == 'Female' %}
                                    <img class="circular" src="{{ STATIC_PREFIX }}img/female.png"/>
                                {% else %}
                                    <img class="circular" src="{{ STATIC_PREFIX }}img/male.png"/>
                                {% endif %}
                            {% endif %}
                        </a>
                        <br>
                        <span class="member-name">
                            <a target="_blank" href="{{ RDF_URI }}people/{{ member.slug }}">&emsp;
                                <img class="rdf-icon" alt="RDF description" title="RDF description" width="14" src="{{ STATIC_PREFIX }}img/rdf.png"/>
                            </a>
                            {% if member.title %}{{member.title}} {% endif %}{{ member.full_name }}
                        </span>
                        <br>
                        <span class="member-position">{{ member.position }}</span>
                        <br>
                        {% if member.company == 'DeustoTech - Internet' %}
                            <span class="label label-primary">{{ member.company }}</span>
                        {% endif %}

                        {% if member.company == 'DeustoTech - Telecom' %}
                            <span class="label label-success">{{ member.company }}</span>
                        {% endif %}
                    </div>
                </div>
        {% endfor %}
    </div>

{% endblock %}



{% block scripts %}

    <script>
        $('#members-nav').addClass('active');
    </script>

    <script>
        // If activated, in mobile phones it scrolls down, which is kind of weird
        // $('#search_box').focus();
        $('#search_box').keyup( function(e) {
            // If up or down arrows are pressed, don't disturb the konami fun :-)
            if (e.keyCode == 38 || e.keyCode == 40) {
                console.log("gotcha");
                $("#search_box").focusout();
                $("#search_box").blur();
            }
            var current_value = $(this).val().toLowerCase();
            if (current_value == "") {
                $(".member").show();
            } else {
                $(".member").each(function(pos, element) {
                    var $member = $(element).find("span");
                    var link = $member.find("a").attr("href");
                    if (link != undefined) {
                        link = link.split("people/")[1];
                    } else {
                        link = "";
                    }
                    var full_name = $.trim($member.text());
                    if (link.toLowerCase().indexOf(current_value) >= 0 || full_name.toLowerCase().indexOf(current_value) >= 0) {
                        $(element).show();
                    } else {
                        $(element).hide();
                    }
                });
            }
        });
    </script>

    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/konami.js"></script>

    <script type="text/javascript">
        var success = function() {
            var images = $("img.circular").map(function () { return this; });


                $.each(images, function(i) {
                    {% for member_konami_profile_picture in member_konami_profile_pictures %}
                    if (i == {{ forloop.counter0 }}) {
                        {% if member_konami_profile_picture|safe %}
                        images[i].src = "{{ MEDIA_PREFIX }}/{{ member_konami_profile_picture|safe }}";
                        {% else %}
                        if (images[i].src.indexOf("/img/female.png") >= 0) {
                            images[i].src = "{{ STATIC_PREFIX }}img/lovelace.png";
                        }

                        if (images[i].src.indexOf("/img/male.png") >= 0) {
                            images[i].src = "{{ STATIC_PREFIX }}img/einstein.png";
                        }
                        {% endif %}
                    };
                    {% endfor %}
                });


            var positions = $(".member-position").map(function () { return this; });

            {% for konami_position in member_konami_positions %}
                $.each(positions, function(i) {
                    if (i == {{ forloop.counter0 }}) {
                        if ("{{ konami_position|safe }}" != "") {
                            positions[i].innerHTML = "{{ konami_position|safe }}";
                        }
                    };
                });
            {% endfor %}


            var head_of_internet = {{ head_of_internet|safe }};

            var head_of_internet_image = $(".head-internet-image");
            var profile_konami_code_picture = head_of_internet['profile_konami_code_picture'];

            if (profile_konami_code_picture != "") {
                head_of_internet_image.attr("src", "{{ MEDIA_PREFIX }}" + profile_konami_code_picture);
            };

            var head_of_internet_position = $(".head-internet-position");
            var konami_code_position = head_of_internet['konami_code_position'];

            if (konami_code_position != '') {
                head_of_internet_position.text(konami_code_position);
            };


            var head_of_telecom = {{ head_of_telecom|safe }};

            var head_of_telecom_image = $(".head-telecom-image");
            var profile_konami_code_picture = head_of_telecom['profile_konami_code_picture'];

            if (profile_konami_code_picture != "") {
                head_of_telecom_image.attr("src", "{{ MEDIA_PREFIX }}" + profile_konami_code_picture);
            }

            var head_of_telecom_position = $(".head-telecom-position");
            var konami_code_position = head_of_telecom['konami_code_position'];

            if (konami_code_position != '') {
                head_of_telecom_position.text(konami_code_position);
            }
        };

        var konami = new Konami(success);

    </script>

{% endblock %}
