{% extends "members/info.html" %}
{% load staticfiles %}



{% block header_css %}

    <link rel="stylesheet" href="{% static 'css/bootstrap-table.min.css' %}" />

{% endblock %}



{% block member_content %}

    <div class="tab-pane active">

        <div class="rss-link pull-left">
            <a href="{% url 'member_feeds_news' member.slug %}">
                <i class="fa fa-rss"></i>&emsp;Subscribe
            </a>
        </div>

        {% if news %}
            <table class="table table-condensed table-bordered table-striped table-responsive" data-toggle="table" data-search="true" data-pagination="true">
                <thead>
                    <th data-field="date" data-sortable="true">Date</th>
                    <th>Title</th>
                </thead>

                <tbody>
                    {% for item in news %}
                        <tr>
                            <td>{{ item.created|date:"d M, Y" }}</td>
                            <td>
                                <a href="{% url 'view_news' item.slug %}">
                                    {{ item.title }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        {% else %}

            <p>
                {{ member.full_name }} does not have any News item yet.
            </p>

        {% endif %}

    </div>

{% endblock %}



{% block people_scripts %}

    <script src="{% static 'js/bootstrap-table.min.js' %}"></script>

    <script>
        function queryParams() {
            return {
                type: 'owner',
                sort: 'updated',
                direction: 'desc',
                per_page: 100,
                page: 1
            };
        };

        $('ul.pagination').addClass('pagination-sm');
    </script>

{% endblock %}
