
{% for key, value in projects.items %}
    {% if value %}

        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#section_{{ forloop.counter }}">
                    {{ key }} in {{ value|length }} project{{ value|pluralize }}
                </a>
            </div>

            <div id="section_{{ forloop.counter }}" class="accordion-body collapse {% if forloop.counter == 1 %}in{% endif %}">
                <div class="accordion-inner row-fluid">

                    <table class="table table-striped">
                        <tbody>
                            {% for item in value %}
                                <tr>
                                    <td>
                                        <a href="{% url project_info item.slug %}">
                                            <i class="icon-chevron-right"></i> {{ item.full_name }}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    {% endif %}
{% endfor %}
