{% for key, value in projects.items %}
    {% if value %}

        <div class="panel panel-primary">
            <div class="panel-heading">
                {{ key }} in {{ value|length }} project{{ value|pluralize }}
            </div>

            <table class="table table-striped table-hover">
                <thead>
                    <th>Project name</th>

                    <th>Start</th>

                    <th>End</th>
                </thead>

                <tbody>
                    {% for item in value %}
                        <tr>
                            <td>
                                <a href="{% url project_info item.slug %}">
                                    &emsp;<i class="icon-chevron-right"></i>&emsp;{{ item.full_name }}
                                </a>
                            </td>

                            <td>
                                {{ item.start_year }}
                            </td>

                            <td>
                                {{ item.end_year }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <br>

    {% endif %}
{% endfor %}
