{% extends "members/info.html" %}
{% load staticfiles %}



{% block member_content %}

    <div class="tab-pane active">

        {% if has_projects %}

            {% for role_name, project_list in projects.items %}
                {% if project_list %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-circle fa-circle-{{ role_name|slugify }}"></i>
                            &emsp;
                            <strong>{{ role_name }}</strong> in {{ project_list|length }} project{{ project_list|pluralize }}

                            <a href="#panel-{{ role_name|slugify }}" class="pull-right" data-toggle="collapse" aria-expanded="true" aria-controls="panel-{{ role_name|slugify }}">
                                <span class="badge">
                                    Toggle collapse
                                </span>
                            </a>
                        </div>

                        <div id="panel-{{ role_name|slugify }}" class="pannel-collapse collapse in panel-body row">
                            <table class="table table-striped table-bordered table-hover table-responsive">
                                <thead>
                                    <tr>
                                        <th class="col-md-8">Title</th>
                                        <th class="col-md-2">Period</th>
                                        <th class="col-md-2">Type</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for project in project_list %}
                                        <tr class="vertical-alignment">
                                            <td class="col-md-8">
                                                <a href="{% url 'project_info' project.slug %}">
                                                    {{ project.full_name }}
                                                </a>
                                            </td>

                                            <td class="col-md-2">
                                                {{ project.start_year }} - {{ project.end_year }}
                                                <a href="{% url 'view_project_status' project.status|slugify %}">
                                                    <i title="{{ project.status }}" class="fa fa-circle status-{{ project.status|slugify }}"></i>
                                                </a>
                                            </td>

                                            <td class="col-md-2">
                                                <a href="{% url 'view_project_type' project.project_type|slugify %}">
                                                    {{ project.project_type }}
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

    </div>

{% endblock %}



{% block people_scripts %}

    <script>
        $('.member_biography').removeClass('btn-primary');
        $('.member_biography').addClass('btn-default');

        $('.member_projects').removeClass('btn-default');
        $('.member_projects').addClass('btn-primary');
    </script>

    <script>
        {% for role_name, project_list in projects.items %}
            {% for role in roles %}
                {% if role_name == role.name %}
                    $('.fa-circle-{{ role.slug }}').css('color', '#{{ role.rgb_color }}');
                {% endif %}
            {% endfor %}
        {% endfor %}
    </script>

{% endblock %}
