{% extends "members/info.html" %}
{% load staticfiles %}
{% load sanitize_types %}



{% block header_css %}

    <link rel="alternate" type="application/atom+xml" title="Atom feed" href="{% url 'member_feeds_publications' member.slug %}">

{% endblock %}



{% block member_content %}

   {% if has_publications %}
        <div class="row">
            <a class="col-md-2 col-md-offset-1 btn btn-default btn-sm" href="{% url 'member_bibtex' member.slug %}">
                <i class="fa fa-files-o"></i>&emsp;BibTeX
            </a>

            <a class="col-md-2 btn btn-default btn-sm" href="{% url 'tags_by_author' member.slug %}">
                <i class="fa fa-tags"></i>&emsp;Tag cloud
            </a>

            <a class="col-md-2 btn btn-default btn-sm" href="{% url 'publications_by_author' member.slug %}">
                <i class="fa fa-bar-chart-o"></i>&emsp;Timeline
            </a>

            <a class="col-md-2 btn btn-default btn-sm" href="{% url 'publications_egonetwork' member.slug %}">
                <i class="fa fa-users"></i>&emsp;Egonetwork
            </a>

            <a class="col-md-2 btn btn-default btn-sm" href="{% url 'member_feeds_publications' member.slug %}">
                <i class="fa fa-rss"></i>&emsp;Subscribe
            </a>
        </div>
        <br>
    {% endif %}

    <div class="tab-pane active">
        {% if has_publications %}

            {% for key, value in publications.items %}
                {% if value %}

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            {{ value|length }} {{ key|sanitize|lower }}{{ value|pluralize }}
                        </div>

                        <table class="table table-striped table-hover">
                            <thead>
                                <th>Title</th>

                                <th>Year</th>

                                <th>Cite</th>

                                <th><i class="fa fa-download"></i></th>
                            </thead>

                            <tbody>
                                {% for item in value %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'publication_info' item.slug %}">
                                                &emsp;<i class="fa fa-chevron-right"></i>&emsp;{{ item.title }}
                                            </a>
                                            <br>
                                            &emsp;<small>
                                                {{ item.authors }}.
                                                <br>
                                                &emsp;&emsp;<b>{{ item.parent_title }}.</b>
                                            </small>
                                        </td>

                                        <td>
                                            {{ item.year }}
                                        </td>

                                        <td>
                                            {% if item.bibtex %}
                                                <a data-toggle="modal" href="#myModal_{{ key|slugify }}_{{ forloop.counter }}">
                                                    <i class="fa fa-paperclip fa-2x"></i>
                                                </a>

                                                <div class="modal fade" id="myModal_{{ key|slugify }}_{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                            <h4 class="modal-title"><img src="{% static 'img/bibtex.png' %}" width="150" /></h4>
                                                        </div>

                                                        <div class="modal-body">
                                                        <pre style="text-align: left;">{{ item.bibtex }}</pre>
                                                        </div>

                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        </div>
                                                        </div><!-- /.modal-content -->
                                                    </div><!-- /.modal-dialog -->
                                                </div><!-- /.modal -->
                                            {% endif %}
                                        </td>

                                        <td>
                                            {% if item.pdf %}
                                                <a target="_blank" href="{{ MEDIA_URL }}{{ item.pdf }}">
                                                    <i class="fa fa-file-text fa-2x"></i>
                                                </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <br>

                {% endif %}
            {% endfor %}
            {% if has_thesis %}

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        {{ thesis|length }} PhD dissertation{{ thesis|pluralize }}
                    </div>

                    <table class="table table-striped table-hover">
                        <thead>
                            <th>Title</th>

                            <th>Year</th>

                            <th><i class="fa fa-download"></i></th>
                        </thead>

                        <tbody>
                            {% for item in thesis %}
                                <tr>
                                    <td>
                                        <a href="{% url 'member_phd_dissertation' member.slug %}">
                                            &emsp;<i class="fa fa-chevron-right"></i>&emsp;{{ item.title }}
                                        </a>
                                        <br>
                                        &emsp;<small>
                                            {{ item.author }}.
                                        </small>
                                    </td>

                                    <td>
                                        {{ item.year }}
                                    </td>

                                    <td>
                                        {% if item.pdf %}
                                            <a target="_blank" href="{{ MEDIA_URL }}{{ item.pdf }}">
                                                <i class="fa fa-file-text fa-2x"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <br>


            {% endif %}
        {% else %}
            <p>
                {{ member.full_name }} has not published anything yet.
            </p>
        {% endif %}
    </div>

{% endblock %}



{% block people_scripts %}

    <script>
        $('.member_biography').removeClass('btn-primary');
        $('.member_biography').addClass('btn-default');

        $('.member_publications').removeClass('btn-default');
        $('.member_publications').addClass('btn-primary');
    </script>

{% endblock %}
