{% extends "projects_morelab/base.html" %}
{% load i18n %}

{% block content %}

    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}

        <legend>Add a new employee</legend>

        <br>

        <fieldset>
            {% for field in form %}
                <div class="control-group">
                    <label class="control-label">{{ field.label }}</label>
                    <div class="controls">
                        {{ field }}
                    </div>
                </div>
            {% endfor %}

            <div class="form-actions">
                <button type="submit" name="submit" class="btn btn-primary">Add</button>
                <button type="reset" class="btn">Clean</button>
                <a class="btn btn-danger" href="{% url employee_index %}">Cancel</a>
            </div>
        </fieldset>
    </form>

{% endblock %}

{% block scripts %}
{% endblock %}
