{% extends "projects_morelab/base.html" %}
{% load i18n %}

{% block content %}

    <div class="center">
        <a class="btn btn-info" href="{% url add_employee %}">Add employee</a>
    </div>

    <div class="pagination">
        <span class="step-links">
            {% if employees.has_previous %}
                <a href="?page={{ employees.previous_page_number }}"><< previous</a>
            {% endif %}

            <span class="current">
                Page {{ employees.number }} of {{ employees.paginator.num_pages }}
            </span>

            {% if employees.has_next %}
                <a href="?page={{ employees.next_page_number }}">next >></a>
            {% endif %}
        </span>
    </div>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Full name</th>
                <th>FOAF</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for employee in employees %}
                <tr>
                    <td>
                        <a href="info/{{ employee.slug }}">
                            {% if employee.external %}
                                <i class="icon-road"></i>
                            {% endif %}
                            {{ employee.name }} {{ employee.first_surname }} {{ employee.second_surname }}
                        </a>
                        {% if employee.external %}
                            <a target="_blank" href="{% url info_organization employee.organization.slug%}">
                                " ({{ employee.organization.name }})"
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if employee.foaf_link %}
                            <a target="_blank" href="{{ employee.foaf_link }}">View</a>
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-mini btn-inverse" href="edit/{{ employee.slug }}">Edit</a>
                        <a class="btn btn-mini btn-danger" href="{% url delete_employee employee.slug %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block scripts %}
{% endblock %}
