{% extends "labman_ud/base.html" %}
{% load pagination_tags staticfiles %}



{% block header_css %}

    <link rel="stylesheet" href="{% static 'css/bootstrap-table.min.css' %}" />

{% endblock %}



{% block content %}

    <div class="row">
        <div class="col-md-8">
            <h2>{{ funding_programs_length }} funding program{{ funding_programs|pluralize }}</h2>
        </div>

        <div class="col-md-4">
            {% autopaginate funding_programs %}

            {% paginate %}
        </div>
    </div>

    <div class="row">
        <table class="table table-striped table-bordered table-hover table-responsive" data-toggle="table" data-search="true">
            <thead>
                <tr>
                    <th class="col-md-8" data-field="name" data-sortable="true">Name</th>
                    <th class="col-md-4" data-field="funded_by" data-sortable="true">Funded by</th>
                </tr>
            </thead>

            <tbody>
                {% for funding_program in funding_programs %}
                    <tr class="vertical-alignment">
                        <td class="col-md-8">
                            <a href="{% url 'funding_program_info' funding_program.slug %}" data-toggle="tooltip" data-placement="bottom" title="{{ funding_program.full_name }}">
                                {{ funding_program.short_name }}
                            </a>
                            {% if funding_program.short_name != funding_program.full_name %}
                                <br>
                                &emsp;<small class="text-muted">{{ funding_program.full_name }}</small>
                            {% endif %}
                        </td>

                        <td class="col-md-4">
                            <a href="{% url 'organization_info' funding_program.organization.slug %}">
                                {{ funding_program.organization.full_name }}

                                {% if funding_program.organization.sub_organization_of %}
                                    ({{ funding_program.organization.sub_organization_of.full_name }})
                                {% endif %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}



{% block scripts %}

    <script>
        $('.pagination').addClass('pagination-sm');
    </script>

    <script src="{% static 'js/bootstrap-table.min.js' %}"></script>

    <script>
        function queryParams() {
            return {
                type: 'owner',
                sort: 'updated',
                direction: 'desc',
                per_page: 100,
                page: 1
            };
        };
    </script>

{% endblock %}
