{% extends "labman_ud/base.html" %}
{% load staticfiles %}



{% block content %}

    <ol class="breadcrumb">
        <li>
            <a href="{% url 'funding_program_index' %}">Funding programs</a>
        </li>

        <li class="active">
            {{ funding_program.short_name }}
        </li>
    </ol>

    <div class="entity-info-content">
        <blockquote>
            <p>
                {{ funding_program.full_name }}
            </p>

            <footer>
                <strong>Geographical area:</strong>&nbsp;{{ funding_program.geographical_scope }}
                <br>
                <strong>Supported by:</strong>&nbsp;{{ funding_program.organization.full_name }}
                {% if funding_program.organization.sub_organization_of %}
                    &nbsp;({{ funding_program.organization.sub_organization_of.full_name }})
                {% endif %}
            </footer>
        </blockquote>

        <div class="row">
            <div class="col-md-3 centered">
                {% for logo_item in funding_program_logos %}
                    <img class="funding-program-logo" src="{{ MEDIA_URL }}{{ logo_item.logo }}" title="{{ logo_item.name }}"/>
                    <br>
                {% endfor %}
            </div>

            <div id="chart-container" class="col-md-9">
                <div id="chart_div"></div>
            </div>
        </div>

        <br>

        <div class="row">
            <table class="table table-striped table-bordered table-hover table-responsive">
                <thead>
                    <tr>
                        <th class="col-md-8">Title</th>
                        <th class="col-md-2">Period</th>
                        <th class="col-md-2">Type</th>
                    </tr>
                </thead>

                <tbody>
                    {% for project in projects %}
                        <tr class="vertical-alignment">
                            <td class="col-md-8">
                                <a href="{% url 'project_info' project.slug %}">
                                    {{ project.full_name }}
                                </a>
                            </td>

                            <td class="col-md-2">
                                {{ project.start_year }} - {{ project.end_year }}
                                <a href="{% url 'view_project_status' project.status|slugify %}">
                                    <i title="{{ project.status }}" class="fa fa-circle status-{{ project.status|slugify }}"></i>
                                </a>
                            </td>

                            <td class="col-md-2">
                                <a href="{% url 'view_project_type' project.project_type|slugify %}">
                                    {{ project.project_type }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}



{% block scripts %}

    <script src="{% static 'js/google-charts.js' %}"></script>

    <script>
        var custom_width = $('#chart-container').width() - 50;
        $('#chart-div').width(custom_width);
        $('#chart-div').height(custom_width * 0.6);

        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Year', 'Number of projects', 'Funding amount'],

                {% for data in datum %}
                    {{ data }},
                {% endfor %}
            ]);

            var options = {
                vAxes: {
                    0: {
                        minValue: 0,
                        maxValue: 4 + 1,
                        format: '#'
                    },
                },
                hAxis: {
                    minValue: {{ min_year }},
                    maxValue: {{ max_year }},
                    format: '#'
                },
                series: {
                    0: { type: "bars", targetAxisIndex: 0 },
                    1: { type: "line", targetAxisIndex: 1}
                },
                colors: ['lightgrey', 'black']
            };

            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        };
    </script>

{% endblock %}
