{% extends "labman_ud/base.html" %}
{% load pagination_tags %}



{% block content %}

    <div class="centered">
        {% if clean_index %}
            <h2>{{ publications_length }} publication{{ publications|pluralize }}</h2>
        {% else %}
            {% if tag %}
                <h2>{{ publications_length }} publication{{ publications|pluralize }} with tag <em>'{{ tag.name }}'</em>
            {% elif publication_type %}
                <h2>{{ publications_length }} publication{{ publications|pluralize }} with type <em>'{{ publication_type.name }}'</em>
            {% elif query_string %}
                <h2>{{ publications_length }} publication{{ publications|pluralize }} found for <em>'{{ query_string }}'</em>
            {% endif %}
            &emsp;<small><a id="clean-filters" href="{% url publication_index %}">Clean filters</a></small></h2>
        {% endif %}
    </div>

    <br>

    <div class="row">
        <form class="form-search" action="" method="post">
            {% csrf_token %}
            <div class="col-md-4">
                {{ form.text }}
            </div>

            <div class="col-md-2">
                <button type="submit" class="btn btn-primary">Search publications</button>
            </div>
        <form>

        <div class="col-md-2 pull-right">
            <a href="{% url publication_tag_cloud %}" class="btn btn-info">
                <i class="icon icon-cloud icon-large"></i>&emsp;View tag cloud
            </a>
        </div>
    </div>

    {% autopaginate publications %}

    {% paginate %}

    <br>

    <div class="row">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th class="col-md-7">Title</th>
                    <th class="col-md-1">Year</th>
                    <th class="col-md-2">Type</th>
                    <th class="col-md-1">BibTeX</th>
                    <th class="col-md-1">PDF</th>
                </tr>
            </thead>

            <tbody>
                {% for publication in publications %}
                    <tr>
                        <td class="col-md-7">
                            <a target="_blank" href="http://dev.morelab.deusto.es/sourceplanet/d2r/resource/publication/{{ publication.slug }}">
                                <img class="rdf-icon" alt="RDF description" title="RDF description" width="16" src="{{ STATIC_PREFIX }}img/rdf.png"/>
                            </a>
                            <a href="{% url publication_info publication.slug %}">
                                {{ publication.title }}
                            </a>

                            <br>

                            &emsp;<small>
                                {% for author in publication.publicationauthor_set.all|dictsort:'position' %}
                                    {{ author.author.full_name }}{% if not forloop.last %},{% endif %}
                                {% endfor %}
                            </small>


                        </td>

                        <td class="col-md-1 centered">
                            {{ publication.year }}
                        </td>

                        <td class="col-md-2">
                            <a href="{% url view_publication_type publication.publication_type.slug %}">
                                {{ publication.publication_type.name }}
                            </a>
                        </td>

                        <td class="col-md-1 centered">
                            {% if publication.bibtex %}
                                <a data-toggle="modal" href="#myModal">
                                    <i class="icon-paperclip icon-2x"></i>
                                </a>

                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title"><img src="{{ STATIC_PREFIX }}img/bibtex.png" width="150" /></h4>
                                        </div>

                                        <div class="modal-body">
                                        <pre style="text-align: left;">
{{ publication.bibtex }}
                                        </pre>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->
                            {% endif %}
                        </td>

                        <td class="col-md-1 centered">
                            {% if publication.pdf %}
                                <a target="_blank" href="{{ MEDIA_PREFIX }}{{ publication.pdf }}">
                                    <i class="icon-file-text icon-2x"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}



{% block scripts %}

    <script>
        $('#publications-nav').addClass('active');
    </script>

{% endblock %}
