{% extends "labman_ud/base.html" %}
{% load pagination_tags sanitize_types staticfiles get_range string_list%}



{% block content %}
    <div id="form-section">
        <form class="form-search" action="" method="post">
            {% csrf_token %}

            <div id="search-text" class="input-group">
                {{ form.text }}

                <span class="input-group-btn">
                    <button class="btn btn-default search-button" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>

            <div class="btn-group" id="expand-form-panel" role="group">
                <button id="expand-form-btn" type="button" class="btn btn-default">
                    <i class="fa fa-plus"></i>
                </button>
            </div>

            <h2 id="extended-form-title">Advanced Search</h2>

            <ul class="nav nav-tabs" id="extended-form-tabs">
                <li><a id="all-tab">All <i class="fa"></i></a></li>
                <li class="active"><a data-target="#basic-info-tab" data-toggle="tab">Basic Information <i class="fa"></i></a></li>
                <li><a data-target="#authors-tab" data-toggle="tab">Authors <i class="fa"></i></a></li>
                 <li><a data-target="#editors-tab" data-toggle="tab">Editors <i class="fa"></i></a></li>
            </ul>

            <div id="extended-form" class="form-horizontal">
                
                <div class="tab-content">
                    <div class="tab-pane active" id="basic-info-tab">
                        <div class="form-group">
                            <label for="start_date" id="id_from_year_label" class="control-label col-xs-12 col-sm-2 col-lg-2">Year:</label>
                            <div class="col-xs-6 col-sm-3">
                                <select id="id_from_range" name="from_range" class="selectpicker" data-width="100%">
                                    <option value="<">Less than</option>
                                    <option value="<=">Less than or equal to</option>
                                    <option value=">">Greater than</option>
                                    <option value=">=">Greater than or equal to</option>
                                    <option value="==">Equal to</option>
                                </select>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <div class="input-group date" id="start_date">
                                    <input name="from_year" type="text" class="form-control" placeholder="YYYY"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" id="publication_to_year">
                            <label for="end_date" class="control-label col-xs-12 col-sm-2 col-lg-2">To year:</label>
                            <div class="col-xs-6 col-sm-3">
                                <select name="to_range" class="selectpicker" data-width="100%">
                                    <option value="<">Less than</option>
                                    <option value="<=">Less than or equal to</option>
                                </select>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <div class="input-group date" id="end_date">
                                    <input name="to_year" type="text" class="form-control" placeholder="YYYY"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        {%if publication_types_info %}
                        <div class="form-group">
                            <label for="end_date" class="control-label col-xs-12 col-sm-2 col-lg-2">Publication types:</label>
                            <div class="col-xs-12 col-sm-6">
                                <select name="publication_types" class="selectpicker" multiple data-width="100%">
                                    {% for publication in publication_types_info %}
                                    <option value="{{ publication.child_type }}">{{ publication.child_type|sanitize }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        {% endif %}
                        {% if publication_tags_info %}
                            <div class="form-group">
                                <label for="tags" class="control-label col-xs-12 col-sm-2 col-md-2 col-lg-2">Tags:</label>
                                <div class="col-xs-12 col-sm-6">
                                    <input name="tags" data-provide="typeahead" type="text" class="form-control tag-typeahead">
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <div class="tab-pane" id="authors-tab">
                        {% if form.author_field_count.value %}
                            <div id="member-list">
                                {% for index in form.author_field_count.value|get_range %}
                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-2 col-md-2 col-lg-2">Author {{index}}:</label>
                                        <div class="col-xs-12 col-sm-6">
                                            <input autocomplete="off" name="author_name_{{index}}" data-provide="typeahead" type="text" placeholder="Name" class="form-control author-typeahead">
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {{ form.author_field_count }}
                        <div class="form-group">
                            <div class="centered col-xs-12 col-sm-8">
                                <button id="add-author" type="button" class="btn btn-default">Add an Author</button>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="editors-tab">
                        {% if form.editor_field_count.value %}
                            <div id="editor-list">
                                {% for index in form.editor_field_count.value|get_range %}
                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-2 col-md-2 col-lg-2">Editor {{index}}:</label>
                                        <div class="col-xs-12 col-sm-6">
                                            <input autocomplete="off" name="editor_name_{{index}}" data-provide="typeahead" type="text" placeholder="Name" class="form-control editor-typeahead">
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {{ form.editor_field_count }}
                        <div class="form-group">
                            <div class="centered col-xs-12 col-sm-8">
                                <button id="add-editor" type="button" class="btn btn-default">Add an Editor</button>
                            </div>
                        </div>
                    </div>

                <div class="form-group">
                    <div class="centered col-xs-12 col-sm-8">
                        <button type="submit" class="btn btn-default search-button"><i class="fa fa-search"></i> Search</button>
                    </div>
                </div>

            </div>
        <form>
    </div>
    <div id="loading" style="display: none;">
            <div class="centered">
                <img src="/static/img/loading.gif">
            </div>
    </div>

            <nav>
            <ul class="pagination">
            {% if 'filtered' in request.path %}
                <li><a href="/publications/filtered/1">First</a></li>
            {% else %}
                <li><a href="/publications/1">First</a></li>
            {% endif %}
            {% if publications.has_previous %}
                {% if 'filtered' in request.path %}
                    <li><a href="/publications/filtered/{{ publications.previous_page_number }}">{{ publications.previous_page_number }}</a></li>
                {% else %}
                    <li><a href="/publications/{{ publications.previous_page_number }}">{{ publications.previous_page_number }}</a></li>
                {% endif %}
            {% endif %}
            <li class="active"><a href="#">{{ publications.number }}</a></li>
            {% if publications.has_next %}
                {% if 'filtered' in request.path %}
                    <li><a href="/publications/filtered/{{ publications.next_page_number }}">{{ publications.next_page_number }}</a></li>
                {% else %}
                    <li><a href="/publications/{{ publications.next_page_number }}">{{ publications.next_page_number }}</a></li>
                {% endif %}
            {% endif %}
            {% if 'filtered' in request.path %}
                <li><a href="/publications/filtered/{{ publications.paginator.num_pages }}">Last</a></li>
            {% else %}
                <li><a href="/publications/{{ publications.paginator.num_pages }}">Last</a></li>
            {% endif %}
            </ul>
            </nav>


    <div class="row">
        <div class="col-md-8">
            {% if clean_index %}

                <h2>{{ publications_length }} publication{{ publications|pluralize }}</h2>

            {% else %}

                {% if tag %}
                    <h2>{{ publications_length }} publication{{ publications|pluralize }} with tag <em>'{{ tag.name }}'</em>
                {% elif publication_type %}
                    <h2>{{ publications_length }} {{ publication_type|sanitize|lower }}{{ publications|pluralize }}</em>
                {% elif query_string %}
                    <h2>{{ publications_length }} publication{{ publications|pluralize }} found for <em>'{{ query_string }}'</em>
                {% else %}
                    <h2>{{ publications_length }} publication{{ publications|pluralize }} found
                {% endif %}
                &emsp;<small><a class="btn btn-info btn-xs" href="{% url 'publication_index' page=1 %}">Clean filters</a></small></h2>

            {% endif %}
        </div>
        
    </div>
    

    <div class="row">
        <table class="table table-striped table-bordered table-hover table-responsive">
            <thead>
                <tr>
                    <th class="col-md-8">Title</th>
                    <th class="col-md-1">Year</th>
                    <th class="col-md-2">Type</th>
                    <th class="col-md-1 text-center">
                        <i class="fa fa-file-pdf-o"></i>
                    </th>
                </tr>
            </thead>

            <tbody>
                {% for publication in publications %}
                    <tr class="vertical-alignment">
                        <td class="col-md-8">
                            <a href="{% url 'publication_info' publication.slug %}">
                                {{ publication.title }}
                            </a>

                            <br>

                            {% include 'publications/publication_authors.html' %}
                        </td>

                        <td class="col-md-1 centered">
                            {{ publication.year }}
                        </td>

                        <td class="col-md-2">
                            <a href="{% url 'view_publication_type' publication.child_type %}">
                                {{ publication.child_type|sanitize }}
                            </a>
                        </td>

                        <td class="col-md-1 centered">
                            {% if publication.pdf %}
                                <a target="_blank" class="btn btn-default btn-xs" href="{{ MEDIA_URL }}{{ publication.pdf }}">
                                    <i class="fa fa-download"></i>
                                    &nbsp;&asymp; {{ publication.pdf.size|filesizeformat }}
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    

    <small class="pull-right">
        <strong>Last update:</strong>&emsp;{{ last_entry.action_time|date:"F d, Y - H:i" }}
    </small>

{% endblock %}



{% block scripts %}
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-tokenfield.min.js' %}"></script>
    <script src="{% static 'js/bootstrap3-typeahead.min.js' %}"></script>
    
    <script>
        var allAuthors = {{author_info|string_list|safe}};
        var allEditors = {{editor_info|string_list|safe}};
        var allTags = {{publication_tags_info|string_list|safe}};
        {% if form_tags %}
        var tags = {{form_tags|string_list|safe}};
        {% endif %}
    </script>

    <script> 
        /* Loads information of the author and editor typeahead */
        $('.author-typeahead').typeahead({source: allAuthors });
        $('.editor-typeahead').typeahead({source: allEditors });
    </script>


    <script>
        $('#id_from_range').change(function(e) {
            value = $('#id_from_range').val();
            if (value == '>=' || value == '>') {
                $('#publication_to_year').show();
                $('#id_from_year_label').text('From year:');
            } else {
                $('#publication_to_year').hide();
                $('#id_from_year_label').text('Year:');
            }
        });
    </script>

    <script>
        $(function() {
            $('.date').datetimepicker({
                viewMode: 'years',
                format: 'YYYY',
                minDate: new Date('{{ request.session.min_publication_year }}-01-01'),
                maxDate: new Date('{{ request.session.max_publication_year }}-12-31')
            });

            $('#start_date').on('dp.change', function (e) {
                if(e.date) {
                    $('#end_date').data("DateTimePicker").minDate(e.date);
                } else
                    $('#end_date').data("DateTimePicker").minDate(new Date('{{ request.session.min_publication_year }}-01-01'));
            });
            
            $('#end_date').on('dp.change', function (e) {
                if(e.date) {
                    $('#start_date').data("DateTimePicker").maxDate(e.date);
                } else
                    $('#start_date').data("DateTimePicker").maxDate(new Date('{{ request.session.max_publication_year }}-12-31'));
            });
        });
    </script>

    <script>
        author_hidden_count = $("[name=author_field_count]");

        $('#add-author').click(function() {
            author_count = parseInt(author_hidden_count.val()) + 1;
            author_hidden_count.val(author_count);

            author_panel = $('#member-list').children('div:first-child').clone();
            author_label = author_panel.find('label');
            author_input = author_panel.find('input');
            
            author_label.text('Author ' + author_count + ':');
            author_input.val('');
            author_input.attr('name', 'author_name_' + author_count);
            author_input.typeahead({source: allAuthors });

            $('#member-list').append(author_panel);
        });
    </script>

    <script>
        editor_hidden_count = $("[name=editor_field_count]");

        $('#add-editor').click(function() {
            editor_count = parseInt(editor_hidden_count.val()) + 1;
            editor_hidden_count.val(editor_count);

            editor_panel = $('#editor-list').children('div:first-child').clone();
            editor_label = editor_panel.find('label');
            editor_input = editor_panel.find('input');
            
            editor_label.text('Editor ' + editor_count + ':');
            editor_input.val('');
            editor_input.attr('name', 'editor_name_' + editor_count);
            editor_input.typeahead({source: allEditors })

            $('#editor-list').append(editor_panel);
        });
    </script>

    <script>          
        // Loads form data from previous search.
        {% if form_from_range %}
        $('#id_from_range').find('[value="{{ form_from_range|safe }}"]').attr('selected', 'true');
        $('#id_from_range').selectpicker('refresh');
        if("{{ form_from_range|safe }}" == '>' || "{{ form_from_range|safe }}" == '>=') {
            $('#publication_to_year').show();
            $('#id_from_year_label').text('From year:');
        }
        {% endif %}

        {% if form_from_year %}
        $('input[name=from_year]').val("{{form_from_year}}");
        {% endif %}

        {% if form_to_year %}
        $('input[name=to_year]').val("{{form_to_year}}");
        {% endif %}
            
        {% if form_to_range %}
        $('select[name=to_range]').find('[value="{{ form_to_range|safe }}"]').attr('selected', 'true');
        $('select[name=to_range]').selectpicker('refresh');
        {% endif %}
            
        {% if form_publication_types %}
        
        var type = {{form_publication_types|safe}};
        console.log(type)
        for(var i = 0; i < type.length; i++) {
            $('select[name=publication_types]').find('[value=' + type[i] + ']').attr('selected', 'true');
            $('select[name=publication_types]').selectpicker('refresh');
            
        }
        {% endif %}

        {% if form_authors_name %}
        var authors = {{form_authors_name|string_list|safe}};
        for(var i = 0; i < authors.length; i++) {
            $('input[name=author_name_' + (i+1) + ']').val(authors[i]);
        }
        {% endif %}

        {% if form_editors_name %}
        var editors = {{form_editors_name|string_list|safe}};
        for(var i = 0; i < editors.length; i++) {
            $('input[name=editor_name_' + (i+1) + ']').val(editors[i]);
        }
        {% endif %}
    </script>

    {% if query_string or form_authors_name %}
        <script src="{% static 'js/jquery-highlight.js' %}"></script>

        {% if query_string %}
            <script>
                $('tbody').highlight('{{ query_string }}');
                $('#id_text').attr('placeholder', '{{ query_string }}');
            </script>
        {% endif %}
        {% if form_authors_name %}
            <script>
            for(var i = 0; i < authors.length; i++) {
                $('tbody').highlight(authors[i]);
            }
            </script>
        {% endif %}
    {% endif %}

    <script>
        var populated = false;
        $('#expand-form-btn').click(function() {
            $(this).removeClass('hover');
            var buttonIcon = $(this).children('i');
            if(buttonIcon.hasClass('fa-plus')) {
                buttonIcon.removeClass('fa-plus').addClass('fa-minus');
                $('#extended-form-title, #extended-form-tabs, #extended-form').fadeIn();
                // Loads tags after advanced search panel is visible to fix wrong width calc.
                $('.tag-typeahead').tokenfield({
                    autocomplete: {
                    source: allTags,
                    delay: 100
                },
                    showAutocompleteOnFocus: true
                });
                //Loads tags filter values after typeahead is populated.
                {% if form_tags %}
                if(!populated) {
                    $('input[name=tags]').tokenfield('setTokens', tags);
                    populated = true;
                }
                {% endif %}

            } else {
                buttonIcon.removeClass('fa-minus').addClass('fa-plus');
                $('#extended-form-title, #extended-form-tabs, #extended-form').fadeOut();
            }
        });

        $('#all-tab').click(function() {
            $('#extended-form-tabs li.active').removeClass('active');
            $(this).parent().addClass('active');
            $('.tab-pane').addClass('active');
        });

        $('.search-button').click(function() {
            $('#loading').show();
        });
    </script>

{% endblock %}
