{% extends "labman_ud/base.html" %}
{% load pagination_tags sanitize_types staticfiles get_range%}



{% block content %}

    <div id="form-section">
        <form class="form-search" action="" method="post">
            {% csrf_token %}

            <div id="search-text" class="input-group">
                {{ form.text }}

                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>

            <div class="btn-group" role="group">
                <button id="expand-form-btn" type="button" class="btn btn-default">
                    <i class="fa fa-plus"></i>
                </button>
            </div>

            <h2 id="extended-form-title">Advanced Search</h2>

            <ul class="nav nav-tabs" id="extended-form-tabs">
                <li><a id="all-tab">All <i class="fa"></i></a></li>
                <li class="active"><a data-target="#basic-info-tab" data-toggle="tab">Basic Information <i class="fa"></i></a></li>
                <li><a data-target="#authors-tab" data-toggle="tab">Authors <i class="fa"></i></a></li>
                 <li><a data-target="#editors-tab" data-toggle="tab">Editors <i class="fa"></i></a></li>
            </ul>

            <div id="extended-form" class="form-horizontal">
                
                <div class="tab-content">
                    <div class="tab-pane active" id="basic-info-tab">
                        <div class="form-group">
                            <label for="start_date" id="id_from_year_label" class="control-label col-xs-12 col-sm-2 col-lg-2">Year:</label>
                            <div class="col-xs-6 col-sm-3">
                                <select id="id_from_range" name="from_range" class="selectpicker" data-width="100%">
                                    <option value="<">Less than</option>
                                    <option value="<=">Less than or equal to</option>
                                    <option value=">">Greater than</option>
                                    <option value=">=">Greater than or equal to</option>
                                    <option value="==">Equal to</option>
                                </select>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <div class="input-group date" id="start_date">
                                    <input name="from_year" type="text" class="form-control" placeholder="YYYY"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" id="publication_to_year">
                            <label for="end_date" class="control-label col-xs-12 col-sm-2 col-lg-2">To year:</label>
                            <div class="col-xs-6 col-sm-3">
                                <select name="to_range" class="selectpicker" data-width="100%">
                                    <option value="<">Less than</option>
                                    <option value="<=">Less than or equal to</option>
                                </select>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <div class="input-group date" id="end_date">
                                    <input name="to_year" type="text" class="form-control" placeholder="YYYY"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        {%if publication_types_info %}
                        <div class="form-group">
                            <label for="end_date" class="control-label col-xs-12 col-sm-2 col-lg-2">Publication types:</label>
                            <div class="col-xs-12 col-sm-6">
                                <select name="publication_types" class="selectpicker" multiple data-width="100%">
                                    {% for publication in publication_types_info %}
                                    <option value="{{ publication.child_type }}">{{ publication.child_type|sanitize }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        {% endif %}
                        {% if publication_tags_info %}
                            <div class="form-group">
                                <label for="tags" class="control-label col-xs-12 col-sm-2 col-md-2 col-lg-2">Tags:</label>
                                <div class="col-xs-12 col-sm-6">
                                    <select name="tags" class="selectpicker" multiple data-width="100%">
                                        {% for publication_tag in publication_tags_info %}
                                                <option value="{{ publication_tag.id }}">{{ publication_tag.name }}</option>
                                            {% endfor %}
                                    </select>
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <div class="tab-pane" id="authors-tab">
                        {% if form.author_field_count.value %}
                            <div id="member-list">
                                {% for index in form.author_field_count.value|get_range %}
                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-2 col-md-2 col-lg-2">Author {{index}}:</label>
                                        <div class="col-xs-12 col-sm-6">
                                            <input name="author_name_{{index}}" type="text" placeholder="Name" class="form-control">
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {{ form.author_field_count }}
                        <div class="form-group">
                            <div class="centered col-xs-12 col-sm-8">
                                <button id="add-author" type="button" class="btn btn-default">Add an Author</button>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="editors-tab">
                        {% if form.editor_field_count.value %}
                            <div id="editor-list">
                                {% for index in form.editor_field_count.value|get_range %}
                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-2 col-md-2 col-lg-2">Editor {{index}}:</label>
                                        <div class="col-xs-12 col-sm-6">
                                            <input name="editor_name_{{index}}" type="text" placeholder="Name" class="form-control">
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {{ form.editor_field_count }}
                        <div class="form-group">
                            <div class="centered col-xs-12 col-sm-8">
                                <button id="add-editor" type="button" class="btn btn-default">Add an Editor</button>
                            </div>
                        </div>
                    </div>

                <div class="form-group">
                    <div class="centered col-xs-12 col-sm-8">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i> Search</button>
                    </div>
                </div>

            </div>
        <form>
    </div>

    <div class="row">
        <div class="col-md-8">
            {% if clean_index %}

                <h2>{{ publications_length }} publication{{ publications|pluralize }}</h2>

            {% else %}

                {% if tag %}
                    <h2>{{ publications_length }} publication{{ publications|pluralize }} with tag <em>'{{ tag.name }}'</em>
                {% elif publication_type %}
                    <h2>{{ publications_length }} {{ publication_type|sanitize|lower }}{{ publications|pluralize }}</em>
                {% elif query_string %}
                    <h2>{{ publications_length }} publication{{ publications|pluralize }} found for <em>'{{ query_string }}'</em>
                {% endif %}
                &emsp;<small><a class="btn btn-info btn-xs" href="{% url 'publication_index' %}">Clean filters</a></small></h2>

            {% endif %}
        </div>

        <div class="col-md-4">
            {% autopaginate publications %}

            {% paginate %}
        </div>
    </div>

    <div class="row">
        <table class="table table-striped table-bordered table-hover table-responsive">
            <thead>
                <tr>
                    <th class="col-md-8">Title</th>
                    <th class="col-md-1">Year</th>
                    <th class="col-md-2">Type</th>
                    <th class="col-md-1 text-center">
                        <i class="fa fa-file-pdf-o"></i>
                    </th>
                </tr>
            </thead>

            <tbody>
                {% for publication in publications %}
                    <tr class="vertical-alignment">
                        <td class="col-md-8">
                            <a href="{% url 'publication_info' publication.slug %}">
                                {{ publication.title }}
                            </a>

                            <br>

                            {% include 'publications/publication_authors.html' %}
                        </td>

                        <td class="col-md-1 centered">
                            {{ publication.year }}
                        </td>

                        <td class="col-md-2">
                            <a href="{% url 'view_publication_type' publication.child_type %}">
                                {{ publication.child_type|sanitize }}
                            </a>
                        </td>

                        <td class="col-md-1 centered">
                            {% if publication.pdf %}
                                <a target="_blank" class="btn btn-default btn-xs" href="{{ MEDIA_URL }}{{ publication.pdf }}">
                                    <i class="fa fa-download"></i>
                                    &nbsp;&asymp; {{ publication.pdf.size|filesizeformat }}
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <small class="pull-right">
        <strong>Last update:</strong>&emsp;{{ last_entry.action_time|date:"F d, Y - H:i" }}
    </small>

{% endblock %}



{% block scripts %}

    <script>
        $('#publications-nav').addClass('active');
    </script>

    <script>
        $('.pagination').addClass('pagination-sm');
    </script>

    <script>
        author_hidden_count = $("[name=author_field_count]");

        $('#add-author').click(function() {
            author_count = parseInt(author_hidden_count.val()) + 1;
            author_hidden_count.val(author_count);

            author_panel = $('#member-list').children('div:first-child').clone();
            author_label = author_panel.find('label');
            author_input = author_panel.find('input');
            
            author_label.text('Author ' + author_count + ':');
            author_input.val('');
            author_input.attr('name', 'author_name_' + author_count);

            $('#member-list').append(author_panel);
        });
    </script>

    <script>
        editor_hidden_count = $("[name=editor_field_count]");

        $('#add-editor').click(function() {
            editor_count = parseInt(editor_hidden_count.val()) + 1;
            editor_hidden_count.val(editor_count);

            editor_panel = $('#editor-list').children('div:first-child').clone();
            editor_label = editor_panel.find('label');
            editor_input = editor_panel.find('input');
            
            editor_label.text('Editor ' + editor_count + ':');
            editor_input.val('');
            editor_input.attr('name', 'editor_name_' + editor_count);

            $('#editor-list').append(editor_panel);
        });
    </script>

    <script src="{% static 'js/extend-form.js' %}"></script>

    {% if query_string %}
        <script src="{% static 'js/jquery-highlight.js' %}"></script>

        <script>
            $('tbody').highlight('{{ query_string }}');
            $('#id_text').attr('placeholder', '{{ query_string }}');
        </script>
    {% endif %}

{% endblock %}
