{% extends "labman_ud/base.html" %}



{% block content %}

    <div id="publication-header">
        <div class="row">
            <div class="col-md-9">
                <h3>
                    <a href="{% url publication_index %}{{ from_page }}">
                        <img width="32" src="{{ STATIC_PREFIX }}img/back.png" />
                    </a>

                    {{ publication.title }}
                </h3>
            </div> <!-- end .col-md-9 -->

            <div class="col-md-3">
                <div class="centered">
                    <a target="_blank" href="http://dev.morelab.deusto.es/sourceplanet/d2r/resource/publication/{{ publication.slug }}">
                        <img class="rdf-icon" alt="RDF description" title="RDF description" width="32" src="{{ STATIC_PREFIX }}img/rdf.png"/>
                    </a>
                </div>

                <br>

                <blockquote id="publication-type" class="pull-left">
                    <p>
                        <a target="_blank" href="{% url view_publication_type publication.publication_type.slug %}">
                            {{ publication.publication_type.name }}
                        </a>
                    </p>
                </blockquote>

            </div>
        </div> <!-- end .row -->
    </div> <!-- end #project-header -->

    <div class="tabbable">

        <div class="col-md-3">
            {% if pdf %}
                <div class="well centered">
                    <a id="document_download" target="_blank" href="{{ MEDIA_PREFIX }}{{ pdf }}">
                        <img src="{{ STATIC_PREFIX }}img/document_download.png"/>
                        <button class="btn btn-primary" id="document-download-button">View document</button>
                        <br>
                        (&asymp; {{ pdf.size|filesizeformat }})
                    </a>
                </div>
            {% endif %}

            <ul id="publication-tabs" class="nav nav-pills nav-stacked">
                <li class="active">
                    <a href="#overview_tab" data-toggle="tab">
                        <i class="icon-info-sign icon-large"></i>&emsp;Overview
                    </a>
                </li>

                <li>
                    <a href="#extended_info_tab" data-toggle="tab">
                        <i class="icon-list icon-large"></i>&emsp;Extended info
                    </a>
                </li>

                {% if related_projects %}
                    <li>
                        <a href="#related_tab" data-toggle="tab">
                            <i class="icon-resize-horizontal"></i> Related
                        </a>
                    </li>
                {% endif %}

                {% if tags %}
                    <br>

                    <div class="centered">
                        <h6>Tags</h6>

                        {% for tag in tags %}
                            <li class="tag">
                                <a target="_blank" href="{% url view_publication_tag tag.slug %}">
                                    <span class="label label-info">{{ tag.name }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </div>
                {% endif %}                
            </ul>

        </div>

        <div class="col-md-9">

            <div id="publication-tab-content" class="tab-content publication-template">

                <div class="tab-pane active" id="overview_tab">

                    <h5>Authors:</h5>

                    {% for author in authors %}
                        {% if author.is_active %}
                            <a target="_blank" href="{% url member_info author.slug %}">
                                {{ author.full_name }}
                            </a>
                        {% else %}
                            <a target="_blank" href="{% url person_info author.slug %}">
                                {{ author.full_name }}
                            </a>
                        {% endif %}

                        {% if not forloop.last %}
                            ,&emsp;
                        {% endif %}
                    {% endfor %}

                    <br>
                    <br>

                    <h5>Abstract:</h5>

                    <p id="publication-abstract">
                        {{ publication.abstract }}
                    </p>

                </div> <!-- end tab-pane #overview_tab -->

                <div class="tab-pane" id="extended_info_tab">

                    {% if publication.publication_type.name == 'Conference paper' %}
                        {% include 'publications/templates/conference_paper.html' %}
                    {% endif %}

                    {% if publication.publication_type.name == 'Journal article' %}
                        {% include 'publications/templates/journal_article.html' %}
                    {% endif %}

                    {% if publication.publication_type.name == 'Book section' %}
                        {% include 'publications/templates/book_section.html' %}
                    {% endif %}

                </div> <!-- end tab-pane #extended_info_tab -->

                <div class="tab-pane" id="related_tab">

                    <h5>{{ related_projects|length }} related project{{ related_projets|pluralize }}:</h5>

                    <br>
                    <table class="table table-striped">
                        <tbody>
                            {% for project in related_projects %}
                                <tr>
                                    <td>
                                        <a target="_blank" href="{% url project_info project.slug %}">
                                            <i class="icon-chevron-right"></i> {{ project.full_name }}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    {% if related_publications %}

                        <br>

                        <h5>{{ related_publications|length }} related publication{{ related_publications|pluralize }}</h5>

                        <br>
                        <table class="table table-striped">
                            <tbody>
                                {% for publication in related_publications %}
                                    <tr>
                                        <td>
                                            <a target="_blank" href="{% url publication_info publication.slug %}">
                                                <i class="icon-chevron-right"></i> {{ publication.title }}
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    {% endif %}

                </div> <!-- end tab-pane #related_tab -->

            </div>

        </div>

    </div>

{% endblock %}



{% block scripts %}

    <script>
        $('#publications-nav').addClass('active');
    </script>

{% endblock %}

