{% extends "labman_ud/base.html" %}
{% load static sanitize_types rdf_link rand_int %}



{% block content %}

    <ol class="breadcrumb">
        <li>
            <a href="{% url 'publication_index' %}">Publications</a>
        </li>

        <li>
            <a href="{% url 'view_publication_type' publication.child_type %}">
                {{ publication.child_type|sanitize }}
            </a>
        </li>

        <li class="active">
            {% rdf_icon publication %}
            {{ publication.title }}
        </li>
    </ol>

    <div class="entity-info-nav">
        <a id="publication_overview" class="active" href="{% url 'publication_info' publication.slug %}">
            <i class="fa fa-eye"></i>
            <span class="hidden-xs hidden-sm">
                Overview
            </span>
        </a>

        <a id="publication_ext_info" class="active" href="{% url 'publication_ext_info' publication.slug %}">
            <i class="fa fa-info"></i>
            <span class="hidden-xs hidden-sm">
                Extended information
            </span>
        </a>

        {% if related_publications %}
            <a id="publication_related_pubs" href="{% url 'publication_related_publications' publication.slug %}">
                <i class="fa fa-file-text"></i>
                <span class="hidden-xs hidden-sm">
                    {{ related_publications|length }} publication{{ related_publications|pluralize }}
                </span>
            </a>
        {% endif %}

        {% if related_projects %}
            <a id="publication_related_projects" href="{% url 'publication_related_projects' publication.slug %}">
                <i class="fa fa-gears"></i>
                <span class="hidden-xs hidden-sm">
                    {{ related_projects|length }} project{{ related_projects|pluralize }}
                </span>
            </a>
        {% endif %}
    </div>

    <div class="soften"></div>

    <div class="entity-info-content">
        {% block publication_content %}

            <h3 id="entity-title">
                <i class="fa fa-quote-left"></i>
                {{ publication.title }}
                <i class="fa fa-quote-right"></i>
            </h3>

            <div class="row entity-metadata">
                <div class="col-md-3">
                    <span id="author-list">
                        <i class="fa fa-users"></i>
                        Author{{ authors|pluralize }}
                    </span>

                    <ol>
                        {% for author in authors %}
                            <li>
                                <a href="{% url 'determine_person_info' author.slug %}">
                                    {{ author.full_name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ol>
                </div>

                <div class="col-md-3">
                    {% if pdf %}
                        <div class="centered">
                            <img id="document-download" src="{{ STATIC_URL }}img/document_download.png"/>
                            <br>
                            <a target="_blank" class="btn btn-default btn-xs" href="{{ MEDIA_URL }}{{ pdf }}">
                                <i class="fa fa-download"></i>
                                &nbsp;&asymp; {{ pdf.size|filesizeformat }}
                            </a>
                        </div>
                    {% endif %}

                    {% if publication.bibtex %}
                        <div class="centered">
                            <a data-toggle="modal" href="#bibtex-modal" class="btn btn-default bibtex-button">
                                <img src="{{ STATIC_URL }}img/bibtex.png" width="50" />
                            </a>

                            <div class="modal fade" id="bibtex-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title"><img src="{{ STATIC_URL }}img/bibtex.png" width="150" /></h4>
                                        </div>

                                        <div class="modal-body">
                                        <pre style="text-align: left;">
{{ publication.bibtex }}
                                        </pre>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                                Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>

                <div id="tag-cloud-container" class="col-md-6">
                    <div id="publication-tag-cloud" style="width: 100px; height: 50px;"></div>
                </div>
            </div>

            <blockquote>
                <p>
                    Abstract
                </p>

                <footer>
                    {% if publication.abstract %}
                        {{ publication.abstract }}
                    {% else %}
                        No abstract available.
                    {% endif %}
                </footer>
            </blockquote>

        {% endblock %}
    </div>

{% endblock %}



{% block scripts %}

    <script>
        $('#publications-nav').addClass('active');
    </script>

    <script>
        $('#publication_overview').removeClass('active');
        $('#publication_ext_info').removeClass('active');
        $('#publication_related_pubs').removeClass('active');
        $('#publication_related_projects').removeClass('active');
    </script>

    <script>
        $('#publication-tag-cloud').width($('#tag-cloud-container').width() + 'px');
        var custom_height = $('#publication-tag-cloud').width() * 0.5;

        if (custom_height > 125) {
            custom_height = 125;
        }

        $('#tag-cloud-container').height(custom_height + 'px');
        $('#publication-tag-cloud').height(custom_height + 'px');
    </script>

    <script src="{% static 'js/jqcloud-1.0.4.min.js' %}"></script>

    <script>
        var word_array = [
            {% for tag in tag_list %}
                {text: "{{ tag }}", weight: "{% randInt 2 8 %}", link:"{% url 'view_publication_tag' tag.slug %}"},
            {% endfor %}
        ];

        $(function() {
            $("#publication-tag-cloud").jQCloud(word_array);
        });
    </script>

    {% block publication_scripts %}

         <script>
            $('#publication_overview').addClass('active');
        </script>

    {% endblock %}

{% endblock %}

