{% extends "labman_ud/base.html" %}
{% load staticfiles %}



{% block header_css %}

    <link rel="stylesheet" href="{% static 'css/jqcloud.css' %}"/>

{% endblock %}



{% block content %}

    <div class="centered">
        <!-- Dimensions of the tag cloud container element must be explicitly specified -->
        <div id="publication_tag_cloud" style="width: 1000px; height: 450px;"></div>
    </div>

{% endblock %}



{% block scripts %}

    <script src="{% static 'js/jqcloud-1.0.4.min.js' %}"></script>

    <script>
        $('#publications-nav').addClass('active');
    </script>

    <script>
        var word_array = [
            {% for key, value in tag_dict.items %}
             {text: "{{ key }}", weight: "{{ value }}", link:"{% url 'view_publication_tag' key|slugify %}"},
            {% endfor %}
        ];

        $(function() {
            // When DOM is ready, select the container element and call the jQCloud method,
            // passing the array of words as the first argument.
            $("#publication_tag_cloud").jQCloud(word_array);
        });
    </script>

{% endblock %}

