# -*- encoding: utf-8 -*-

from .base import *


DEBUG = False
TEMPLATE_DEBUG = DEBUG

ALLOWED_HOSTS = ['127.0.0.1', 'localhost']

ADMINS = (
    ('', ''),
)

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': 'test.sqlite3',
        # The following settings are not used with sqlite3:
        'USER': '',
        'PASSWORD': '',
        'HOST': '',
        'PORT': '',
    }
}

USE_X_FORWARDED_HOST = True
FORCE_SCRIPT_NAME = '/labman'

STATIC_URL = '/labman/static/'

MEDIA_URL = '/labman/media/'
MEDIA_ROOT = ''

DEBUG_TOOLBAR_PATCH_SETTINGS = False
