
from .base import *


DEBUG = False

ALLOWED_HOSTS = ['127.0.0.1', 'localhost']

ADMINS = (
    # ('name', 'mail@address.com'),
)

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.',
        'NAME': '',
        'USER': '',
        'PASSWORD': '',
        'HOST': '',
        'PORT': '',
    },
}

TEMPLATES = [
    {
        'BACKEND': 'django.template.backends.django.DjangoTemplates',
        'DIRS': [
            PROJECT_DIR.child('templates'),
        ],
        'APP_DIRS': True,
        'OPTIONS': {
            'context_processors': [
                'django.template.context_processors.debug',
                'django.template.context_processors.request',
                'django.template.context_processors.media',
                'django.contrib.auth.context_processors.auth',
                'django.contrib.messages.context_processors.messages',

                'labman_ud.context_processors.global_vars',
            ],
        },
    },
]

USE_X_FORWARDED_HOST = False

MEDIA_ROOT = ''

DEBUG_TOOLBAR_PATCH_SETTINGS = False

# Email settings
EMAIL_HOST = ''
EMAIL_PORT = 25

# RDF settings

ENABLE_RDF_PUBLISHING = False

SPARQL_ENDPOINT_AUTH = False

SPARQL_ENDPOINT_URL = ''
GRAPH_BASE_URL = ''

SPARQL_ENDPOINT_REALM = ''
SPARQL_ENDPOINT_USER = ''
SPARQL_ENDPOINT_PASSWORD = ''
